<?php 
/** @var Magento\Framework\View\Element\Html\Link\Current $block */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$authorizationLink = $objectManager->get("Override\Customer\Block\Account\AuthorizationLink");
$switcher = $objectManager->get("Magento\Store\Block\Switcher");
?>
<div class="toplinks-header-link-custom">
	<ul>
        <li><a href="<?php echo $block->getUrl('marketplace/store'); ?>">Marketplace</a></li>

<?php if (count($switcher->getStores())>1): ?>
	<li>
		<?php
		$id = $switcher->getIdModifier() ? '-' . $switcher->getIdModifier() : ''?>
		<div class="switcher language switcher-language" data-ui-id="language-switcher" id="switcher-language<?php /* @escapeNotVerified */ echo $id?>">
			<!-- <strong class="label switcher-label"><span><?php /* @escapeNotVerified */ echo __('Language') ?></span></strong> -->
			<div class="actions dropdown options switcher-options dropdown-cus-title">
				<div class="action toggle switcher-trigger" id="switcher-language-trigger<?php /* @escapeNotVerified */ echo $id?>">
					<strong style="background-image:url('<?php /* @escapeNotVerified */ echo $switcher->getViewFileUrl('images/flags/flag_' . $switcher->getCurrentStoreCode() . '.png') ?>');" class="view-<?php echo $switcher->escapeHtml($switcher->getCurrentStoreCode()) ?>">
						<span><?php echo $switcher->escapeHtml($switcher->getStoreName()) ?></span>
					</strong>
				</div>
				<ul class="dropdown-cus">
					<?php foreach ($switcher->getStores() as $_lang): ?>
						<?php if ($_lang->getId() != $switcher->getCurrentStoreId()): ?>
							<li class="view-<?php echo $switcher->escapeHtml($_lang->getCode()); ?> switcher-option">
								<a style="background-image:url('<?php /* @escapeNotVerified */ echo $switcher->getViewFileUrl('images/flags/flag_' . $_lang->getCode() . '.png') ?>');" href="#" data-post='<?php /* @escapeNotVerified */ echo $switcher->getTargetStorePostData($_lang); ?>'>
									<?php echo $switcher->escapeHtml($_lang->getName()) ?></a>
							</li>
						<?php endif; ?>
					<?php endforeach; ?>
				</ul>
			</div>
		</div>
	</li>
<?php endif; ?>

		<li>
			<a href="#" class="dropdown-cus-title">Trung tâm hỗ trợ</a>
			<div class="tooltip-cus support-center">
				<div class="scenter-title">
					<p>Hotline</p>
					<h3>1900 6035</h3>
				</div>
				<a href="<?php echo $block->getUrl('customer-services'); ?>">Hỗ trợ khách hàng</a>
			</div>
		</li>
		<li>
			<a href="#" class="dropdown-cus-title">Tra cứu đơn hàng</a>
			<div class="tooltip-cus order-search">
				<div class="osearch-title"><p>TRA CỨU ĐƠN HÀNG</p></div>
				<form action="">
					<input type="text" placeholder="Địa chỉ email của bạn" />
					<input type="text" placeholder="Mã số đơn hàng của bạn" />
					<button type="submit">TRA CỨU</button>
				</form>
			</div>
		</li>
		<li><a href="#">Người bán</a></li>
		<li><a href="#">FAQ</a></li>
        <?php if (!$authorizationLink->isLoggedIn()){ ?>
            <!-- <li><button type="button" onclick="fnShowPopup('customer-register-pop');">Đăng ký/Đăng nhập</button></li> -->
        <?php } ?>

	</ul>
	<!-- <a href="<?php echo $this->getUrl('customer/account')?>" title="<?php echo __('My Account')?>"><?php echo __('My Account')?></a> -->
</div>

<!-- popup -->
<div class="layer-popup" id="customer-register-pop">
	<div class="popup style2">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8">
				<div class="popup-title">
					<button type="button" class="close-popup" onclick="fnClosePopup();"><i class="ico16 ico-close"></i></button>
					<ul class="tabs-cus" tab-content-id="customer-register-tabs">
						<li class="tab-cus on">Đăng nhập</li>
						<li class="tab-cus">Đăng ký tài khoản</li>
					</ul>
					<ul class="tabs-cus-cnt" id="customer-register-tabs">
						<li class="tab-cus-cnt on">
							<form>
								<input type="text" placeholder="Email" />
								<input type="text" placeholder="Mật khẩu" />
								<div class="checkbox-cus">
									<input type="checkbox" id="remember">
									<label class="show-checkbox-cus" for="remember"></label>
									<label for="remember" class="light-label">Ghi nhớ</label>
								</div>
								<a href="#" class="link-btn fr mtb10 bold600">Quên mật khẩu</a>
								<button type="submit" class="popup-btn">Đăng nhập</button>
							</form>
							<div class="alternative-btns">
								<span class="or">Hoặc</span>
								<button type="button" class="popup-btn blue-btn">Đăng nhập bằng Facebook</button>
								<button type="button" class="popup-btn red-btn mt10">Đăng nhập bằng Google +</button>
							</div>
						</li>

						<li class="tab-cus-cnt">
							<form>
								<input type="text" placeholder="Email" />
								<input type="text" placeholder="Mật khẩu từ 6-20 ký tự, bao gồm cả chữ & số" />
								<input type="text" placeholder="Nhập lại mật khẩu" />
								<div class="checkbox-cus">
									<label>
										<input type="checkbox" id="receiver-newsletter">
										<label class="show-checkbox-cus" for="receiver-newsletter"></label>
										<label for="receiver-newsletter" class="light-label">Nhận thông tin khuyến mãi sớm nhất từ Wholesales.vn</label>
									</label>
								</div>
								<button type="submit" class="popup-btn">Hoàn tất</button>
							</form>
							<p class="term-conditions"> Bằng cách đăng ký tài khoản, bạn đã đồng ý với các<br/> <a href="#" class="link-btn">Điều khoản & Điều kiện</a> và <a href="#" class="link-btn">Chính sách bảo mật</a> của WHOLESALE.vn
							</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<?php echo $block->getLayout()->createBlock("Magento\Cms\Block\Block")->setBlockId("customer-register-banner-img")->toHtml(); ?>
			</div>
		</div>
	</div>
</div>