<div class="checkout-shipping-method">
    <div class="step-title" data-bind="i18n: 'Shipping Methods'" data-role="title">Shipping Methods</div>
    <!-- ko foreach: getRegion('before-shipping-method-form') -->
    <!-- ko template: getTemplate() -->
    <!-- ko foreach: {data: elems, as: 'element'} -->
    <!-- ko if: hasTemplate() --><!-- ko template: getTemplate() -->
    <div class="shipping-policy-block field-tooltip" data-bind="visible: config.isEnabled" style="display: none;">
    <span class="field-tooltip-action" tabindex="0" data-toggle="dropdown" data-bind="mageInit: {'dropdown':{'activeClass': '_active'}}" aria-haspopup="true" aria-expanded="false">
        <!-- ko i18n: 'See our Shipping Policy' --><span>See our Shipping Policy</span><!-- /ko -->
    </span>
        <div class="field-tooltip-content" data-target="dropdown" aria-hidden="true">
            <span data-bind="html: config.shippingPolicyContent"></span>
        </div>
    </div>
    <!-- /ko --><!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
    <div id="checkout-step-shipping_method" class="step-content" data-role="content" role="tabpanel" aria-hidden="false">
        <div class="step-content-title">Lựa chọn dịch vụ giao hàng</div>
        <!-- ko if: rates().length  -->
        <form class="form methods-shipping" id="co-shipping-method-form" data-bind="submit: setShippingInformation" novalidate="novalidate">
            <div id="checkout-shipping-method-load">
                <table class="table-checkout-shipping-method">
                    <colgroup>
                        <col width="0px">
                        <col width="0px">
                        <col width="10%">
                        <col width="30%">
                    </colgroup>
                    <thead>
                        <tr class="row">
                            <th class="col col-method" data-bind="i18n: 'Select Method'">Select Method</th>
                            <th class="col col-price" data-bind="i18n: 'Price'">Price</th>
                            <th class="col col-carrier" data-bind="i18n: 'Carrier Title'">Carrier Title</th>
                            <th class="col col-method" data-bind="i18n: 'Method Title'">Method Title</th>
                        </tr>
                    </thead>
                    <tbody>

                    <!--ko foreach: { data: rates(), as: 'method'}-->
                    <tr class="row" data-bind="click: $parent.selectShippingMethod">
                        <td class="col col-method">
                            <!-- ko ifnot: method.error_message -->
                            <!-- ko if: $parent.rates().length == 1 -->
                            <input class="radio" type="radio" data-bind="attr: {
                                checked: $parent.rates().length == 1,
                                'value' : method.carrier_code + '_' + method.method_code,
                                'id': 's_method_' + method.method_code,
                                'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                             }" checked="true" value="flatrate_flatrate" id="s_method_flatrate" aria-labelledby="label_method_flatrate_flatrate label_carrier_flatrate_flatrate">
                            <!-- /ko -->
                            <!--ko ifnot: ($parent.rates().length == 1)--><!--/ko-->
                            <!-- /ko -->
                        </td>
                        <td class="col col-price">
                            <!-- ko foreach: $parent.getRegion('price') -->
                            <!-- ko template: getTemplate() -->
                            <!-- ko if:  isDisplayShippingPriceExclTax -->
                            <span class="price"><span class="price" data-bind="text: getFormattedPrice(method.price_excl_tax)">10,00&nbsp;₫</span></span>
                            <!-- /ko -->
                            <!-- ko ifnot: isDisplayShippingPriceExclTax --><!-- /ko -->
                            <!-- ko if:  (isDisplayShippingBothPrices && (method.price_excl_tax != method.price_incl_tax))--><!-- /ko -->
                            <!-- /ko -->
                            <!-- /ko -->
                        </td>

                        <td class="col col-carrier" data-bind="text: method.carrier_title, attr: {'id': 'label_carrier_' + method.method_code + '_' + method.carrier_code}" id="label_carrier_flatrate_flatrate">Flat Rate</td>

                        <td class="col col-method" data-bind="text: method.method_title, attr: {'id': 'label_method_' + method.method_code + '_' + method.carrier_code}" id="label_method_flatrate_flatrate">Fixed</td>
                    </tr>

                    <!-- ko if:  method.error_message --><!-- /ko -->

                    <!-- /ko -->
                    </tbody>
                </table>
            </div>
            <div id="onepage-checkout-shipping-method-additional-load">
                <!-- ko foreach: getRegion('shippingAdditional') --><!-- /ko -->
            </div>
            <!-- ko if: errorValidationMessage().length > 0 --><!-- /ko -->
            <div class="actions-toolbar" id="shipping-method-buttons-container">
                <div class="primary">
                    <button data-role="opc-continue" id="next" type="button" class="button action continue primary">
                        <span><!-- ko i18n: 'Next'--><span><?php echo __("Next"); ?></span><!-- /ko --></span>
                    </button>
                </div>
            </div>
        </form>
        <!-- /ko -->
        <!-- ko ifnot: rates().length > 0 --><!-- /ko -->
    </div>
</div>
<?php
$urlLoading = $this->getUrl("pub/media/");
?>
<script>
    require([
        'jquery'
    ], function ( $,modal ) {
        function addLoadingBody(){
            $("body").css("position","relative");
            $htmlLoading = '<div data-role="loader" class="loading-mask" style="position: absolute;">' +
                '<div class="loader"> <img src="<?php echo $urlLoading; ?>loader-1.gif" alt="Loading..." style="position: absolute;"> </div>' +
                '</div>'
            $("body").append($htmlLoading);
        }
        function removeLoadingBody(){
            $("body").find(".loading-mask").remove();
        }
        function hideSectionShipping(){
            $("#shipping").hide();
            $("#opc-shipping_method").hide();
        }
        function showSectionShipping(){
            $("#shipping").show();
            $("#opc-shipping_method").show();
            $("#payment").hide();
            $("#shipping_process").removeClass("_complete");
            $("#shipping_process").addClass("_active");
            $("#payment_process").removeClass("_active");
        }
        $(document).ready(function(){
            $("#shipping_process").click(function(){
                showSectionShipping();
                $(".table-totals").hide();
                $("#opc-block-shipping-information-addition").hide();
            });
            $("#next").click(function(){
                addLoadingBody();
                $.ajax({
                    url: '<?php echo $block->getCustomCheckOutUrl(); ?>',
                    method: "POST",
                    success: function (data) {
                        $("#right-sider").html($(data).find("#right-sider").html());
                        //Make complete shipping
                        $("#shipping_process").removeClass("_active");
                        $("#shipping_process").addClass("_complete");
                        hideSectionShipping();
                        //Reload summary
                        $(".table-totals").show();
                        $("#opc-block-shipping-information-addition").show();
                        //Call payment method
                        $("#payment").show();
                        $("#payment_process").addClass("_active");
                        removeLoadingBody();
                    }
                });
            });
        });
    });
</script>