<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
/**
 * Category layered navigation
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation
 */
?>
<?php 
	if (!$this->_getConfig('isactive', 1)) return;
	
	$value1 = '';$value2 = '';
	$mimax_price = $block->getMinMaxPriceProduct();
	$price = $this->getRequest()->getParam('price');
	
	if($price){
		$values = explode("-",$price);
		$value1 = $values[0];
		$value2 = $values[1];				
	}else{
		$value1 = $mimax_price['min_price'];
		$value2  = $mimax_price['max_price'];
	}
		
	
?>
<?php if ($block->canShowBlock()): ?>
    <div class="block filter" id="layered-filter-block"  data-mage-init='{"collapsible":{"openedState": "active", "collapsible": true, "active": false, "collateral": { "openedState": "filter-active", "element": "body" } }}'>
		<?php $filtered = count($block->getLayer()->getState()->getFilters()) ?>
		
		<?php if ($this->_getConfig('display_title')) : ?>
        <div class="block-title filter-title" data-count="<?php /* @escapeNotVerified */ echo $filtered; ?>">
            <strong data-role="title"><?php echo $this->_getConfig('title', 'Sm ShopBy'); ?></strong>
        </div>
		<?php endif; ?>   
        <div class="block-content filter-content">
            <?php echo $block->getChildHtml('state') ?>

            <?php if ($block->getLayer()->getState()->getFilters()): ?>
                <div class="block-actions filter-actions">
                    <a href="<?php /* @escapeNotVerified */ echo $block->getClearUrl() ?>" class="action clear filter-clear"><span><?php /* @escapeNotVerified */ echo __('Clear All') ?></span></a>
                </div>
            <?php endif; ?>
            <?php $wrapOptions = false; ?>
            <?php foreach ($block->getFilters() as $filter): ?>
                <?php if ($filter->getItemsCount()): ?>
                    <?php if (!$wrapOptions): ?>
                        <strong role="heading" aria-level="2" class="block-subtitle filter-subtitle"><?php /* @escapeNotVerified */ echo __('Shopping Options') ?></strong>
                        <div class="filter-options" id="narrow-by-list" data-role="content" data-mage-init='{"accordion":{"openedState": "active", "collapsible": true, "active": false, "multipleCollapsible": false}}'>
                    <?php  $wrapOptions = true; endif; ?>
                    <div data-role="collapsible" class="filter-options-item">
                        <div data-role="title" class="filter-options-title">
                            <p><?php /* @escapeNotVerified */ echo __($filter->getName()) ?></p>
                        </div>
                        <div data-role="content" class="filter-options-content">							
								<?php if ($filter->getRequestVar() == 'price'): ?>
									<?php if (($this->_getConfig('price_slider')) && ($this->_getConfig('use_ajax'))) : ?>
										<?php include('price.phtml');?>
									<?php else: ?>
										<?php /* @escapeNotVerified */ echo $block->getChildBlock('renderer')->render($filter); ?>	
									<?php endif; ?>	
								<?php else:?>
								<?php /* @escapeNotVerified */ echo $block->getChildBlock('renderer')->render($filter); ?>
							<?php endif; ?>
						</div>
                    </div>
                <?php endif; ?>
            <?php endforeach; ?>
            <?php if ($wrapOptions): ?>
                </div>
            <?php else: ?>
                <script>
                    require([
                        'jquery'
                    ], function ($) {
						$('#layered-filter-block').addClass('filter-no-options');
                    });
                </script>
            <?php endif; ?>
        </div>
    </div>

<?php if ($this->_getConfig('use_ajax')) : ?>
	<?php include('default_js.phtml');?>
<?php endif; ?>

<?php endif; ?>
 
