<?php
$quote = $block->getCheckoutSession()->getQuote();
$totalItems = $quote->getItemsCount();
$items = $quote->getAllItems();
$weight = 0;
foreach($items as $item) {
    $weight += ($item->getWeight() * $item->getQty()) ;
}
$baseTotal =  $quote->getGrandTotal();
$subToTal = $quote->getSubtotal();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$addressShippingQuote = $quote->getShippingAddress();
//echo '<pre>'; print_r($addressShippingQuote->getData()); echo '</pre>';
//var_dump($addressShippingQuote->getData());
//echo $addressShippingQuote->getShippingMethod();
$priceShipping = $addressShippingQuote->getData("base_shipping_amount");
$shipping_description = $addressShippingQuote->getData("shipping_description");
$grandTotal = $addressShippingQuote->getData("grand_total");
?><!-- ko foreach: getRegion('summary') -->
<!-- ko template: getTemplate() -->
<div class="opc-block-summary" data-bind="blockLoader: isLoading">
    <span data-bind="i18n: 'Order Summary'" class="title"><?php echo __("Order Summary") ?></span>
    <!-- ko foreach: elems() -->
    <!-- ko template: getTemplate() -->
    <!-- ko if: isDisplayed() --><!-- /ko -->
    <!-- /ko -->
    <table class="data table table-totals" style="display: none">
        <caption class="table-caption" data-bind="i18n: 'Order Summary'"><?php echo __("Order Summary") ?></caption>
        <tbody>
        <!-- ko foreach: elems() -->
        <!-- ko template: getTemplate() -->
        <!-- ko if: isBothPricesDisplayed() --><!-- /ko -->
        <!-- ko if: !isBothPricesDisplayed() && isIncludingTaxDisplayed() --><!-- /ko -->
        <!-- ko if: !isBothPricesDisplayed() && !isIncludingTaxDisplayed() -->
        <tr class="totals sub">
            <th data-bind="i18n: title" class="mark" scope="row"><?php echo __("Cart Subtotal") ?></th>
            <td class="amount">
                <span class="price" data-bind="text: getValue(), attr: {'data-th': title}" data-th="Cart Subtotal"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($subToTal,true,false); ?></span>
            </td>
        </tr>
        <!-- /ko -->
        <!-- /ko -->

        <!-- ko template: getTemplate() -->
        <!-- ko if: isDisplayed() --><!-- /ko -->
        <!-- /ko -->

        <!-- ko template: getTemplate() -->
        <!-- ko foreach: {data: elems, as: 'element'} --><!-- /ko -->
        <!-- /ko -->

        <!-- ko template: getTemplate() -->
        <!-- ko if: quoteIsVirtual == 0 -->
        <!-- ko if: isBothPricesDisplayed() --><!-- /ko -->
        <!-- ko if: isIncludingDisplayed() --><!-- /ko -->
        <!-- ko if: isExcludingDisplayed() -->
        <tr class="totals shipping excl">
            <th class="mark" scope="row">
                <span class="label" data-bind="i18n: title"><?php echo __("Shipping") ?></span>
                <span class="value" data-bind="text: getShippingMethodTitle()"><?php echo $shipping_description; ?></span>
            </th>
            <td class="amount">
                <!-- ko if: isCalculated() -->
                <span class="price" data-bind="text: getValue(), attr: {'data-th': title}" data-th="Shipping"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($priceShipping,true,false); ?></span>
                <!-- /ko -->
                <!-- ko ifnot: isCalculated() --><!-- /ko -->
            </td>
        </tr>
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->

        <!-- ko template: getTemplate() -->
        <!-- ko if: isDisplayed() --><!-- /ko -->
        <!-- /ko -->

        <!-- ko template: getTemplate() -->
        <!-- ko if: ifShowValue() && !ifShowDetails() --><!-- /ko -->
        <!-- ko if: ifShowValue() && ifShowDetails() --><!-- /ko -->
        <!-- /ko -->

        <!-- ko template: getTemplate() -->
        <!-- ko if: isTaxDisplayedInGrandTotal && isDisplayed() --><!-- /ko -->
        <!-- ko if: !isTaxDisplayedInGrandTotal && isDisplayed() -->
        <tr class="grand totals">
            <th class="mark" scope="row">
                <strong data-bind="i18n: title">Order Total</strong>
            </th>
            <td data-bind="attr: {'data-th': title}" class="amount" data-th="Order Total">
                <strong><span class="price" data-bind="text: getValue()"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($grandTotal,true,false); ?></span></strong>
            </td>
        </tr>
        <!-- /ko -->
        <!-- ko if: isBaseGrandTotalDisplayNeeded() && isDisplayed() --><!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
        </tbody>
    </table>
    <!-- ko template: getTemplate() -->
    <!-- ko foreach: {data: elems, as: 'element'} --><!-- /ko -->
    <!-- /ko -->
    <!-- ko template: getTemplate() -->
    <div class="block items-in-cart active" data-bind="mageInit: {'collapsible':{'openedState': 'active', 'active': isItemsBlockExpanded()}}" data-collapsible="true" role="tablist">
        <div class="title" data-role="title" role="tab" aria-selected="true" aria-expanded="true" tabindex="0">
            <strong role="heading">
                <!-- ko if: maxCartItemsToDisplay < getCartLineItemsCount() --><!-- /ko -->
                <span data-bind="text: getItemsQty()"><?php echo $totalItems; ?></span>
                <!-- ko if: getCartLineItemsCount() == 1 -->
                <!-- ko i18n: 'Item in Cart' --><span><?php echo __("Item in Cart"); ?></span><!-- /ko -->
                <!-- /ko -->
                <!-- ko if: getCartLineItemsCount() > 1 --><!-- /ko -->
            </strong>
        </div>
        <div class="content minicart-items" data-role="content" role="tabpanel" aria-hidden="false" style="display: block;">
            <div class="minicart-items-wrapper overflowed">
                <ol class="minicart-items">
                    <!-- ko foreach: items() -->
                    <?php foreach($items as $item) { ?>
                    <?php
                        $id = $item->getProductId();
                        $name = $item->getName();
                        $sku = $item->getSku();
                        $qty = $item->getQty();
                        $price = $item->getPrice();
                        $parent = $item->getData("parent_item_id");
                        if($parent){
                            continue;
                        }
                        $_product = $objectManager->create('Magento\Catalog\Model\Product')->load($id);
                        $image_url = $block->resizeImage($_product,"product_base_image",60,60)->getUrl();
                    ?>
                    <li class="product-item" id="<?php echo $id; ?>">
                        <div class="product">
                            <!-- ko foreach: $parent.elems() -->
                            <!-- ko template: getTemplate() -->

                            <!-- ko foreach: getRegion('before_details') -->
                            <!-- ko template: getTemplate() -->
                            <span class="product-image-container" style="height: 60px; width: 60px;">
                                <span class="product-image-wrapper">
                                    <img src="<?php echo $image_url; ?>" width="60" height="60" alt="<?php echo $name; ?>">
                                </span>
                            </span>
                            <!-- /ko -->
                            <!-- /ko -->
                            <div class="product-item-details">
                                <div class="product-item-inner">
                                    <div class="product-item-name-block">
                                        <strong class="product-item-name" data-bind="text: $parent.name"><?php echo $name; ?></strong>
                                        <div class="details-qty">
                                            <span class="label"><!-- ko i18n: 'Qty' --><span>Qty</span><!-- /ko --></span>
                                            <span class="value" data-bind="text: $parent.qty"><?php echo $qty; ?></span>
                                        </div>
                                    </div>
                                    <!-- ko foreach: getRegion('after_details') -->
                                    <!-- ko template: getTemplate() -->
                                    <div class="subtotal">
                                        <!-- ko if: isPriceInclTaxDisplayed() && !getRegion('row_incl_tax') --><!-- /ko -->

                                        <!-- ko if: isPriceInclTaxDisplayed() && getRegion('row_incl_tax') --><!-- /ko -->

                                        <!-- ko if: isPriceExclTaxDisplayed() && !getRegion('row_excl_tax') --><!-- /ko -->
                                        <!-- ko if: isPriceExclTaxDisplayed() && getRegion('row_excl_tax') -->
                                    <span class="price-excluding-tax" data-bind="attr:{'data-label': $t('Excl. Tax')}" data-label="Excl. Tax">
                                            <!-- ko foreach: getRegion('row_excl_tax') -->
                                        <!-- ko template: getTemplate() -->
                                        <!-- ko if:  (isDisplayPriceWithWeeeDetails($parents[2])) --><!-- /ko -->

                                        <!-- ko ifnot: (isDisplayPriceWithWeeeDetails($parents[2])) -->
                                        <span class="cart-price">
                                            <span class="price" data-bind="text: getFormattedPrice(getRowDisplayPriceExclTax($parents[2]))"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($price,true,false); ?></span>
                                        </span>
                                        <!-- /ko -->

                                        <!--ko if:  (getWeeeTaxApplied($parents[2]).length > 0) --><!-- /ko -->
                                        <!-- /ko -->
                                        <!-- /ko -->
                                    </span>
                                        <!-- /ko -->
                                    </div>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </div>
                                <!-- ko if: (JSON.parse($parent.options).length > 0)-->
                                <div class="product options" data-bind="mageInit: {'collapsible':{'openedState': 'active'}}" data-collapsible="true" role="tablist">
                                    <span data-role="title" class="toggle" role="tab" aria-selected="false" aria-expanded="false" tabindex="0"><!-- ko i18n: 'View Details' --><span>View Details</span><!-- /ko --></span>
                                    <div data-role="content" class="content" role="tabpanel" aria-hidden="true" style="display: none;">
                                        <strong class="subtitle"><!-- ko i18n: 'Options Details' --><span>Options Details</span><!-- /ko --></strong>
                                        <dl class="item-options">
                                            <!--ko foreach: JSON.parse($parent.options)-->
                                            <dt class="label" data-bind="text: label">Size</dt>
                                            <!-- ko if: ($data.full_view)--><!-- /ko -->
                                            <!-- ko ifnot: ($data.full_view)-->
                                            <dd class="values" data-bind="html: value">S</dd>
                                            <!-- /ko -->

                                            <dt class="label" data-bind="text: label">Color</dt>
                                            <!-- ko if: ($data.full_view)--><!-- /ko -->
                                            <!-- ko ifnot: ($data.full_view)-->
                                            <dd class="values" data-bind="html: value">Green</dd>
                                            <!-- /ko -->
                                            <!-- /ko -->
                                        </dl>
                                    </div>
                                </div>
                                <!-- /ko -->
                            </div>
                            <!-- /ko -->
                            <!-- /ko -->
                        </div>
                    </li>
                    <!-- /ko -->
                <?php } ?>
                </ol>
            </div>
        </div>
        <!-- ko if: maxCartItemsToDisplay < getCartLineItemsCount() --><!-- /ko -->
    </div>
    <!-- /ko -->

    <!-- ko template: getTemplate() -->
    <!-- ko foreach: {data: elems, as: 'element'} --><!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
</div>
<!-- /ko -->
<!--/ko-->
<?php
$shipToFirstName = $addressShippingQuote->getData("firstname");
$shipToLastName = $addressShippingQuote->getData("lastname");
$shipToStreet = $addressShippingQuote->getData("street");
$shipToCity = $addressShippingQuote->getData("city");
$shipToRegion = $addressShippingQuote->getData("region");
$shipToPostCode = $addressShippingQuote->getData("postcode");
$shipToPhone = $addressShippingQuote->getData("telephone");
?>
<div class="opc-block-shipping-information" id="opc-block-shipping-information-addition" style="display: none;">
    <!-- ko foreach: getRegion('shipping-information') -->
    <!-- ko template: getTemplate() -->
    <!-- ko if: (isVisible()) -->
    <div class="shipping-information">
        <div class="ship-to">
            <div class="shipping-information-title">
                <span data-bind="i18n: 'Ship To:'"><?php echo __("Ship To"); ?>:</span>
                <button class="action action-edit" data-bind="click: back">
                    <span data-bind="i18n: 'edit'">edit</span>
                </button>
            </div>
            <div class="shipping-information-content">
                <!-- ko foreach: getRegion('ship-to') -->
                <!-- ko template: getTemplate() -->

                <!-- ko foreach: { data: elems, as: 'element' } -->
                <!-- ko template: element.getTemplate() -->
                <!-- ko if: (visible()) -->
                <!-- ko text: address().prefix --><!-- /ko --> <!-- ko text: address().firstname --><?php echo $shipToFirstName; ?><!-- /ko -->
                <!-- ko text: address().lastname --><?php echo $shipToLastName; ?><!-- /ko --> <!-- ko text: address().suffix --><!-- /ko --><br>
                <!-- ko text: address().street --><?php echo $shipToStreet; ?><!-- /ko --><br>
                <!-- ko text: address().city --><?php echo $shipToCity; ?><!-- /ko -->, <!-- ko text: address().region --><?php echo $shipToRegion; ?><!-- /ko --> <!-- ko text: address().postcode --><?php echo $shipToPostCode; ?><!-- /ko --><br>
                <!-- ko text: getCountryName(address().countryId) -->Việt Nam<!-- /ko --><br>
                <!-- ko text: address().telephone --><?php echo $shipToPhone; ?><!-- /ko --><br>
                <!-- ko foreach: { data: address().customAttributes, as: 'element' } --><!-- /ko -->
                <!-- /ko -->
                <!-- /ko -->
                <!-- /ko -->
                <!-- /ko -->
                <!--/ko-->
            </div>
        </div>
        <div class="ship-via">
            <div class="shipping-information-title">
                <span data-bind="i18n: 'Shipping Method:'">Shipping Method:</span>
                <button class="action action-edit" data-bind="click: backToShippingMethod">
                    <span data-bind="i18n: 'edit'">edit</span>
                </button>
            </div>
            <div class="shipping-information-content">
                <span class="value" data-bind="text: getShippingMethodTitle()"><?php echo $shipping_description ?></span>
            </div>
        </div>
    </div>
    <!--/ko-->
    <!-- /ko -->
    <!--/ko-->
</div>