<form class="form form-edit-account" action="<?php echo $block->escapeUrl($block->getUrl('virtual/money/pay')) ?>" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('* Required Fields')) ?>" autocomplete="off">
    <fieldset class="fieldset info">
        <?php echo $block->getBlockHtml('formkey')?>
        <legend class="legend"><span><?php echo $block->escapeHtml(__('Buy T-Coin With Credit Card')) ?></span></legend><br>
        <div class="field field-name-firstname required">
            <label class="label" for="firstname">
                <span><?php echo $block->escapeHtml(__('Your Name')) ?></span>
            </label>
            <div class="control">
                <input type="hidden" id="id_customer" name="id_customer" value="<?php echo $block->getIdCustomer(); ?>"/>
                <input type="text" id="firstname" name="firstname" value="" title="First Name" class="input-text required-entry" data-validate="{required:true}" aria-required="true">
            </div>
            <label class="label" for="firstname">
                <span><?php echo $block->escapeHtml(__('Credit Card Details')) ?></span>
            </label>
            <div class="control">
                <input type="text" id="card_number" name="card_number" value="" title="Card Number" placeholder="Card Number" class="input-text required-entry" data-validate="{required:true}" aria-required="true">
            </div>
            <br/>
            <div class="control">
                <input type="text" id="card_date" name="card_date" value="" title="Card Date" placeholder="MM/YY" class="input-text required-entry" data-validate="{required:true}" aria-required="true">
            </div>
            <br/>
            <div class="control">
                <input type="text" id="cvv" name="cvv" value="" title="CVV" placeholder="CVV" class="input-text required-entry" data-validate="{required:true}" aria-required="true">
            </div>
            <label class="label" for="firstname">
                <span><?php echo $block->escapeHtml(__('Payment Amount')) ?></span>
            </label>
            <div class="control">
                <input type="text" id="amount" name="amount" value="" title="Amount" placeholder="Amount" class="input-text required-entry" data-validate="{required:true}" aria-required="true">
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar" style="clear: both">
        <div class="primary">
            <button type="submit" class="action save primary" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Save')) ?>"><span><?php echo $block->escapeHtml(__('Save')) ?></span></button>
        </div>
        <div class="secondary">
            <a class="action back" href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>"><span><?php echo $block->escapeHtml(__('Go back')) ?></span></a>
        </div>
    </div>
</form>
<script>
    require([
        "jquery",
        "mage/mage"
    ], function($){
        var dataForm = $('#form-validate');
        var ignore = false;
        dataForm.mage('validation', {
            ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
        });

    });
</script>