<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Catalog\Block\Product\View $block */
?>

<ul>
	<li>
		<i class="ico30 ico-24hours-delivery"></i>
		<p><strong>Bạn muốn nhận hàng trước 17h</strong> chiều hôm nay 04/01?<br/>
			Đặt hàng trong 54 phút tới và chọn giao hàng 2h ở bước thanh toán - <a href="#">Xem chi tiết</a>
		</p>
	</li>
	<li>
		<i class="ico30 ico-gift"></i>
		<p><strong>Bạn muốn gói quà và gửi thiệp?</strong> Hãy chọn hình thức gói quà ở bước thanh toán,<br/>
			Tiki sẽ thực hiện gói quà và in thiệp với thông điệp riêng của bạn! - <a href="#">Xem chi tiết</a>
		</p>
	</li>
</ul>