<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Catalog\Block\Product\View $block */
?>

<div class="product-wholesales-table">
	<table>
		<thead>
			<tr>
				<th>Số lượng</th>
				<th>1</th>
				<th>10</th>
				<th>50</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Đơn giá</td>
				<td>169.000</td>
				<td>167.000</td>
				<td>160.000</td>
			</tr>
			<tr>
				<td>Giá thành viên</td>
				<td colspan="3" class="tc">
					<a href="#" class="login-get-price">
    					<i class="fas fa-user"></i>
    					ĐĂNG NHẬP / ĐĂNG KÝ
    				</a>
    				ĐỂ NHẬN ĐƯỢC GIÁ TỐT HƠN
				</td>
			</tr>
		</tbody>
	</table>
</div>
