<div class="popup-container"></div>
<div class="header-container header-style-1">
	<div class="header-event">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<?php echo $block->getChildHtml('event-top'); ?>
			</div>
		</div>
	</div>

	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-2 language-currency-top">
					<?php echo $block->getChildHtml('language-header'); ?>
					<?php echo $block->getChildHtml('currency-header'); ?>
				</div>
				
				<div class="col-lg-10 col-md-10 col-sm-10 header-top-links">
					<?php echo $block->getChildHtml('toplinks-header-custom'); ?>
				</div>
			</div>
		</div>
	</div>
	
	<div class="header-middle">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 logo-header">
					<?php echo $block->getChildHtml('logo-header'); ?>
				</div>
				
				<div class="col-lg-10 col-md-10 header-middle-right">
					<div class="middle-right-content">
						<div class="searchbox-header">
							<?php echo $block->getChildHtml('search-header-pro'); ?>
						</div>
						<div class="fr">
							<div class="minicart-header">
								<div class="minicart-content">
									<?php echo $block->getChildHtml('cart-header'); ?>
								</div>
							</div>

							<div class="wishlist-header">
								<div class="wishlist-content">
									<?php echo $block->getChildHtml('wish-list-header'); ?>
								</div>
							</div>

							<div class="login-header">
								<div class="login-content">
									<?php echo $block->getChildHtml('login-header-block'); ?>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="header-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 sidebar-megamenu">
					<div class="megamenu-content-sidebar">
						<div class="btn-megamenu">
							<a href="javascript:void(0)" title="<?php echo __('All Categories')?>"><?php echo __('All Categories')?></a>
						</div>
						
						<div class="menu-ver-content">
							<?php
								if($_config->getGeneral('menu_style') == 'megamenu'){
									echo $block->getChildHtml('navigation-header-megamenu');
								} else {
									echo $block->getChildHtml('navigation-header');
								}
							?>
						</div>
					</div>
					
					<div class="navigation-mobile-container">
						<?php echo $block->getChildHtml('navigation.mobile'); ?>
					</div>
				</div>
				
				<div class="col-lg-9 col-md-9 main-megamenu">
					<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('megamenu-horizontal')->toHtml();?>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	jQuery(document).ready(function($){
		$( ".header-style-1 .header-top .header-top-links .toplinks-wrapper .header.links li" ).not( ".myaccount-link" ).mouseover(function() {
			$( ".header-style-1 .header-top .header-top-links .toplinks-wrapper .header.links" ).addClass('toplinks_hover');
		}).mouseout(function() {
			$( ".header-style-1 .header-top .header-top-links .toplinks-wrapper .header.links" ).removeClass('toplinks_hover');
		});
	});
</script>