<?php
/*------------------------------------------------------------------------
 # SM Listing Tabs - Version 2.2.0
 # Copyright (c) 2014 YouTech Company. All Rights Reserved.
 # @license - Copyrighted Commercial Software
 # Author: YouTech Company
 # Websites: http://www.magentech.com
-------------------------------------------------------------------------*/
use Magento\Framework\App\Action\Action; 
$helper = $this->_helper();

$_config = $this->helper('Sm\Market\Helper\Data');
$child_items = $list;
if (!empty($child_items)) {
    $j = $this->getRequest()->getPost('ajax_listingtags_start', 0);
	$nb_type_show = "slider";
	$nb_rows = 1;
	$i = 0;
	$count = count($child_items);
    foreach ($child_items as $_product) {
        $i++;$j++; ?>
        <div class="item ltabs-item new-ltabs-item">
            <div class="item-inner">
				<?php if ($_product->_image) { ?>
					<div class="box-image">
						<a href="<?php echo $_product->link ?>"
						   title="<?php echo $_product->title; ?>"
							<?php echo $helper->parseTarget($this->_getConfig('target')); ?>
							>
							<img src="<?php echo $_product->_image; ?>"
								 title="<?php echo $_product->title; ?>"
								 alt="<?php echo $_product->title; ?>" >
						</a>
						
						<!--LABEL PRODUCT-->

							<?php
								$specialprice = $_product->getSpecialPrice();
								$specialPriceFromDate = $_product->getSpecialFromDate();
								$specialPriceToDate = $_product->getSpecialToDate();
								
								$today = time();
								

								if ($specialprice && $_config->getAdvanced('show_salelabel')) {
									if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)) { ?>
										<div class="label-product label-sale">
											<span class="sale-product-icon">
												<?php echo __('Sale'); ?>
											</span>
										</div>
									<?php }
								}
							?>
							
							<?php
							$now = date("Y-m-d");
							$newsFrom = substr($_product->getNewsFromDate(), 0, 10);
							$newsTo = substr($_product->getNewsToDate(), 0, 10);
							
							if (($newsTo != '' || $newsFrom != '') && $_config->getAdvanced('show_newlabel')) {
								if (($newsTo != '' && $newsFrom != '' && $now >= $newsFrom && $now <= $newsTo) || ($newsTo == '' && $now >= $newsFrom) || ($newsFrom == '' && $now <= $newsTo)) {?>
										<div class="label-product label-new">
											<span class="new-product-icon"><?php echo __('New'); ?></span>
										</div>
								<?php }
							} ?>
							
							
						<!--END LABEL PRODUCT-->
					</div>
				<?php }?>

				<!-- Begin ltabs-content -->
				<?php  ?>
				<div class="product details product-item-details box-info">

					<?php if ((int)$this->_getConfig('product_title_display', 1)) { ?>
						<h2 class="product name product-item-name product-name">
							<a href="<?php echo $_product->link; ?>" title="<?php echo $_product->title; ?>"
								<?php echo $helper->parseTarget($this->_getConfig('target')); ?>
								>
								<?php echo $helper->truncate($_product->title, $this->_getConfig('product_title_maxlength')); ?>
							</a>
						</h2>
					<?php } ?>
					
					<?php if ((int)$this->_getConfig('product_description_display', 1) && $helper->_trimEncode($_product->_description) != '') { ?>
						<div class="ltabs-description">
							<?php echo $_product->_description; ?>
						</div>
					<?php } ?>
						
					<?php if ($this->_getConfig('product_source') != 'media') { ?>
						<?php if ((int)$this->_getConfig('product_reviews_count', 1)) { ?>
								<?php 
									$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
									echo $block->getReviewsSummaryHtml($_product,$templateType,true); 
								?>
						<?php } ?>

						<?php if ((int)$this->_getConfig('product_price_display', 1)) { ?>
							<?php echo $this->getProductPrice($_product); ?>
						<?php } ?>
						

						<div class="bottom-action">
							<?php if($_config->getAdvanced('show_addtocart_button')){?>
							<div class="actions-primary">
								 <?php if ($_product->isSaleable()): ?>
									<?php $postParams = $this->getAddToCartPostParams($_product); 
									$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
									$session = $objectManager->get('\Magento\Framework\View\Element\FormKey');
									?>
									<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
										<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
										<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
										<?php echo $block->getBlockHtml('formkey')?>
										<input  name="form_key" type="hidden" value="<?php echo $session->getFormKey(); ?>" />
										<button type="submit"
												title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
												class="action tocart btn-action btn-cart">
											<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
										</button>
									</form>
								<?php else: ?>
									<?php if ($_product->getIsSalable()): ?>
										<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
									<?php else: ?>
										<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
									<?php endif; ?>
								<?php endif; ?>
							</div>
							<?php } ?>

							
								<div class="secondary-addto-links actions-secondary" data-role="add-to-links">
									<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $_config->getAdvanced('show_wishlist_button') ){ ?>
										<a href="#" data-post='<?php  echo $block->getAddToWishlistParams($_product); ?>'  class="action towishlist btn-action link-wishlist" data-action="add-to-wishlist" title="<?php  echo __('Add to Wish List') ?>">
											<span><?php  echo __('Add to Wish List') ?></span>
										</a>
									<?php } ?>
									<?php if ($block->getAddToCompareUrl() &&  $_config->getAdvanced('show_compare_button') ){ ?>
										<?php
										$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
										?>
										<a href="#" class="action tocompare btn-action link-compare"
										   data-post='<?php  echo $compareHelper->getPostDataParams($_product);?>'
										   data-role="add-to-links"
										   title="<?php  echo __('Add to Compare'); ?>">
											<span><?php  echo __('Add to Compare') ?></span>
										</a>
									<?php }; ?>
								</div>

						</div>

						
						
					<?php } ?>

					<?php if ($this->_getConfig('product_readmore_display') == 1) { ?>
						<div class="ltabs-detail">
							<a href="<?php echo $_product->link ?>"
							   title="<?php echo $_product->title; ?>"
								<?php echo $helper->parseTarget($this->_getConfig('target')); ?>
								>
								<?php echo $this->_getConfig('product_readmore_text', 'Details'); ?>
							</a>
						</div>
					<?php } ?>
				</div>
			</div>
		</div>
        <?php $clear = 'clr1';
        if ($j % 2 == 0) $clear .= ' clr2';
        if ($j % 3 == 0) $clear .= ' clr3';
        if ($j % 4 == 0) $clear .= ' clr4';
        if ($j % 5 == 0) $clear .= ' clr5';
        if ($j % 6 == 0) $clear .= ' clr6';
        ?>
        <?php if( $this->_getConfig('show_loadmore_slider') == 'loadmore'){ ?>
            <div class="<?php echo $clear; ?>"></div>
        <?php } ?>
    <?php
    }
}?>