<?php
$sellerData = $block->getSellerDetail();
$customerData = $block->getCustomerDataSeller();
//check is buyer not show
$status = $sellerData->getData("status");
$sellerStoreDetail = $block->getSellerHaveCreatedStore($sellerData->getData("id_seller_company"));
$group_id = $customerData->getGroupId();
//rewrite url
$rewrite_url = $block->rewriteUrl($sellerData->getData("store_name"));
?>
<style>
    .additional-infor{
        font-weight: bold !important;
    }
    object{
        height:450px !important;
    }
</style>
<?php
if($group_id == 1){
    $class = "warning";
    $text = "Your account is Buyer. Please upgrade or register seller account to active this page. Thank you!";
    ?>
    <div class="page messages" id="real-message"><div data-placeholder="messages"></div>
        <div>
            <div class="messages">
                <div class="message-<?php echo $class ?> <?php echo $class ?> message">
                    <div><?php echo $text ?></div>
                </div>
            </div>
            <div class="messages"></div>
        </div>
    </div>
<?php
}else{
?>
<?php
if($status == 0){
    $class = "warning";
    $text = "Your request seller are processing. It will take for three hours working.";
}
if($status == 1){
    $class = "success";
    $text = "Congratulation! Your seller account was accepted. Now let sell your product.";
}
if($status == 2){
    $class = "error";
    $text = "Sorry! Your seller account was canceled.";
}
?>
<div class="page messages" id="real-message"><div data-placeholder="messages"></div>
    <div>
        <div class="messages">
            <div class="message-<?php echo $class ?> <?php echo $class ?> message">
                <div><?php echo $text ?></div>
            </div>
        </div>
        <div class="messages"></div>
    </div>
</div>
<?php if($status == 2){ ?>
<div class="block block-dashboard-info" id="reason-cancel">
    <div class="block-title"><strong><?php echo __("Reason Cancel"); ?></strong></div>
    <div class="block-content">
        <textarea style="width: 100%;height:150px"><?php echo $sellerData->getData("message_denied") ?></textarea>
    </div>
</div>
<?php } ?>
<?php if($status == 1){ ?>
    <style>
        #myProgress {
            width: 100%;
            background-color: #ddd;
        }
        #myBar {
            width: 0;
            height: 30px;
            background-color: #4CAF50;
            text-align: center;
            line-height: 30px;
            color: white;
        }
    </style>
    <?php if(count($sellerStoreDetail->getData()) <= 0){ ?>
    <div class="block block-dashboard-info" id="reason-cancel">
        <div class="block-title"><strong><?php echo __("Action"); ?></strong></div>
        <div class="block-content">
            <button class="primary" id="create-seller"><?php echo __("Create store"); ?></button>
        </div>
    </div>
    <div class="block block-dashboard-info" id="progess-bar">
        <div id="myProgress">
            <div id="myBar"></div>
        </div>
    </div>
    <?php
    $urlLoading = $this->getUrl("pub/media/");
    ?>
    <script type="text/javascript">
        require([
            'jquery',
            'Magento_Ui/js/modal/modal',
            'Magento_Ui/js/modal/alert'
        ], function ($) {
            function addLoadingBody(){
                $("body").css("position","relative");
                $htmlLoading = '<div data-role="loader" class="loading-mask" style="position: absolute;">' +
                    '<div class="loader"> <img src="<?php echo $urlLoading; ?>loader-1.gif" alt="Loading..." style="position: absolute;"> </div>' +
                    '</div>'
                $("body").append($htmlLoading);
            }
            function removeLoadingBody(){
                $("body").find(".loading-mask").remove();
            }
            $(document).ready(function(){
                function move(percent) {
                    var elem = document.getElementById("myBar");
                    var width = 0;
                    var id = setInterval(frame, 10);
                    function frame() {
                        if (width >= percent) {
                            clearInterval(id);
                        } else {
                            width++;
                            elem.style.width = width + '%';
                            elem.innerHTML = width * 1  + '%';
                        }
                    }
                }
                function keepMove(percentOld,percentNew){
                    var elem = document.getElementById("myBar");
                    var width = percentOld;
                    var id = setInterval(frame, 10);
                    function frame() {
                        if (width >= percentNew) {
                            clearInterval(id);
                        } else {
                            width++;
                            elem.style.width = width + '%';
                            elem.innerHTML = width * 1  + '%';
                        }
                    }
                }
                function nextStep($store_name){
                    $.ajax({
                        url: '<?php echo $block->getUrlImportDatabase(); ?>',
                        method: "POST",
                        data:{"store_name":$store_name},
                        success: function (data) {
                            if(data.error == true){
                                alert("<?php echo __('Đã có lỗi xảy ra trong quá trình tạo store. Xin vui lòng liên hệ tổng đài để hỗ trợ. Chúng tôi xin lỗi về sự bất tiện này') ?>");

                            }else{
                                keepMove(25,50);
                                lastStep($store_name);
                            }
                        }
                    });
                }
                function lastStep($store_name){
                    $.ajax({
                        url: '<?php echo $block->getUrlRunCommandLine(); ?>',
                        method: "POST",
                        data:{"store_name":$store_name},
                        success: function (data) {
                            var jsonData = $.parseJSON(data);
                            if(jsonData.error == true){

                                alert("<?php echo __('Đã có lỗi xảy ra trong quá trình tạo store. Xin vui lòng liên hệ tổng đài để hỗ trợ. Chúng tôi xin lỗi về sự bất tiện này') ?>");

                            }else {

                                keepMove(50,100);

                                var fe_url = jsonData.front_end_url;

                                var be_url = jsonData.back_end_url;

                                finalStep($store_name,fe_url,be_url);

                                removeLoadingBody();
                            }
                        }
                    });
                }
                function finalStep(store_name,front_end_url,back_end_url){

                    $id_seller = $("#id_seller").val();
                    $email_seller = $("#email_seller").val();
                    $.ajax({
                        url: '<?php echo $block->getUrlSaveStore(); ?>',
                        method: "POST",
                        data:{"store_name":store_name,"id_seller":$id_seller,"email":$email_seller,"front_end_url":front_end_url,"back_end_url":back_end_url},
                        success: function (data) {

                            if(data.error == true){
                                alert("<?php echo __('Đã có lỗi xảy ra trong quá trình tạo store. Xin vui lòng liên hệ tổng đài để hỗ trợ. Chúng tôi xin lỗi về sự bất tiện này') ?>");
                            }else{
                                //$htmlRet ='<div class="block-title"><strong><?php echo __("Information Store"); ?></strong></div><div class="block-content"> <a href="'+front_end_url+'" target="_blank"><?php echo __("Store URL"); ?></a> <p></p> <a href="'+back_end_url+'" target="_blank"><?php echo __("Admin URL"); ?></a></div>';
                                //$("#info-store").html($htmlRet);
                                top.location.reload();
                            }
                        }
                    });
                }
                $("#create-seller").click(function(){
                    $('body')
                        .loader({
                            icon: $('#loading_mask_loader img').attr('src')
                        })
                        .loader('show');
                        addLoadingBody();
                    $storeName = $("#store_name_rewrite").text();
                    $.ajax({
                        url: '<?php echo $block->getUrlCopySourcce(); ?>',
                        method: "POST",
                        dataType: "json",
                        data:{"store_name":$storeName},
                        success: function (data) {
                            $jsonData = $.parseJSON(data);
                            if($jsonData.error == true){
                                alert("<?php echo __('Đã có lỗi xảy ra trong quá trình tạo store. Xin vui lòng liên hệ tổng đài để hỗ trợ. Chúng tôi xin lỗi về sự bất tiện này') ?>");
                                removeLoadingBody();
                                $('body').loader('hide');
                            }else{
                                move(25);
                                nextStep($storeName);
                            }
                        }
                    });
                });
            });
        });

    </script>
    <?php }else{ ?>
        <div class="block block-dashboard-info" id="info-store">
            <div class="block-title">
                <strong><?php echo __("Information Store"); ?></strong>
            </div>
            <div class="block-content">
                <a href="<?php echo $sellerStoreDetail->getData('frontend_url'); ?>" target="_blank"><?php echo __("Click here to view your store"); ?>  <span><?php echo $sellerStoreDetail->getData('frontend_url'); ?></span></a>
                <p></p>
                <a href="<?php echo $sellerStoreDetail->getData('backend_url'); ?>" target="_blank"><?php echo __("Click here to view your admin panel"); ?>  <span><?php echo $sellerStoreDetail->getData('backend_url'); ?></span></a></div>
        </div>
    <?php } ?>
<?php } ?>
<div class="block block-dashboard-info">
    <div class="block-title"><strong><?php echo __("Seller Information"); ?></strong></div>
    <div class="block-content">
        <div class="box box-information">
            <strong class="box-title">
                <span><?php echo __("Basic Information"); ?></span>
            </strong>
            <input type="hidden" id="id_seller" value="<?php echo $sellerData->getData("id_seller_company"); ?>" />
            <input type="hidden" id="email_seller" value="<?php echo $customerData->getEmail(); ?>" />
            <div class="box-content">
                <p>
                    <?php echo $customerData->getFirstname() ?><?php echo $customerData->getFirstname(); ?><br>
                    <?php echo $customerData->getEmail() ?><br>

                </p>
            </div>
        </div>
        <div class="box box-newsletter">
            <strong class="box-title">
                <span><?php echo __("Store Name"); ?></span>
            </strong>
            <div class="box-content">
                <p><?php echo $sellerData->getData("store_name"); ?></p>
                <span id="store_name_rewrite" style="display:none"><?php echo $rewrite_url; ?></span>
            </div>
        </div>
    </div>
</div>
<div class="block block-dashboard-addresses">
    <div class="block-title">
        <strong><?php echo __("Company Information") ?></strong>
    </div>
    <div class="block-content">
        <div class="box box-billing-address">
            <strong class="box-title">
                <span><?php echo __("Company Address") ?></span>
            </strong>
            <div class="box-content">
                <address>
                    <?php
                        $biz_type = $sellerData->getData("biz_type");
                        switch ($biz_type){
                            case 0:
                                echo __("Biz Type: None");
                            break;

                            case 1:
                                echo __("Biz Type: Store");
                            break;

                            case 2:
                                echo __("Biz Type: Company");
                            break;
                        }
                    ?>
                    <?php echo $sellerData->getData("company") ?><br>
                    <br>
                    <?php echo $sellerData->getData("address") ?><?php echo $sellerData->getData("street") ?><br>
                    <?php echo $sellerData->getData("city") ?>,  <?php echo $sellerData->getData("district") ?><br>
                    Việt Nam<br>
                    Tax: <?php echo $sellerData->getData("tax") ?>
                </address>
            </div>
        </div>
        <div class="box box-shipping-address">
            <strong class="box-title">
                <span><?php echo __("Company Additional") ?></span>
            </strong>
            <div class="box-content">
                <address>
                    <label for="homepage" class="additional-infor"><?php echo __("Home Page") ?></label> : <span id="homepage"><?php echo $sellerData->getData("home_page"); ?></span>
                    <br>
                    <label for="homepage" class="additional-infor"><?php echo __("Agent Name") ?></label> : <span id="company_agentname"><?php echo $sellerData->getData("agent_name"); ?></span>
                    <br>
                    <label for="homepage" class="additional-infor"><?php echo __("Company Registration Number") ?></label> : <span id="homepage"><?php echo $sellerData->getData("company_registration"); ?></span>
                    <br>
                    <label for="homepage" class="additional-infor"><?php echo __("Bank Name") ?></label> : <span id="homepage"><?php echo $sellerData->getData("bank_name"); ?></span>
                    <br>
                    <label for="homepage" class="additional-infor"><?php echo __("Bank Account") ?></label> : <span id="homepage"><?php echo $sellerData->getData("bank_account"); ?></span>
                    <br>
                    <?php $manufacturing = $sellerData->getData("is_manufacture"); ?>
                    <?php if($manufacturing == 1): ?>
                        <span id="homepage"><?php echo __("My business is manufacturing"); ?></span>
                        <br>
                    <?php else: ?>
                        <span id="homepage"><?php echo __("My business is not manufacturing"); ?></span>
                        <br>
                    <?php endif; ?>

                    <?php $genuine = $sellerData->getData("is_genuine"); ?>
                    <?php if($genuine == 1): ?>
                        <span id="homepage"><?php echo __("My product is genuine"); ?></span>
                        <br>
                    <?php else: ?>
                        <span id="homepage"><?php echo __("My product is not genuine"); ?></span>
                        <br>
                    <?php endif; ?>
                </address>
            </div>
        </div>
    </div>
</div>
<div class="block block-dashboard-addresses">
    <div class="block-title">
        <strong><?php echo __("ETC Information") ?></strong>
    </div>
    <div class="block-content">
        <textarea style="width: 100%;height:130px"><?php echo $sellerData->getData("etc") ?></textarea>
    </div>
</div>
<div class="block block-dashboard-addresses">
    <div class="block-title">
        <strong><?php echo __("Certification 1 Information") ?></strong>
    </div>
    <div class="block-content">
        <?php
            $upload_1 = $sellerData->getData("up_load_cer_1");
            $upload_2 = $sellerData->getData("up_load_cer_2");
            $upload_3 = $sellerData->getData("up_load_cer_3");
            $arrayUpload_1 = explode(".",$upload_1);
            $arrayUpload_2 = explode(".",$upload_2);
            $arrayUpload_3 = explode(".",$upload_3);
            $extension_1 = $arrayUpload_1[count($arrayUpload_1) - 1];
            $extension_2 = $arrayUpload_2[count($arrayUpload_2) - 1];
            $extension_3 = $arrayUpload_3[count($arrayUpload_3) - 1];
        ?>
        <?php if(count(explode("pdf",$extension_1)) > 1){ ?>
            <object data="<?php echo  $block->getBaseUrl()."/pub/media/"; ?><?php echo $upload_1; ?>" type="application/pdf" width="100%" height="400px"><p><b>Example fallback content</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="#">Download PDF</a>.</p></object>
        <?php }else{ ?>
            <img src="<?php echo $block->getBaseUrl()."/pub/media/"; ?><?php echo $upload_1; ?>" width="100%" height="auto"/>
        <?php } ?>
    </div>
</div>
<div class="block block-dashboard-addresses">
    <div class="block-title">
        <strong><?php echo __("Certification 2 Information") ?></strong>
    </div>
    <div class="block-content">
        <?php if(count(explode("pdf",$extension_2)) > 1){ ?>
            <object data="<?php echo $block->getBaseUrl()."/pub/media/"; ?><?php echo $upload_2; ?>" type="application/pdf" width="100%" height="400px"><p><b>Example fallback content</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="#">Download PDF</a>.</p></object>
        <?php }else{ ?>
            <img src="<?php echo $block->getBaseUrl()."/pub/media/"; ?><?php echo $upload_2; ?>" width="100%" height="auto"/>
        <?php } ?>
    </div>
</div>
<div class="block block-dashboard-addresses">
    <div class="block-title">
        <strong><?php echo __("Certification 3 Information") ?></strong>
    </div>
    <div class="block-content">
        <?php if(count(explode("pdf",$extension_3)) > 1){ ?>
            <object data="<?php echo $block->getBaseUrl()."/pub/media/"; ?><?php echo $upload_3; ?>" type="application/pdf" width="100%" height="400px"><p><b>Example fallback content</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="#">Download PDF</a>.</p></object>
        <?php }else{ ?>
            <img src="<?php echo $block->getBaseUrl()."/pub/media/"; ?><?php echo $upload_3; ?>" width="400px" height="auto"/>
        <?php } ?>
    </div>
</div>
<script>
    require([
        'jquery',
    ], function ($) {
        /*var interval = setInterval(function(){
            reloadPage();
        }, 4000);*/
        function reloadPage(){
            $.ajax({
                url: '<?php echo $block->getUrlSellerManager(); ?>',
                method: "GET",
                success: function (data) {
                    var ret = $($(data).find(".col-lg-9")[1]).html();
                    $($(".col-lg-9")[1]).html(ret);
                }
            });
        }
    });
</script>
<?php } ?>