<?php
/** @var Libero\Customer\Block\Seller\View $block */
?>
<div class="block block-seller-register">
    <div class="block-title full-wrapper">
        <img src="<?php echo $block->getUrl('pub/media/wysiwyg'); ?>banner\seller-register-banner.png" alt="">
        <div class="support-seller">
            <div class="support-seller-desc">
                <img src="<?php echo $block->getUrl('pub/media/wysiwyg'); ?>contact-chat.png" alt="">
                <p>NẾU BẠN CÓ THẮC MẮC CẦN HỖ TRỢ.<br/>XIN LIÊN HỆ NGAY VỚI CHÚNG TÔI.</p>
            </div>
            <div class="support-seller-contact">
                <ul>
                    <li>
                        <i class="ico32 ico-phone2"></i>
                        <p><a href="mailto:support@wholesale.vn">support@wholesale.vn</a></p>
                    </li>
                    <li>
                        <i class="ico32 ico-mail2"></i>
                        <p><a href="tel:19006035" class="base-color f150p">1900 - 6035</a> <span>(Cước phí 1000đ / phút)</span></p>
                    </li>
                </ul>
            </div>
        </div>
        <strong id="block-customer-login-heading" role="heading" aria-level="2"><?php echo $block->escapeHtml(__('Register form for seller')) ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-customer-login-heading" style="margin-top:2%;">
        <form class="form form-login"
              onsubmit="return fnValidateUploadFile();"
              action="<?php echo $block->escapeUrl($block->getPostActionUrl()) ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}' enctype='multipart/form-data'>
            <?php echo $block->getBlockHtml('formkey'); ?>
            <input type="hidden" value="<?php echo $block->randomTokenonFormToSendOtp(); ?>" name="token" id="token" />
            <fieldset class="fieldset login" data-hasrequired="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('* Required Fields')) ?>">
                
                <div class="reg-section">
                    <div class="title-tab">
                        <span><?php echo __("Basic Information") ?></span>
                    </div>
                    <div class="content-field">
                        <div class="row">
                            <div class="field phone col-lg-3 col-sm-3 col-xs-6">
                                <label for="store_name" class="label"><span><?php echo $block->escapeHtml(__('Store Name')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <input type="text" name="store_name" value="" placeholder="Store Name" id="store_name" data-validate="{required:true}">
                                </div>
                            </div>
                            <div class="field email required col-lg-3 col-sm-3 col-xs-6">
                                <label class="label" for="email"><span><?php echo $block->escapeHtml(__('Email')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <input name="email" value=""  autocomplete="off" id="email" type="email" class="input-text" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Email')) ?>" data-validate="{required:true, 'validate-email':true}">
                                </div>
                            </div>
                            <div class="field password required col-lg-3 col-sm-3 col-xs-6">
                                <label for="pass" class="label"><span><?php echo $block->escapeHtml(__('Password')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <input name="password" type="password" autocomplete="off" class="input-text" id="pass" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Password')) ?>" data-validate="{required:true}">
                                </div>
                            </div>
                            <div class="field password required col-lg-3 col-sm-3 col-xs-6">
                                <label for="pass_2" class="label"><span><?php echo $block->escapeHtml(__('Confirm Password')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <input name="password_2" type="password" autocomplete="off" class="input-text" id="pass_2" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Confirm Password')) ?>" data-validate="{required:true}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field phone col-lg-3 col-sm-3 col-xs-6">
                                <label for="phone" class="label"><span><?php echo $block->escapeHtml(__('Phone')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <input type="text" name="phone" value="" placeholder="Telephone" id="phone" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Company')) ?>" data-validate="{required:true}">
                                </div>
                            </div>
                            <div class="field name required  col-lg-3 col-sm-3 col-xs-6">
                                <label for="seller_name" class="label"><span><?php echo $block->escapeHtml(__('Seller Name')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <input type="text" name="seller_name" value="" placeholder="Seller Name" id="seller_name" data-validate="{required:true}">
                                </div>
                            </div>
                            <div class="field phone col-lg-3 col-sm-3 col-xs-6">
                                <label for="hot_line" class="label"><span><?php echo $block->escapeHtml(__('Hot Line')) ?></span></label>
                                <div class="control">
                                    <input type="text" name="hot_line" value="" placeholder="Hot Line" id="hot_line">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reg-section">
                    <div class="title-tab">
                        <span><?php echo __("Company Information") ?></span>
                    </div>
                    <div class="content-field">
                        <div class="row">
                            <div class="field biz-type required col-lg-3 col-sm-3 col-sx-6">
                                <label class="label" for="company"><span><?php echo $block->escapeHtml(__('Biz Type')) ?></span></label>
                                <div class="control">
                                    <select name="biz_type" id="biz_type">
                                        <option value="0">None</option>
                                        <option value="1">Store</option>
                                        <option value="2">Company</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field company required col-lg-3 col-sm-3 col-sx-6">
                                <label class="label" for="company"><span><?php echo $block->escapeHtml(__('Company')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <input name="company" value=""  autocomplete="off" id="company" type="text" class="input-text" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Company')) ?>" data-validate="{required:true}">
                                </div>
                            </div>
                            <div class="field agent_name col-lg-3 col-sm-3 col-sx-6">
                                <label for="agent_name" class="label"><span><?php echo $block->escapeHtml(__('Agent Name')) ?></span></label>
                                <div class="control">
                                    <input type="text" name="agent_name" value="" placeholder="Agent Name" id="agent_name">
                                </div>
                            </div>
                            <div class="field registration_number col-lg-3 col-sm-3 col-sx-6">
                                <label for="registration_number" class="label"><span><?php echo $block->escapeHtml(__('Company Registration Number')) ?></span></label>
                                <div class="control">
                                    <input type="text" name="registration_number" value="" placeholder="Agent Name" id="registration_number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field address required col-lg-3 col-sm-3 col-sx-6">
                                <label class="label" for="address"><span><?php echo $block->escapeHtml(__('Address')) ?></span><span class="required-field">*</span></label>
                                <div class="control">
                                    <input name="address" value=""  autocomplete="off" id="address" type="text" class="input-text" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Address')) ?>" data-validate="{required:true}">
                                </div>
                            </div>
                            <div class="field city required col-lg-3 col-sm-3 col-sx-6">
                                <label class="label" for="city"><span><?php echo $block->escapeHtml(__('City')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <select name="city_app" id="city_app" data-validate="{required:true}">
                                    </select>
                                    <input type="hidden" name="city" id="city"  value="">
                                </div>
                            </div>
                            <div class="field district required col-lg-3 col-sm-3 col-sx-6">
                                <label class="label" for="district"><span><?php echo $block->escapeHtml(__('District')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <select name="province" id="province" data-validate="{required:true}">
                                    </select>
                                    <input type="hidden" name="district" id="district"  value="">
                                </div>
                            </div>
                            <div class="field street required col-lg-3 col-sm-3 col-sx-6">
                                <label class="label" for="street"><span><?php echo $block->escapeHtml(__('Ward')) ?><span class="required-field">*</span></span></label>
                                <div class="control">
                                    <select name="ward" id="ward" data-validate="{required:true}">
                                    </select>
                                    <input type="hidden" name="street" id="street"  value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field bank_name col-lg-3 col-sm-3 col-sx-6">
                                <label for="bank_name" class="label"><span><?php echo $block->escapeHtml(__('Bank Name')) ?></span></label>
                                <div class="control">
                                    <input type="text" name="bank_name" value="" placeholder="Bank Name" id="bank_name">
                                </div>
                            </div>
                            <div class="field bank_account col-lg-3 col-sm-3 col-sx-6">
                                <label for="bank_account" class="label"><span><?php echo $block->escapeHtml(__('Bank Account')) ?></span></label>
                                <div class="control">
                                    <input type="text" name="bank_account" value="" placeholder="Bank Account" id="bank_account">
                                </div>
                            </div>
                            <div class="field homepage col-lg-3 col-sm-3 col-sx-6">
                                <label for="homepage" class="label"><span><?php echo $block->escapeHtml(__('Home Page')) ?></span></label>
                                <div class="control">
                                    <input type="text" name="homepage" value="" placeholder="Home Page" id="homepage">
                                </div>
                            </div>
                            <div class="field tax col-lg-3 col-sm-3 col-sx-6">
                                <label for="tax" class="label"><span><?php echo $block->escapeHtml(__('Tax')) ?></span></label>
                                <div class="control">
                                    <input type="text" name="tax" value="" placeholder="Telephone" id="tax">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field etc col-lg-3 col-sm-3 col-sx-12">
                                <label for="etc" class="label"><span><?php echo $block->escapeHtml(__('ETC')) ?></span></label>
                                <div class="control">
                                    <input type="text" name="etc" value="" placeholder="ETC" id="etc">
                                </div>
                            </div>
                            <div class="field manufacture col-lg-3 col-sm-3 col-sx-6">
                                <label for="manufacture" class="label"><span><?php echo $block->escapeHtml(__('Your business is manufacturing ?')) ?></span></label>
                                <div class="control">
                                    <div class="radio-cus">
                                        <label>
                                            <input type="radio" id="manufacture_yes" name="manufacture" value="1">
                                            <label class="show-radio-cus" for="manufacture_yes"></label>
                                            <label for="manufacture_yes" class="light-label">Yes</label>
                                        </label>
                                    </div>
                                    <div class="radio-cus">
                                        <label>
                                            <input type="radio" id="manufacture_no" name="manufacture" value="0" checked="true">
                                            <label class="show-radio-cus" for="manufacture_no"></label>
                                            <label for="manufacture_no" class="light-label">No</label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="field genuine col-lg-3 col-sm-3 col-sx-6">
                                <label for="genuine" class="label"><span><?php echo $block->escapeHtml(__('Are you genuine product seller ?')) ?></span></label>
                                <div class="control">
                                    <div class="radio-cus">
                                        <label>
                                            <input type="radio" id="genuine_yes" name="genuine" value="1">
                                            <label class="show-radio-cus" for="genuine_yes"></label>
                                            <label for="genuine_yes" class="light-label">Yes</label>
                                        </label>
                                    </div>
                                    <div class="radio-cus">
                                        <label>
                                            <input type="radio" id="genuine_no" name="genuine" value="0" checked="true">
                                            <label class="show-radio-cus" for="genuine_no"></label>
                                            <label for="genuine_no" class="light-label">No</label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="upload_folder">
                        <ul class="field-wrapper">
                            <li class="field upload">
                                <div class="label-text">
                                    <?php echo __("Please attach your business license image. (JPG, PDF, TXT, EXCEL, max 2M)") ?>
                                    <span class="required-field">*</span>
                                </div>
                                <div class="control">
                                    <button type="button" class="upload-file-btn base-color-btn">UPLOAD FILE</button>
                                    <span class="file-name"></span>
                                    <input type="file" name="certification" id="certification" file-extension="JPG, PDF, TXT, EXCEL" value="" data-validate="{required:true}">
                                </div>
                            </li>
                            <li class="field upload">
                                <div class="label-text">
                                    <?php echo __("Please attach your procuration image. (JPG,PDF,TXT,EXCEL, 최대 2M 허용)") ?>
                                    <span class="required-field">*</span>
                                </div>
                                <div class="control">
                                    <button type="button" class="upload-file-btn base-color-btn">UPLOAD FILE</button>
                                    <span class="file-name"></span>
                                    <input type="file" name="certification_1" id="certification_1" file-extension="JPG, PDF, TXT, EXCEL" value="" data-validate="{required:true}">
                                </div>
                            </li>
                            <li class="field upload">
                                <div class="label-text">
                                    <?php echo __("Please attach your procuration image. (JPG,PDF,TXT,EXCEL, 최대 2M 허용)") ?>
                                    <span class="required-field">*</span>
                                </div>
                                <div class="control">
                                    <button type="button" class="upload-file-btn base-color-btn">UPLOAD FILE</button>
                                    <span class="file-name"></span>
                                    <input type="file" name="certification_2" id="certification_2" file-extension="JPG, PDF, TXT, EXCEL" value="" data-validate="{required:true}">
                                </div>
                            </li>
                        </ul>
                        <div class="actions-toolbar">
                            <div class="primary"><button type="submit" class="action login primary base-color-btn" name="send" id="send2"><span><?php echo $block->escapeHtml(__('Tiếp tục')) ?></span></button></div>
                        </div>
                    </div>
                </div>
                
            </fieldset>
        </form>
    </div>
</div>
<script>
    require([
        'jquery',
        'Magento_Ui/js/modal/modal'
    ], function ( $,modal ) {
            $(document).ready(function(){
                $.ajax({
                    url: 'http://prod.boxme.vn/api/public/api/merchant/rest/lading/city',
                    method: "GET",
                    dataType:'json',
                    success: function (data) {
                        $jsonReturn = data.data;
                        $optionsCity =  "<option value=''>Please choose your city</option>";
                        for (var i=0;i<$jsonReturn.length;++i) {
                            $optionsCity+="<option value="+$jsonReturn[i].CityId+">"+$jsonReturn[i].CityName+"</option>"
                        }
                        $("#city_app").html($optionsCity);
                    }
                });
                $("#city_app").change(function(e){
                    $valueCity = $( "#city_app option:selected" ).val();
                    $textCity = $( "#city_app option:selected" ).text();
                    $.ajax({
                        url: 'http://prod.boxme.vn/api/public/api/merchant/rest/lading/province/'+$valueCity,
                        method: "GET",
                        dataType:'json',
                        success: function (data) {
                            $jsonReturn = data.data;
                            $optionsDistrict =  "<option value=''>Please choose your province</option>";
                            for (var i=0;i<$jsonReturn.length;++i) {
                                $optionsDistrict+="<option value="+$jsonReturn[i].ProvinceId+">"+$jsonReturn[i].ProvinceName+"</option>"
                            }
                            $("#province").html($optionsDistrict);
                        }
                    });
                    $("#city").val($textCity);
                });
                $("#province").change(function(e){
                    $valueCity = $( "#province option:selected" ).val();
                    $textProvince = $( "#province option:selected" ).text();
                    $.ajax({
                        url: 'http://prod.boxme.vn/api/public/api/merchant/rest/lading/ward/'+$valueCity,
                        method: "GET",
                        dataType:'json',
                        success: function (data) {
                            $jsonReturn = data.data;
                            $optionsWard =  "<option value=''>Please choose your ward</option>";
                            for (var i=0;i<$jsonReturn.length;++i) {
                                $optionsWard+="<option value="+$jsonReturn[i].WardId+">"+$jsonReturn[i].WardName+"</option>"
                            }
                            $("#ward").html($optionsWard);
                        }
                    });
                    $("#district").val($textProvince);
                });
                $("#ward").change(function(e){
                    $textWard = $( "#ward option:selected" ).text();
                    $("#street").val($textWard);
                });
            });
    });
</script>
