<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\AuthorizationLink $block */
$dataPostParam = '';
$userName = "";
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$modelCustomer = null;
if($customerSession->isLoggedIn()) {
    // customer login action
    $customerModel = $objectManager->get('Magento\Customer\Helper\Session\CurrentCustomer');
    $id_customer = $customerModel->getCustomer()->getId();
    //get Model Customer
    $modelCustomer = $objectManager->create("Magento\Customer\Model\Customer");
    $obj_custojmer = $modelCustomer->load($id_customer);
    $userName = $obj_custojmer->getName();
}
?>

<div class="login-header-wrapper" data-label="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('or')); ?>">
    <?php
    if ($block->isLoggedIn()) {
        ?>
        <a <?php /* @noEscape */ echo $block->getLinkAttributes(); ?><?php /* @noEscape */ echo $dataPostParam; ?> class="signout-btn">
            <?php echo $block->escapeHtml($block->getLabel()); ?>
        </a>
        <a href="<?php echo $block->getUrl(); ?>/customer/account/" class="customer-page" class="username-btn">
            <i class="fas fa-user"></i>
            <span><?php echo $userName ?></span>
        </a>
        <?php
    } else {
        ?>
        <a <?php /* @noEscape */ echo $block->getLinkAttributes(); ?><?php /* @noEscape */ echo $dataPostParam; ?> class="signin-btn">
            <i class="fas fa-user"></i>
            <?php echo $block->escapeHtml($block->getLabel()); ?>
        </a>
        <?php
    }
    ?>
</div>