<?php
$customerData = $block->getCustomerData();
//Check if billing and shipping same
$billingAddressData = $block->getBillingAddress();
$shippingAddressData = $block->getShippingAddress();
$arrayAddress = $block->getArrayAddress($customerData->getId());
$countAddress = count($arrayAddress);
//Cart;
$quote = $block->getCheckoutSession()->getQuote();
$items = $quote->getAllItems();
$weight = 0;
foreach($items as $item) {
    $weight += ($item->getWeight() * $item->getQty()) ;
}
$baseTotal =  $quote->getGrandTotal();
?>
<div class="step-title" data-bind="i18n: 'Shipping Address'" data-role="title">Shipping Address</div>
<div id="checkout-step-shipping" class="step-content" data-role="content">
    <ul class="tabs-cus" tab-content-id="address-tabs">
        <?php for($i=0; $i<$countAddress;$i++){ 
                if($i == 0) { ?>
                    <li class="tab-cus on">Address <?php echo $i+1; ?></li>
                <?php } else {  ?>
                    <li class="tab-cus">Address <?php echo $i+1; ?></li>
                <?php }?>
        <?php } ?>
    </ul>
    <div class="tabs-cus-cnt" id="address-tabs">
        <!-- ko if: (!quoteIsVirtual) -->
        <!-- ko foreach: getRegion('customer-email') -->
        <!-- ko template: getTemplate() -->
        <!-- ko ifnot: isCustomerLoggedIn() --><!-- /ko -->
        <!-- /ko -->
        <!--/ko-->
        <!--/ko-->

        <!-- ko foreach: getRegion('address-list') -->
        <!-- ko template: getTemplate() -->
        <!-- ko if: (visible)-->
        <?php
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $modelShipping = $objectManager->create("Libero\Onestepcheckout\Model\Shipping");
        $dataShipping = $modelShipping->getCollection();
        $retDataShipping = "";
        foreach ($dataShipping as $_dataShip){
            if($_dataShip->getData("status_shipping_method") == 1) {
                $retDataShipping .= $_dataShip->getData("name_shipping_method") . "|";
            }
        }
        ?>
        <?php for($i=0;$i < $countAddress;$i++){ ?>
            <?php
                $item = $arrayAddress[$i];
                $idAddress = $item["entity_id"];
                if($item["is_active"] == "1"){

                    $firstName = $item["firstname"];
                    $lastName = $item["lastname"];
                    $street = $item["street"];
                    $city = $item["city"];
                    $postCode = $item["postcode"];
                    $phone = $item["telephone"];
                    $region = $item["region"];
                }else{
                    continue;
                }
            ?>
            <?php
            $urlLoading = $this->getUrl("pub/media/");
            ?>
        <?php if($i==0) { ?>
            <div class="field addresses tab-cus-cnt on">
        <?php } else { ?>
            <div class="field addresses tab-cus-cnt">
        <?php }?>
            <div class="control">
                <div class="shipping-address-items">
                    <!-- ko foreach: { data: elems, as: 'element' } -->
                    <!-- ko template: element.getTemplate() -->
                    <div class="shipping-address-item <?php echo $i==0 ? 'selected-item' : '' ?>" data-bind="css: isSelected() ? 'selected-item' : 'not-selected-item'">
                        <p class="cus-name">
                            <!-- ko text: address().prefix --><!-- /ko -->
                            <!-- ko text: address().firstname --><?php echo $firstName; ?><!-- /ko -->
                            <!-- ko text: address().lastname --><?php echo $lastName; ?><!-- /ko -->
                            <!-- ko text: address().suffix --><!-- /ko -->
                        </p>

                        <p>
                            Địa chỉ: <!-- ko text: address().street --><?php echo $street; ?><!-- /ko -->,
                            <!-- ko text: address().region --><?php echo $region; ?><!-- /ko -->,
                            <!-- ko text: address().city --><?php echo $city; ?><!-- /ko -->,
                            <!-- ko text: getCountryName(address().countryId) -->Việt Nam<!-- /ko -->
                        </p>

                        <p>
                            Postcode: <!-- ko text: address().postcode --><?php echo $postCode; ?><!-- /ko -->
                        </p>

                        <p>
                            Điện thoại: <!-- ko text: address().telephone --><?php echo $phone; ?><!-- /ko -->
                        </p>

                        <!-- ko foreach: { data: address().customAttributes, as: 'element' } --><!-- /ko -->
                        <!-- ko if: (address().isEditable()) --><!-- /ko -->
                        <input type="hidden" value="<?php echo $postCode ?>" id="postcode_<?php echo $idAddress; ?>"/>
                        <?php
                        $valueAddress= $firstName."|".$lastName."|".$street."|".$city."|VN|".$region."|".$postCode."|".$phone."|".$phone;
                        ?>
                        <input type="hidden" id="value_address_<?php echo $idAddress ?>" value="<?php echo $valueAddress;  ?>"/>
                        <button type="button" data-bind="click: selectAddress" id="address_<?php echo $idAddress; ?>" class="action action-select-shipping-item">
                            <span data-bind="i18n: 'Ship Here'">Ship Here</span>
                        </button>
                        <script>
                            require([
                                'jquery',
                                'Magento_Ui/js/modal/modal',
                                'prototype'
                            ], function ( $,modal ) {
                                var stringShippingData = "<?php echo $retDataShipping; ?>";
                                function addLoading(id_element){
                                    $htmlLoading = '<div data-role="loader" class="loading-mask" style="position: absolute;">' +
                                        '<div class="loader"> <img src="<?php echo $urlLoading; ?>loader-1.gif" alt="Loading..." style="position: absolute;"> </div>' +
                                        '</div>'
                                    $("#"+id_element).append($htmlLoading);
                                }
                                function removeLoading(id_element){
                                    $("#"+id_element).find(".loading-mask").remove();
                                }
                                function saveAddressToQuote(){
                                    var valueAdress = $("#value_address_<?php echo $idAddress ?>").val();
                                    $.ajax({
                                        url: '<?php echo $block->getPostUrlSaveAddressToQuote(); ?>',
                                        method: "POST",
                                        data: {"valueAdress":valueAdress},
                                        success: function (data) {

                                        }
                                    });
                                }
                                function findShipping(name,arrayData){
                                    for(var i=0;i<arrayData.length;i++){
                                        if(name == arrayData[i]){
                                            return true;
                                        }
                                    }
                                    return false;
                                }
                                function getShippingMethod(){
                                    //Cal api ngay tại đây
                                    $("#opc-shipping_method").css("position","relative");
                                    addLoading("opc-shipping_method");
                                    //Khoan dùng đến default shipping
                                    var valueToGetShip = $("#postcode_<?php echo $idAddress; ?>").val();
                                    var arrayToGetShip = valueToGetShip.split("-");
                                    var toCity = arrayToGetShip[0];
                                    var toProvince = arrayToGetShip[1];
                                    var priceOrder = '<?php echo $baseTotal; ?>';
                                    var weight = '<?php echo $weight; ?>';
                                    $.ajax({
                                        url: '<?php echo $block->getPostUrlGetShippingMethod(); ?>',
                                        method: "POST",
                                        data: {"toCity":toCity,"toProvince":toProvince,"price_product":priceOrder,"weight":weight},
                                        success: function (data) {
                                            $(".table-checkout-shipping-method").find("tbody").html("");
                                            var courier = data.data.courier.system;
                                            var countCour = courier.length;
                                            var priceFee = data.data.total_fee;
                                            var arrayShippingData = stringShippingData.split("|");
                                            $htmlRet =  "";
                                            for(var i = 0; i < countCour ; i++){
                                                var item = courier[i];
                                                if(findShipping(item.courier_name,arrayShippingData) == false) continue;

                                                $htmlRet+='<tr class="row" data-bind="click: $parent.selectShippingMethod"> ' +
                                                    '<td class="col col-method"><input class="radio shipping-methods" type="radio" name="shipping_method_ship" value="'+item.courier_id+'" id="s_method_flatrate_'+item.courier_id+'" data-value="'+item.courier_name+'|'+priceFee+'"></td> ' +
                                                    '<td class="col col-price"> ' +
                                                    '<label for="s_method_flatrate_'+item.courier_id+'"><span class="price"><span class="price" data-bind="text: getFormattedPrice(method.price_excl_tax)" data-value='+priceFee+'>'+priceFee+'&nbsp;₫</span></span></label> ' +
                                                    '</td> ' +
                                                    '<td class="col col-carrier" id="label_carrier_flatrate_flatrate"><label for="s_method_flatrate_'+item.courier_id+'"><img src="'+item.courier_logo+'" width="176px" height="40px"/></label></td> ' +
                                                    '<td class="col col-method courier-name" data-value="'+item.courier_name+'"><label for="s_method_flatrate_'+item.courier_id+'">'+item.courier_name+'</label></td>' +
                                                '</tr>';
                                            }
                                            $(".table-checkout-shipping-method").find("tbody").append($htmlRet);
                                            $(".shipping-methods").click(function(e){
                                                $valueShipping = $(this).attr("data-value");
                                                $arrayShippingValue = $valueShipping.split("|");
                                                $arrayData = {
                                                    "name":$arrayShippingValue[0],
                                                    "price":$arrayShippingValue[1]
                                                };
                                                $.ajax({
                                                    url: '<?php echo $block->getPostSaveShippingUrl(); ?>',
                                                    method: "POST",
                                                    data: $arrayData,
                                                    success: function (data) {

                                                    }
                                                });
                                            });
                                            //$$('shipping-methods').invoke('observe', 'click', addShippingMethod(this));
                                            removeLoading("opc-shipping_method");
                                        }
                                    });
                                }
                                $(document).ready(function(){
                                    setTimeout(function(){
                                        $(".action-select-shipping-item")[0].click();
                                    },2500)

                                    $("#address_<?php echo $idAddress; ?>").click(function(e){
                                        $(".shipping-address-item").removeClass("selected-item");
                                        $(this).parent().addClass("selected-item");
                                        getShippingMethod();
                                        saveAddressToQuote();
                                    });
                                });
                            });
                        </script>
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
    <?php } ?>
    </div>
    
    <!-- /ko -->
    <!-- /ko -->
    <!--/ko-->

    <!-- ko foreach: getRegion('address-list-additional-addresses') -->
    <!-- ko template: getTemplate() -->
    <!-- ko foreach: {data: elems, as: 'element'} --><!-- /ko -->
    <!-- /ko -->
    <!--/ko-->

    <!-- Address form pop up -->
    <!-- ko if: (!isFormInline) -->
    <button type="button" data-bind="click: showFormPopUp, visible: !isNewAddressAdded()" class="action action-show-popup">
        <span data-bind="i18n: 'New Address'">New Address</span></button>

    <!-- /ko -->

    <!-- ko foreach: getRegion('before-form') -->
    <!-- ko template: getTemplate() -->
    <!-- ko foreach: {data: elems, as: 'element'} --><!-- /ko -->
    <!-- /ko -->
    <!--/ko-->

    <!-- Inline address form -->
    <!-- ko if: (isFormInline) --><!-- /ko -->

</div>
<?php
    $urlLoading = $this->getUrl("pub/media/");
?>
<script>
    require([
        'jquery',
        'Magento_Ui/js/modal/modal'
    ], function ( $,modal ) {
        function addLoadingBody(){
            $("body").css("position","relative");
            $("body").find(".loading-mask").remove();
            $htmlLoading = '<div data-role="loader" class="loading-mask" style="position: absolute;">' +
                '<div class="loader"> <img src="<?php echo $urlLoading; ?>loader-1.gif" alt="Loading..." style="position: absolute;"> </div>' +
                '</div>'
            $("body").append($htmlLoading);
        }
        function removeLoadingBody(){
            $("body").find(".loading-mask").remove();
        }
        function saveShippingAddress(){
            addLoadingBody();
            $arrayData = {
                "firstname": $("#firstname").val(),
                "lastname": $("#lastname").val(),
                "company": $("#company").val(),
                "street": $("#street").val(),
                "city": $("#city").val(),
                "region": $("#region").val(),
                "phuong": $("#phuong").val(),
                "telephone": $("#telephone").val(),
                "zipcode": $("#zipcode").val(),
                "country": $( "#country option:selected" ).val(),
                "customer_id": "<?php echo $customerData->getId() ?>"
            };
            $.ajax({
                url: '<?php echo $block->getPostUrlSaveAddress(); ?>',
                method: "POST",
                data: $arrayData,
                success: function (data) {
                    removeLoadingBody();
                    top.location.reload();
                }
            });
        }
        $(document).ready(function(){
            $(".action-show-popup").click(function(){
                $("#opc-new-shipping-address").modal(options).modal('openModal');
            });
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: 'Shipping Address',
                buttons: [{
                    text: $.mage.__('Save Address'),
                    class: 'action primary action-save-address',
                    click: function () {
                        this.closeModal();
                        addLoadingBody();
                        $arrayData = {
                            "firstname": $("#firstname").val(),
                            "lastname": $("#lastname").val(),
                            "company": $("#company").val(),
                            "street": $("#street").val(),
                            "city": $("#city").val(),
                            "region": $("#region").val(),
                            "phuong": $("#phuong").val(),
                            "telephone": $("#telephone").val(),
                            "zipcode": $("#zipcode").val(),
                            "country": $( "#country option:selected" ).val(),
                            "customer_id": "<?php echo $customerData->getId() ?>"
                        };
                        $.ajax({
                            url: '<?php echo $block->getPostUrlSaveAddress(); ?>',
                            method: "POST",
                            data: $arrayData,
                            success: function (data) {
                                removeLoadingBody();
                                top.location.reload();
                            }
                        });
                    }
                },
                {
                    text: $.mage.__('Cancel'),
                    class: 'action secondary action-hide-popup',
                    click: function () {
                        this.closeModal();
                    }
                }
                ]
            };
            $.ajax({
                url: 'http://prod.boxme.vn/api/public/api/merchant/rest/lading/city',
                method: "GET",
                dataType:'json',
                success: function (data) {
                    $jsonReturn = data.data;
                    $optionsCity =  "";
                    for (var i=0;i<$jsonReturn.length;++i) {
                        $optionsCity+="<option value="+$jsonReturn[i].CityId+">"+$jsonReturn[i].CityName+"</option>"
                    }
                    $("#city_app").html($optionsCity);
                }
            });
            $("#city_app").change(function(e){
                $valueCity = $( "#city_app option:selected" ).val();
                $textCity = $( "#city_app option:selected" ).text();
                $.ajax({
                    url: 'http://prod.boxme.vn/api/public/api/merchant/rest/lading/province/'+$valueCity,
                    method: "GET",
                    dataType:'json',
                    success: function (data) {
                        $jsonReturn = data.data;
                        $optionsDistrict =  "";
                        for (var i=0;i<$jsonReturn.length;++i) {
                            $optionsDistrict+="<option value="+$jsonReturn[i].ProvinceId+">"+$jsonReturn[i].ProvinceName+"</option>"
                        }
                        $("#province").html($optionsDistrict);

                    }
                });
                $("#city").val($textCity);
            });
            $("#province").change(function(e){
                $valueCity = $( "#province option:selected" ).val();
                $textProvince = $( "#province option:selected" ).text();
                $.ajax({
                    url: 'http://prod.boxme.vn/api/public/api/merchant/rest/lading/ward/'+$valueCity,
                    method: "GET",
                    dataType:'json',
                    success: function (data) {
                        $jsonReturn = data.data;
                        $optionsWard =  "";
                        for (var i=0;i<$jsonReturn.length;++i) {
                            $optionsWard+="<option value="+$jsonReturn[i].WardId+">"+$jsonReturn[i].WardName+"</option>"
                        }
                        $("#ward").html($optionsWard);
                    }
                });
                $("#region").val($textProvince);
                $valueProvince = $( "#province option:selected" ).val();
                var valueZip = $( "#city_app option:selected" ).val()+"-"+$valueProvince;
                $("#zipcode").val(valueZip);
            });
            $("#ward").change(function(e){
                $textWard = $( "#ward option:selected" ).text();
                $("#phuong").val($textWard)
            });
        });
    });
</script>
<div class="block-authentication" data-bind="afterRender: setModalElement, blockLoader: isLoading" style="display: none">
    <div class="block block-new-customer" data-bind="attr: {'data-label': $t('or')}" data-label="or">
        <div class="block-title">
            <strong id="block-new-customer-heading" role="heading" aria-level="2" data-bind="i18n: 'Checkout out as a new customer'">Checkout out as a new customer</strong>
        </div>
        <div class="block-content" aria-labelledby="block-new-customer-heading">
            <p data-bind="i18n: 'Creating an account has many benefits:'">Creating an account has many benefits:</p>
            <ul>
                <li data-bind="i18n: 'See order and shipping status'">See order and shipping status</li>
                <li data-bind="i18n: 'Track order history'">Track order history</li>
                <li data-bind="i18n: 'Check out faster'">Check out faster</li>
            </ul>
            <div class="actions-toolbar">
                <div class="primary">
                    <a class="action action-register primary" data-bind="attr: {href: registerUrl}" href="http://www.devlibero.com/customer/account/create/">
                        <span data-bind="i18n: 'Create an Account'">Tạo một tài khoản</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="block block-customer-login" data-bind="attr: {'data-label': $t('or')}" data-label="or">
        <div class="block-title">
            <strong id="block-customer-login-heading" role="heading" aria-level="2" data-bind="i18n: 'Checkout out using your account'">Checkout out using your account</strong>
        </div>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() -->
        <div data-role="checkout-messages" class="messages" data-bind="visible: isVisible(), click: removeAll">
            <!-- ko foreach: messageContainer.getErrorMessages() --><!--/ko-->
            <!-- ko foreach: messageContainer.getSuccessMessages() --><!--/ko-->
        </div>
        <!-- /ko -->
        <!--/ko-->
        <!-- ko foreach: getRegion('before') -->
        <!-- ko template: getTemplate() -->

        <!-- ko if: isActive() --><!-- /ko --><!-- /ko -->
        <!-- /ko -->
        <div class="block-content" aria-labelledby="block-customer-login-heading">
            <form class="form form-login" method="post" data-bind="submit:login" id="login-form">
                <div class="fieldset login" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}" data-hasrequired="* Required Fields">
                    <div class="field email required">
                        <label class="label" for="email"><span data-bind="i18n: 'Email Address'">Email Address</span></label>
                        <div class="control">
                            <input name="username" id="email" type="email" class="input-text" data-bind="attr: {autocomplete: autocomplete}" data-validate="{required:true, 'validate-email':true}" autocomplete="off">
                        </div>
                    </div>
                    <div class="field password required">
                        <label for="pass" class="label"><span data-bind="i18n: 'Password'">Mật khẩu</span></label>
                        <div class="control">
                            <input name="password" type="password" class="input-text" id="pass" data-bind="attr: {autocomplete: autocomplete}" data-validate="{required:true}" autocomplete="off">
                        </div>
                    </div>
                    <!-- ko foreach: getRegion('additional-login-form-fields') -->
                    <!-- ko template: getTemplate() -->
                    <!-- ko if: (isRequired() && getIsVisible())--><!-- /ko -->
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
                <div class="actions-toolbar">
                    <input name="context" type="hidden" value="checkout">
                    <div class="primary">
                        <button type="submit" class="action action-login secondary" name="send" id="send2">
                            <span data-bind="i18n: 'Sign In'">Đăng nhập</span>
                        </button>
                    </div>
                    <div class="secondary">
                        <a class="action" data-bind="attr: {href: forgotPasswordUrl}" href="http://www.devlibero.com/customer/account/forgotpassword/">
                            <span data-bind="i18n: 'Forgot Your Password?'">Quên mật khẩu?</span>
                        </a>
                    </div>
                </div>
            </form></div>

    </div>
</div>
<div id="opc-new-shipping-address" data-bind="visible: isFormPopUpVisible()" style="display: none">
    <!-- ko template: 'Magento_Checkout/shipping-address/form' -->
    <form class="form form-shipping-address" id="co-shipping-form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}" data-hasrequired="* Required Fields">
        <!-- ko foreach: getRegion('before-fields') -->
        <!-- ko template: getTemplate() -->
        <!-- ko foreach: {data: elems, as: 'element'} --><!-- /ko -->
        <!-- /ko -->
        <!--/ko-->
        <div id="shipping-new-address-form" class="fieldset address">
            <!-- ko foreach: getRegion('additional-fieldsets') -->
            <!-- ko template: getTemplate() -->
            <!-- ko foreach: {data: elems, as: 'element'} -->
            <!-- ko if: hasTemplate() --><!-- ko template: getTemplate() -->
            <div class="field _required" data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses" name="shippingAddress.firstname">
                <label class="label" data-bind="attr: { for: element.uid }" for="AQUW5UH">
                    <!-- ko if: element.label -->
                    <span data-bind="text: element.label">First Name</span>
                    <!-- /ko -->
                </label>
                <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
                    <!-- ko ifnot: element.hasAddons() -->
                    <!-- ko template: element.elementTmpl -->
                    <input class="input-text" type="text" value="<?php echo $customerData->getFirstName();  ?>" name="firstname" placeholder="" aria-describedby="notice-AQUW5UH" id="firstname">
                    <!-- /ko -->
                    <!-- /ko -->

                    <!-- ko if: element.hasAddons() --><!-- /ko -->

                    <!-- ko if: element.tooltip --><!-- /ko -->

                    <!-- ko if: element.notice --><!-- /ko -->

                    <!-- ko if: element.error() --><!-- /ko -->

                    <!-- ko if: element.warn() --><!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
            <!-- /ko --><!-- /ko -->

            <!-- ko if: hasTemplate() --><!-- ko template: getTemplate() -->
            <div class="field _required" data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses" name="shippingAddress.lastname">

                <label class="label" data-bind="attr: { for: element.uid }" for="UHMW97U">
                    <!-- ko if: element.label -->
                    <span data-bind="text: element.label">Last Name</span>
                    <!-- /ko -->
                </label>

                <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
                    <!-- ko ifnot: element.hasAddons() -->
                    <!-- ko template: element.elementTmpl -->
                    <input class="input-text" type="text" value="<?php echo $customerData->getLastName();  ?>" name="lastname" placeholder="" aria-describedby="notice-UHMW97U" id="lastname">
                    <!-- /ko -->
                    <!-- /ko -->

                    <!-- ko if: element.hasAddons() --><!-- /ko -->

                    <!-- ko if: element.tooltip --><!-- /ko -->

                    <!-- ko if: element.notice --><!-- /ko -->

                    <!-- ko if: element.error() --><!-- /ko -->

                    <!-- ko if: element.warn() --><!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
            <!-- /ko --><!-- /ko -->

            <!-- ko if: hasTemplate() --><!-- ko template: getTemplate() -->
            <div class="field" data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses" name="shippingAddress.company">

                <label class="label" data-bind="attr: { for: element.uid }" for="KS0WGR7">
                    <!-- ko if: element.label -->
                    <span data-bind="text: element.label">Công ty</span>
                    <!-- /ko -->
                </label>

                <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
                    <!-- ko ifnot: element.hasAddons() -->
                    <!-- ko template: element.elementTmpl -->
                    <input class="input-text" type="text" value="" name="company" placeholder="" aria-describedby="notice-KS0WGR7" id="company">
                    <!-- /ko -->
                    <!-- /ko -->

                    <!-- ko if: element.hasAddons() --><!-- /ko -->

                    <!-- ko if: element.tooltip --><!-- /ko -->

                    <!-- ko if: element.notice --><!-- /ko -->

                    <!-- ko if: element.error() --><!-- /ko -->

                    <!-- ko if: element.warn() --><!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
            <!-- /ko --><!-- /ko -->

            <!-- ko if: hasTemplate() --><!-- ko template: getTemplate() -->
            <fieldset class="field street admin__control-fields required" data-bind="css: additionalClasses">
                <legend class="label">
                    <span data-bind="text: element.label">Địa chỉ Đường phố</span>
                </legend>
                <div class="control">
                    <!-- ko foreach: { data: elems, as: 'element' } -->

                    <!-- ko if: element.visible() -->

                    <!-- ko ifnot: (element.input_type == 'checkbox' || element.input_type == 'radio') -->
                    <!-- ko template: $parent.fieldTemplate -->
                    <div class="field _required" data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses" name="shippingAddress.street.0">

                        <label class="label" data-bind="attr: { for: element.uid }" for="WXLK1C0">
                            <!-- ko if: element.label --><!-- /ko -->
                        </label>

                        <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
                            <!-- ko ifnot: element.hasAddons() -->
                            <!-- ko template: element.elementTmpl -->
                            <input class="input-text" type="text" name="street" id="street" placeholder="" aria-describedby="notice-WXLK1C0">
                            <!-- /ko -->
                            <!-- /ko -->

                            <!-- ko if: element.hasAddons() --><!-- /ko -->

                            <!-- ko if: element.tooltip --><!-- /ko -->

                            <!-- ko if: element.notice --><!-- /ko -->

                            <!-- ko if: element.error() --><!-- /ko -->

                            <!-- ko if: element.warn() --><!-- /ko -->
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
            </fieldset>
            <!-- /ko --><!-- /ko -->

            <!-- ko if: hasTemplate() --><!-- ko template: getTemplate() -->
            <div class="field _required" data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses" name="shippingAddress.city">

                <label class="label" data-bind="attr: { for: element.uid }" for="FAPIBD3">
                    <!-- ko if: element.label -->
                    <span data-bind="text: element.label">Thành phố</span>
                    <!-- /ko -->
                </label>

                <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
                    <!-- ko ifnot: element.hasAddons() -->
                    <!-- ko template: element.elementTmpl -->
                    <select class="select" name="city_app" id="city_app"></select>
                    <input class="input-text" type="hidden" name="city" id="city" placeholder="" aria-describedby="notice-FAPIBD3">
                    <!-- /ko -->
                    <!-- /ko -->

                    <!-- ko if: element.hasAddons() --><!-- /ko -->

                    <!-- ko if: element.tooltip --><!-- /ko -->

                    <!-- ko if: element.notice --><!-- /ko -->

                    <!-- ko if: element.error() --><!-- /ko -->

                    <!-- ko if: element.warn() --><!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
            <!-- /ko --><!-- /ko -->

            <!-- ko if: hasTemplate() --><!-- ko template: getTemplate() -->
            <div class="field" data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses" name="shippingAddress.region_id" style="display: none;">

                <label class="label" data-bind="attr: { for: element.uid }" for="WRO3HN7">
                    <!-- ko if: element.label -->
                    <span data-bind="text: element.label">Tiểu bang / tỉnh</span>
                    <!-- /ko -->
                </label>

                <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
                    <!-- ko ifnot: element.hasAddons() -->
                    <!-- ko template: element.elementTmpl -->
                    <select class="select" name="region_id" id="WRO3HN7" aria-describedby="notice-WRO3HN7" placeholder=""><option value="">Vui lòng chọn một vùng, bang hoặc tỉnh.</option></select>
                    <!-- /ko -->
                    <!-- /ko -->

                    <!-- ko if: element.hasAddons() --><!-- /ko -->

                    <!-- ko if: element.tooltip --><!-- /ko -->

                    <!-- ko if: element.notice --><!-- /ko -->

                    <!-- ko if: element.error() --><!-- /ko -->

                    <!-- ko if: element.warn() --><!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
            <!-- /ko --><!-- /ko -->

            <!-- ko if: hasTemplate() --><!-- ko template: getTemplate() -->
            <div class="field" data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses" name="shippingAddress.region">

                <label class="label" data-bind="attr: { for: element.uid }" for="YBPSSAJ">
                    <!-- ko if: element.label -->
                    <span data-bind="text: element.label">Tiểu bang / tỉnh</span>
                    <!-- /ko -->
                </label>

                <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
                    <!-- ko ifnot: element.hasAddons() -->
                    <!-- ko template: element.elementTmpl -->
                    <select class="select" name="province" id="province"></select>
                    <input class="input-text" type="hidden"  name="region" id="region" placeholder="" aria-describedby="notice-YBPSSAJ">
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: element.hasAddons() --><!-- /ko -->

                    <!-- ko if: element.tooltip --><!-- /ko -->

                    <!-- ko if: element.notice --><!-- /ko -->

                    <!-- ko if: element.error() --><!-- /ko -->

                    <!-- ko if: element.warn() --><!-- /ko -->
                </div>
            </div>
            <div class="field" data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses" name="shippingAddress.region">

                <label class="label" data-bind="attr: { for: element.uid }" for="YBPSSAJ">
                    <!-- ko if: element.label -->
                    <span data-bind="text: element.label"><?php echo __("Phường/Xã") ?></span>
                    <!-- /ko -->
                </label>

                <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
                    <!-- ko ifnot: element.hasAddons() -->
                    <!-- ko template: element.elementTmpl -->
                    <select class="select" name="ward" id="ward"></select>
                    <input class="input-text" type="hidden"  name="phuong" id="phuong" placeholder="" aria-describedby="notice-YBPSSAJ">
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: element.hasAddons() --><!-- /ko -->

                    <!-- ko if: element.tooltip --><!-- /ko -->

                    <!-- ko if: element.notice --><!-- /ko -->

                    <!-- ko if: element.error() --><!-- /ko -->

                    <!-- ko if: element.warn() --><!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
            <!-- /ko --><!-- /ko -->

            <!-- ko if: hasTemplate() --><!-- ko template: getTemplate() -->
            <div class="field _required" data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses" name="shippingAddress.postcode">

                <label class="label" data-bind="attr: { for: element.uid }" for="RGT6A8W">
                    <!-- ko if: element.label -->
                    <span data-bind="text: element.label">Mã Zip / Mã Bưu điện</span>
                    <!-- /ko -->
                </label>

                <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
                    <!-- ko ifnot: element.hasAddons() -->
                    <!-- ko template: element.elementTmpl -->
                    <input class="input-text" type="text" name="postcode" placeholder="" aria-describedby="notice-RGT6A8W" id="zipcode">
                    <!-- /ko -->
                    <!-- /ko -->

                    <!-- ko if: element.hasAddons() --><!-- /ko -->

                    <!-- ko if: element.tooltip --><!-- /ko -->

                    <!-- ko if: element.notice --><!-- /ko -->

                    <!-- ko if: element.error() --><!-- /ko -->

                    <!-- ko if: element.warn() --><!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
            <!-- /ko --><!-- /ko -->

            <!-- ko if: hasTemplate() --><!-- ko template: getTemplate() -->
            <div class="field _required" data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses" name="shippingAddress.country_id">

                <label class="label" data-bind="attr: { for: element.uid }" for="PQ1L564">
                    <!-- ko if: element.label -->
                    <span data-bind="text: element.label">Quốc gia</span>
                    <!-- /ko -->
                </label>

                <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
                    <!-- ko ifnot: element.hasAddons() -->
                    <!-- ko template: element.elementTmpl -->
                    <select class="select"  name="country_id" id="country" aria-describedby="notice-PQ1L564" placeholder=""><option value=""> </option><option data-title="" value=""></option><option data-title="Afghanistan" value="AF">Afghanistan</option><option data-title="Ai Cập" value="EG">Ai Cập</option><option data-title="Ai-len" value="IE">Ai-len</option><option data-title="Albani" value="AL">Albani</option><option data-title="Algeria" value="DZ">Algeria</option><option data-title="Andorra" value="AD">Andorra</option><option data-title="Angola" value="AO">Angola</option><option data-title="Anguilla" value="AI">Anguilla</option><option data-title="Antigua và Barbuda" value="AG">Antigua và Barbuda</option><option data-title="Argentina" value="AR">Argentina</option><option data-title="Armenia" value="AM">Armenia</option><option data-title="Aruba" value="AW">Aruba</option><option data-title="Azerbaijan" value="AZ">Azerbaijan</option><option data-title="Ba Lan" value="PL">Ba Lan</option><option data-title="Bahamas" value="BS">Bahamas</option><option data-title="Bahrain" value="BH">Bahrain</option><option data-title="Bangladesh" value="BD">Bangladesh</option><option data-title="Barbados" value="BB">Barbados</option><option data-title="Belarus" value="BY">Belarus</option><option data-title="Belize" value="BZ">Belize</option><option data-title="Benin" value="BJ">Benin</option><option data-title="Bermuda" value="BM">Bermuda</option><option data-title="Bhutan" value="BT">Bhutan</option><option data-title="Bolivia" value="BO">Bolivia</option><option data-title="Bosnia và Herzegovina" value="BA">Bosnia và Herzegovina</option><option data-title="Botswana" value="BW">Botswana</option><option data-title="Brazil" value="BR">Brazil</option><option data-title="Brunei" value="BN">Brunei</option><option data-title="Bungari" value="BG">Bungari</option><option data-title="Burkina Faso" value="BF">Burkina Faso</option><option data-title="Burundi" value="BI">Burundi</option><option data-title="Bỉ" value="BE">Bỉ</option><option data-title="Bồ Đào Nha" value="PT">Bồ Đào Nha</option><option data-title="Bờ Biển Ngà" value="CI">Bờ Biển Ngà</option><option data-title="Cameroon" value="CM">Cameroon</option><option data-title="Campuchia" value="KH">Campuchia</option><option data-title="Canada" value="CA">Canada</option><option data-title="Cape Verde" value="CV">Cape Verde</option><option data-title="Chad" value="TD">Chad</option><option data-title="Chile" value="CL">Chile</option><option data-title="Colombia" value="CO">Colombia</option><option data-title="Comoros" value="KM">Comoros</option><option data-title="Congo - Brazzaville" value="CG">Congo - Brazzaville</option><option data-title="Congo - Kinshasa" value="CD">Congo - Kinshasa</option><option data-title="Costa Rica" value="CR">Costa Rica</option><option data-title="Croatia" value="HR">Croatia</option><option data-title="Cuba" value="CU">Cuba</option><option data-title="Các Tiểu V.quốc Ả Rập T.nhất" value="AE">Các Tiểu V.quốc Ả Rập T.nhất</option><option data-title="Các đảo nhỏ xa t.tâm thuộc Mỹ" value="UM">Các đảo nhỏ xa t.tâm thuộc Mỹ</option><option data-title="Cô-oét" value="KW">Cô-oét</option><option data-title="Cộng hòa Dominica" value="DO">Cộng hòa Dominica</option><option data-title="Cộng hòa Séc" value="CZ">Cộng hòa Séc</option><option data-title="Cộng hòa Trung Phi" value="CF">Cộng hòa Trung Phi</option><option data-title="Djibouti" value="DJ">Djibouti</option><option data-title="Dominica" value="DM">Dominica</option><option data-title="Ecuador" value="EC">Ecuador</option><option data-title="El Salvador" value="SV">El Salvador</option><option data-title="Eritrea" value="ER">Eritrea</option><option data-title="Estonia" value="EE">Estonia</option><option data-title="Ethiopia" value="ET">Ethiopia</option><option data-title="Fiji" value="FJ">Fiji</option><option data-title="Gabon" value="GA">Gabon</option><option data-title="Gambia" value="GM">Gambia</option><option data-title="Georgia" value="GE">Georgia</option><option data-title="Ghana" value="GH">Ghana</option><option data-title="Gibraltar" value="GI">Gibraltar</option><option data-title="Greenland" value="GL">Greenland</option><option data-title="Grenada" value="GD">Grenada</option><option data-title="Guadeloupe" value="GP">Guadeloupe</option><option data-title="Guam" value="GU">Guam</option><option data-title="Guatemala" value="GT">Guatemala</option><option data-title="Guernsey" value="GG">Guernsey</option><option data-title="Guiana thuộc Pháp" value="GF">Guiana thuộc Pháp</option><option data-title="Guinea" value="GN">Guinea</option><option data-title="Guinea Xích Đạo" value="GQ">Guinea Xích Đạo</option><option data-title="Guinea-Bissau" value="GW">Guinea-Bissau</option><option data-title="Guyana" value="GY">Guyana</option><option data-title="Haiti" value="HT">Haiti</option><option data-title="Hoa Kỳ" value="US">Hoa Kỳ</option><option data-title="Honduras" value="HN">Honduras</option><option data-title="Hungari" value="HU">Hungari</option><option data-title="Hy Lạp" value="GR">Hy Lạp</option><option data-title="Hà Lan" value="NL">Hà Lan</option><option data-title="Hàn Quốc" value="KR">Hàn Quốc</option><option data-title="I-rắc" value="IQ">I-rắc</option><option data-title="Iceland" value="IS">Iceland</option><option data-title="Indonesia" value="ID">Indonesia</option><option data-title="Iran" value="IR">Iran</option><option data-title="Israel" value="IL">Israel</option><option data-title="Jamaica" value="JM">Jamaica</option><option data-title="Jersey" value="JE">Jersey</option><option data-title="Jordan" value="JO">Jordan</option><option data-title="Kazakhstan" value="KZ">Kazakhstan</option><option data-title="Kenya" value="KE">Kenya</option><option data-title="Kiribati" value="KI">Kiribati</option><option data-title="Kyrgyzstan" value="KG">Kyrgyzstan</option><option data-title="Latvia" value="LV">Latvia</option><option data-title="Lesotho" value="LS">Lesotho</option><option data-title="Li-bi" value="LY">Li-bi</option><option data-title="Li-băng" value="LB">Li-băng</option><option data-title="Liberia" value="LR">Liberia</option><option data-title="Liechtenstein" value="LI">Liechtenstein</option><option data-title="Luxembourg" value="LU">Luxembourg</option><option data-title="Lào" value="LA">Lào</option><option data-title="Lãnh thổ Palestine" value="PS">Lãnh thổ Palestine</option><option data-title="Lãnh thổ miền nam nước Pháp" value="TF">Lãnh thổ miền nam nước Pháp</option><option data-title="Lít-va" value="LT">Lít-va</option><option data-title="Ma-rốc" value="MA">Ma-rốc</option><option data-title="Macedonia" value="MK">Macedonia</option><option data-title="Madagascar" value="MG">Madagascar</option><option data-title="Malawi" value="MW">Malawi</option><option data-title="Malaysia" value="MY">Malaysia</option><option data-title="Maldives" value="MV">Maldives</option><option data-title="Mali" value="ML">Mali</option><option data-title="Malta" value="MT">Malta</option><option data-title="Martinique" value="MQ">Martinique</option><option data-title="Mauritania" value="MR">Mauritania</option><option data-title="Mauritius" value="MU">Mauritius</option><option data-title="Mayotte" value="YT">Mayotte</option><option data-title="Mexico" value="MX">Mexico</option><option data-title="Micronesia" value="FM">Micronesia</option><option data-title="Moldova" value="MD">Moldova</option><option data-title="Monaco" value="MC">Monaco</option><option data-title="Montenegro" value="ME">Montenegro</option><option data-title="Montserrat" value="MS">Montserrat</option><option data-title="Mozambique" value="MZ">Mozambique</option><option data-title="Myanmar (Miến Điện)" value="MM">Myanmar (Miến Điện)</option><option data-title="Mông Cổ" value="MN">Mông Cổ</option><option data-title="Na Uy" value="NO">Na Uy</option><option data-title="Nam Cực" value="AQ">Nam Cực</option><option data-title="Nam Phi" value="ZA">Nam Phi</option><option data-title="Namibia" value="NA">Namibia</option><option data-title="Nauru" value="NR">Nauru</option><option data-title="Nepal" value="NP">Nepal</option><option data-title="New Caledonia" value="NC">New Caledonia</option><option data-title="New Zealand" value="NZ">New Zealand</option><option data-title="Nga" value="RU">Nga</option><option data-title="Nhật Bản" value="JP">Nhật Bản</option><option data-title="Nicaragua" value="NI">Nicaragua</option><option data-title="Niger" value="NE">Niger</option><option data-title="Nigeria" value="NG">Nigeria</option><option data-title="Niue" value="NU">Niue</option><option data-title="Oman" value="OM">Oman</option><option data-title="Pakistan" value="PK">Pakistan</option><option data-title="Palau" value="PW">Palau</option><option data-title="Panama" value="PA">Panama</option><option data-title="Papua New Guinea" value="PG">Papua New Guinea</option><option data-title="Paraguay" value="PY">Paraguay</option><option data-title="Peru" value="PE">Peru</option><option data-title="Philippin" value="PH">Philippin</option><option data-title="Pháp" value="FR">Pháp</option><option data-title="Phần Lan" value="FI">Phần Lan</option><option data-title="Polynesia thuộc Pháp" value="PF">Polynesia thuộc Pháp</option><option data-title="Qatar" value="QA">Qatar</option><option data-title="Quần đảo Bắc Mariana" value="MP">Quần đảo Bắc Mariana</option><option data-title="Quần đảo Cayman" value="KY">Quần đảo Cayman</option><option data-title="Quần đảo Cocos (Keeling)" value="CC">Quần đảo Cocos (Keeling)</option><option data-title="Quần đảo Cook" value="CK">Quần đảo Cook</option><option data-title="Quần đảo Falkland" value="FK">Quần đảo Falkland</option><option data-title="Quần đảo Faroe" value="FO">Quần đảo Faroe</option><option data-title="Quần đảo Marshall" value="MH">Quần đảo Marshall</option><option data-title="Quần đảo Nam Georgia và Nam Sandwich" value="GS">Quần đảo Nam Georgia và Nam Sandwich</option><option data-title="Quần đảo Pitcairn" value="PN">Quần đảo Pitcairn</option><option data-title="Quần đảo Solomon" value="SB">Quần đảo Solomon</option><option data-title="Quần đảo Turk và Caicos" value="TC">Quần đảo Turk và Caicos</option><option data-title="Quần đảo Virgin thuộc Anh" value="VG">Quần đảo Virgin thuộc Anh</option><option data-title="Quần đảo Virgin thuộc Mỹ" value="VI">Quần đảo Virgin thuộc Mỹ</option><option data-title="Quần đảo Åland" value="AX">Quần đảo Åland</option><option data-title="Romania" value="RO">Romania</option><option data-title="Rwanda" value="RW">Rwanda</option><option data-title="Réunion" value="RE">Réunion</option><option data-title="Saint Barthélemy" value="BL">Saint Barthélemy</option><option data-title="Saint Helena" value="SH">Saint Helena</option><option data-title="Saint Kitts và Nevis" value="KN">Saint Kitts và Nevis</option><option data-title="Saint Lucia" value="LC">Saint Lucia</option><option data-title="Saint Martin" value="MF">Saint Martin</option><option data-title="Saint Pierre và Miquelon" value="PM">Saint Pierre và Miquelon</option><option data-title="Saint Vincent và Grenadines" value="VC">Saint Vincent và Grenadines</option><option data-title="Samoa" value="WS">Samoa</option><option data-title="San Marino" value="SM">San Marino</option><option data-title="Senegal" value="SN">Senegal</option><option data-title="Serbia" value="RS">Serbia</option><option data-title="Seychelles" value="SC">Seychelles</option><option data-title="Sierra Leone" value="SL">Sierra Leone</option><option data-title="Singapore" value="SG">Singapore</option><option data-title="Slovakia" value="SK">Slovakia</option><option data-title="Slovenia" value="SI">Slovenia</option><option data-title="Somali" value="SO">Somali</option><option data-title="Sri Lanka" value="LK">Sri Lanka</option><option data-title="Sudan" value="SD">Sudan</option><option data-title="Suriname" value="SR">Suriname</option><option data-title="Svalbard và Jan Mayen" value="SJ">Svalbard và Jan Mayen</option><option data-title="Swaziland" value="SZ">Swaziland</option><option data-title="Syria" value="SY">Syria</option><option data-title="São Tomé và Príncipe" value="ST">São Tomé và Príncipe</option><option data-title="Síp" value="CY">Síp</option><option data-title="Tajikistan" value="TJ">Tajikistan</option><option data-title="Tanzania" value="TZ">Tanzania</option><option data-title="Thuộc địa Anh tại Ấn Độ Dương" value="IO">Thuộc địa Anh tại Ấn Độ Dương</option><option data-title="Thành Vatican" value="VA">Thành Vatican</option><option data-title="Thái Lan" value="TH">Thái Lan</option><option data-title="Thổ Nhĩ Kỳ" value="TR">Thổ Nhĩ Kỳ</option><option data-title="Thụy Sĩ" value="CH">Thụy Sĩ</option><option data-title="Thụy Điển" value="SE">Thụy Điển</option><option data-title="Togo" value="TG">Togo</option><option data-title="Tokelau" value="TK">Tokelau</option><option data-title="Tonga" value="TO">Tonga</option><option data-title="Trinidad và Tobago" value="TT">Trinidad và Tobago</option><option data-title="Triều Tiên" value="KP">Triều Tiên</option><option data-title="Trung Quốc" value="CN">Trung Quốc</option><option data-title="Tunisia" value="TN">Tunisia</option><option data-title="Turkmenistan" value="TM">Turkmenistan</option><option data-title="Tuvalu" value="TV">Tuvalu</option><option data-title="Tây Ban Nha" value="ES">Tây Ban Nha</option><option data-title="Tây Sahara" value="EH">Tây Sahara</option><option data-title="Tây Ấn Hà Lan" value="AN">Tây Ấn Hà Lan</option><option data-title="Uganda" value="UG">Uganda</option><option data-title="Ukraina" value="UA">Ukraina</option><option data-title="Uruguay" value="UY">Uruguay</option><option data-title="Uzbekistan" value="UZ">Uzbekistan</option><option data-title="Vanuatu" value="VU">Vanuatu</option><option data-title="Venezuela" value="VE">Venezuela</option><option data-title="Việt Nam" value="VN">Việt Nam</option><option data-title="Vương quốc Anh" value="GB">Vương quốc Anh</option><option data-title="Wallis và Futuna" value="WF">Wallis và Futuna</option><option data-title="Yemen" value="YE">Yemen</option><option data-title="Zambia" value="ZM">Zambia</option><option data-title="Zimbabwe" value="ZW">Zimbabwe</option><option data-title="Áo" value="AT">Áo</option><option data-title="Úc" value="AU">Úc</option><option data-title="Ý" value="IT">Ý</option><option data-title="Đan Mạch" value="DK">Đan Mạch</option><option data-title="Đài Loan" value="TW">Đài Loan</option><option data-title="Đông Timor" value="TL">Đông Timor</option><option data-title="Đảo Bouvet" value="BV">Đảo Bouvet</option><option data-title="Đảo Giáng Sinh" value="CX">Đảo Giáng Sinh</option><option data-title="Đảo Heard và Quần đảo McDonald" value="HM">Đảo Heard và Quần đảo McDonald</option><option data-title="Đảo Man" value="IM">Đảo Man</option><option data-title="Đảo Norfolk" value="NF">Đảo Norfolk</option><option data-title="Đảo Somoa thuộc Mỹ" value="AS">Đảo Somoa thuộc Mỹ</option><option data-title="Đặc khu hành chính Hồng Kông - Trung Quốc" value="HK">Đặc khu hành chính Hồng Kông - Trung Quốc</option><option data-title="Đặc khu hành chính Macao - Trung Quốc" value="MO">Đặc khu hành chính Macao - Trung Quốc</option><option data-title="Đức" value="DE">Đức</option><option data-title="Ả Rập Xê-út" value="SA">Ả Rập Xê-út</option><option data-title="Ấn Độ" value="IN">Ấn Độ</option></select>
                    <!-- /ko -->
                    <!-- /ko -->

                    <!-- ko if: element.hasAddons() --><!-- /ko -->

                    <!-- ko if: element.tooltip --><!-- /ko -->

                    <!-- ko if: element.notice --><!-- /ko -->

                    <!-- ko if: element.error() --><!-- /ko -->

                    <!-- ko if: element.warn() --><!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
            <!-- /ko --><!-- /ko -->

            <!-- ko if: hasTemplate() --><!-- ko template: getTemplate() -->
            <div class="field _required" data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses" name="shippingAddress.telephone">

                <label class="label" data-bind="attr: { for: element.uid }" for="F3QEVSN">
                    <!-- ko if: element.label -->
                    <span data-bind="text: element.label">Số điện thoại</span>
                    <!-- /ko -->
                </label>

                <div class="control _with-tooltip" data-bind="css: {'_with-tooltip': element.tooltip}">
                    <!-- ko ifnot: element.hasAddons() -->
                    <!-- ko template: element.elementTmpl -->
                    <input class="input-text" type="text"  name="telephone" placeholder="" aria-describedby="notice-F3QEVSN" id="telephone">
                    <!-- /ko -->
                    <!-- /ko -->

                    <!-- ko if: element.hasAddons() --><!-- /ko -->

                    <!-- ko if: element.tooltip -->
                    <!-- ko template: element.tooltipTpl -->
                    <div class="field-tooltip toggle">

                        <!-- ko if: (tooltip.link)--><!-- /ko -->

                        <!-- ko if: (!tooltip.link)-->
                        <span class="field-tooltip-action action-help" tabindex="0" data-toggle="dropdown" data-bind="mageInit: {'dropdown':{'activeClass': '_active'}}" aria-haspopup="true" aria-expanded="false"></span>
                        <!-- /ko -->

                        <div class="field-tooltip-content" data-target="dropdown" aria-hidden="true">
                            <!-- ko text: tooltip.description -->For delivery questions.<!-- /ko -->
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->

                    <!-- ko if: element.notice --><!-- /ko -->

                    <!-- ko if: element.error() --><!-- /ko -->

                    <!-- ko if: element.warn() --><!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
            <!-- /ko --><!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
            <!--/ko-->
            <!-- ko if: (isCustomerLoggedIn) -->
            <div class="field choice" data-bind="visible: !isFormInline">
                <input type="checkbox" class="checkbox" id="shipping-save-in-address-book" data-bind="checked: saveInAddressBook">
                <label class="label" for="shipping-save-in-address-book">
                    <span data-bind="i18n: 'Save in address book'">Save in address book</span>
                </label>
            </div>
            <!-- /ko -->
        </div>
    </form>
    <!-- /ko -->
</div>