<?php
$listPayment = $block->getPaymentMethodList();
$countPayment = count($listPayment);
?>
<div id="checkout-step-payment" class="step-content" data-role="content" role="tabpanel" aria-hidden="false">
    <!-- ko if: (quoteIsVirtual) --><!--/ko-->
    <form id="custom-co-payment-form-something" class="form payments" novalidate="novalidate">
        <fieldset class="fieldset">
            <legend class="legend">
                <span data-bind="i18n: 'Payment Information'">Payment Information</span>
            </legend><br>
            <!-- ko foreach: getRegion('beforeMethods') -->
            <!-- ko template: getTemplate() -->
            <!-- ko foreach: {data: elems, as: 'element'} --><!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
            <div id="checkout-payment-method-load" class="opc-payment" data-bind="visible: isPaymentMethodsAvailable">
                <div class="items payment-methods">
                    <!-- ko repeat: {foreach: paymentGroupsList, item: '$group'} --><div class="payment-group" data-repeat-index="0">
                        <!-- ko if: getRegion($group().displayArea)().length --><div class="step-title" data-role="title" data-bind="i18n: getGroupTitle($group)">Payment Method:</div><!-- /ko -->
                        <!-- ko foreach: {data: getRegion($group().displayArea), as: 'method'} --><!-- ko template: getTemplate() -->
                        <?php foreach($listPayment as $_payment){ ?>
                        <div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
                            <div class="payment-method-title field choice">
                                <input type="radio" name="payment[method]" class="radio payment-method-radio"  id="<?php echo $_payment["value"] ?>" value="<?php echo $_payment["value"] ?>">
                                <label class="label" for="<?php echo $_payment["value"] ?>"><span data-bind="text: getTitle()"><?php echo $_payment["label"] ?></span></label>
                            </div>
                            <div class="payment-method-content">
                                <!-- ko foreach: getRegion('messages') -->
                                <!-- ko template: getTemplate() -->
                                <div data-role="checkout-messages" class="messages" data-bind="visible: isVisible(), click: removeAll">
                                    <!-- ko foreach: messageContainer.getErrorMessages() --><!--/ko-->
                                    <!-- ko foreach: messageContainer.getSuccessMessages() --><!--/ko-->
                                </div>
                                <!-- /ko -->
                                <!--/ko-->
                                <!-- ko if: getMailingAddress() || getPayableTo() --><!-- /ko -->
                                <div class="checkout-agreements-block">
                                    <!-- ko foreach: $parent.getRegion('before-place-order') -->
                                    <!-- ko template: getTemplate() -->
                                    <!-- ko foreach: { data: elems, as: 'element' } -->
                                    <!-- ko if: hasTemplate() -->
                                    <!-- ko template: getTemplate() -->
                                    <div data-role="checkout-agreements">
                                        <div class="checkout-agreements" data-bind="visible: isVisible" style="display: none;">
                                            <!-- ko foreach: agreements --><!-- /ko -->

                                        </div>
                                    </div>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                    <!-- /ko -->
                                    <!-- /ko -->
                                    <!--/ko-->
                                </div>
                                <div class="actions-toolbar">
                                    <div class="primary">
                                        <button class="action primary checkout placeorder-checkout" type="button" title="Place Order">
                                            <span data-bind="i18n: 'Place Order'">Place Order</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php } ?>
                    </div><!-- /ko -->
                </div>
            </div>
            <?php if($countPayment  == 0 ){ ?>
            <div class="no-quotes-block" data-bind="visible: isPaymentMethodsAvailable() == false">
                <!-- ko i18n: 'No Payment method available.'--><span>No Payment method available.</span><!-- /ko -->
            </div>
            <?php } ?>
            <!-- ko foreach: getRegion('afterMethods') -->
            <!-- ko template: getTemplate() -->
            <!-- ko foreach: {data: elems, as: 'element'} -->
            <!-- ko if: hasTemplate() --><!-- ko template: getTemplate() -->
            <div class="payment-option _collapsible opc-payment-additional discount-code" data-bind="mageInit: {'collapsible':{'openedState': '_active'}}" data-collapsible="true" role="tablist">
                <div class="payment-option-title field choice" data-role="title" role="tab" aria-selected="false" aria-expanded="false" tabindex="0">
        <span class="action action-toggle" id="block-discount-heading" role="heading" aria-level="2">
            <!-- ko i18n: 'Apply Discount Code'--><span>Apply Discount Code</span><!-- /ko -->
        </span>
                </div>
                <div class="payment-option-content" data-role="content" role="tabpanel" aria-hidden="true" style="display: none;">
                    <!-- ko foreach: getRegion('messages') -->
                    <!-- ko template: getTemplate() -->
                    <div data-role="checkout-messages" class="messages" data-bind="visible: isVisible(), click: removeAll">
                        <!-- ko foreach: messageContainer.getErrorMessages() --><!--/ko-->
                        <!-- ko foreach: messageContainer.getSuccessMessages() --><!--/ko-->
                    </div>
                    <!-- /ko -->
                    <!--/ko-->
                    <form class="form form-discount" id="discount-form">
                        <div class="payment-option-inner">
                            <div class="field">
                                <label class="label" for="discount-code">
                                    <span data-bind="i18n: 'Enter discount code'">Enter discount code</span>
                                </label>
                                <div class="control">
                                    <input class="input-text" type="text" id="discount-code" name="discount_code" data-validate="{'required-entry':true}" data-bind="value: couponCode, attr:{placeholder: $t('Enter discount code')} " placeholder="Enter discount code">
                                </div>
                            </div>
                        </div>
                        <div class="actions-toolbar">
                            <div class="primary">
                                <!-- ko ifnot: isApplied() -->
                                <button class="action action-apply" type="submit" data-bind="'value': $t('Apply Discount'), click: apply" value="Apply Discount">
                                    <span><!-- ko i18n: 'Apply Discount'--><span>Apply Discount</span><!-- /ko --></span>
                                </button>
                                <!-- /ko -->
                                <!-- ko if: isApplied() --><!-- /ko -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /ko --><!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
        </fieldset>
    </form>
</div>
<?php
$urlLoading = $this->getUrl("pub/media/");
?>
<script>
    require([
        'jquery'
    ], function ( $,modal ) {
        function addLoadingBody(){
            $("body").css("position","relative");
            $("body").find(".loading-mask").remove();
            $htmlLoading = '<div data-role="loader" class="loading-mask" style="position: absolute;">' +
                '<div class="loader"> <img src="<?php echo $urlLoading; ?>loader-1.gif" alt="Loading..." style="position: absolute;"> </div>' +
                '</div>'
            $("body").append($htmlLoading);
        }
        function removeLoadingBody(){
            $("body").find(".loading-mask").remove();
        }
        function hideSectionShipping(){
            $("#shipping").hide();
            $("#opc-shipping_method").hide();
        }
        function showSectionShipping(){
            $("#shipping").show();
            $("#opc-shipping_method").show();
            $("#shipping_process").removeClass("_complete");
            $("#shipping_process").addClass("_active");
            $("#payment_process").removeClass("_active");
        }
        $(document).ready(function(){
            $(".payment-method-radio").click(function(){
                $(".payment-method").removeClass(" _active");
                $(this).parent().parent().addClass(" _active");
            });
            $(".placeorder-checkout").click(function(){
                addLoadingBody();
                var $code_payemnt = jQuery(".payment-method-radio:checked").val();
                $.ajax({
                    url: '<?php echo $block->getPostUrlPlaceOrder(); ?>',
                    method: "POST",
                    data:{"code_payment":$code_payemnt},
                    success: function (data) {
                        removeLoadingBody();
                        var jsonData = $.parseJSON(data);
                        if(jsonData.error == "1"){

                            alert(jsonData.msg);

                        }else {
                            //sucess thì chuyển sang trang success thôi nè
                            top.location.href = "<?php echo $block->getSuccessUrl(); ?>";
                        }
                    }
                });
            });
        });
    });
</script>