/************************************ variable *************************************/
@base-color: #f36525;
@base-color-dark: #354157;
@base-color-seller: #354157;
@bg-light-black: #2a2a2a;
@bg-black: #444;
@bg-grey: #ececec;
@bg-content: #fff;
@link-color: #444;
@link-color-light: #fff;
@link-color-hover: #fff;
@btn-hover-color: #444;
@text-color: #444;
@title-color: #fff;
@border-color: #d7d7d7;
@big-font-size: 120%;

/********* mixins **********/
.text-color-light-30 (@color){color: lighten(@color,30%);}
.bg-color-light-15 (@color){background: lighten(@color,15%);}

@text-title-desc: {padding: 60px 0; text-align: center;
	.text-title {font-size: 230%; font-weight: bold; margin-bottom: 10px;}
	.text-desc {font-size: @big-font-size;}
};


/****************************************************************************************/





/* float */
.fl {float: left !important;}
.fr {float: right !important;}
.fn {float: none !important;}

/* text-align */
.tl {text-align: left !important;}
.tr {text-align: right !important;}
.tc {text-align: center !important;}

/* show & hide */
.show {display: block !important;}
.hide {display: none !important;}

/* padding & margin */
.p0 {padding: 0 !important;}
.pl0 {padding-left: 0 !important;}
.pr0 {padding-right: 0 !important;}
.pr35 {padding-right: 35px !important;}
.pb0 {padding-bottom: 0 !important;}
.pb30 {padding-bottom: 30px !important;}
.pt15 {padding-top: 15px !important;}

.mt10 {margin-top: 10px !important;}
.mtb10 {margin: 10px 0 !important;}
.mt13 {margin-top: 13px !important;}
.mt-10 {margin-top: -10px !important;}

/* width */
.w73 {width: 73px !important;}
.w202 {width: 202px !important;}

.w85p {width: 85% !important;}
.w100p {width: 100% !important;}

/* height */
.h116 {height: 116px !important;}

/* text style */
.bold600 {font-weight: 600;}
.bold {font-weight: bold;}

/* font-size */
.f150p {font-size: 150%;}
.f20 {font-size: 20px;}

/* button */
.base-color-btn {background-color: @base-color !important;}
.base-color-btn:hover {background-color: @link-color !important;}
.btn-searchbox:before {content: '\f002'; display: inline-block; font-family: FontAwesome; line-height: 1; text-align: center; font-size: 14px;}


/* color */
.base-color {color: @base-color !important;}
.bg-grey {background: @bg-grey;}
.bg-white {background: #fff;}
.bg-content {background: @bg-content;}
.required-field {margin: 0 3px; color: #e02b27;}

/* icon */
.ico16 {vertical-align: middle; display: inline-block; width: 16px; height: 16px;}
.ico21 {vertical-align: middle; display: inline-block; width: 21px; height: 21px;}
.ico {vertical-align: middle; display: inline-block; width: 24px; height: 24px;}
.ico30 {vertical-align: middle; display: inline-block; width: 30px; height: 30px;}
.ico32 {vertical-align: middle; display: inline-block; width: 32px; height: 32px;}
.ico64 {vertical-align: middle; display: inline-block; width: 64px; height: 64px;}

.ico-phone {background: url(../images/icon/ico-phone.png) no-repeat;}
.ico-truck {background: url(../images/icon/ico-truck.png) no-repeat;}
.ico-truck2 {background: url(../images/icon/ico-truck2.png) no-repeat;}
.ico-delivery {background: url(../images/icon/ico-delivery.png) no-repeat;}
.ico-coin {background: url(../images/icon/ico-coin.png) no-repeat;}
.ico-24hours {background: url(../images/icon/ico-24hours.png) no-repeat;}
.ico-information {background: url(../images/icon/ico-information.png) no-repeat;}
.ico-sheild {background: url(../images/icon/ico-sheild.png) no-repeat;}
.ico-mail {background: url(../images/icon/ico-mail.png) no-repeat;}
.ico-store {background: url(../images/icon/ico-store.png) no-repeat;}
.ico-24hours-delivery {background: url(../images/icon/ico-24hours-delivery.png) no-repeat;}
.ico-gift {background: url(../images/icon/ico-gift.png) no-repeat;}
.ico-vietnam {background: url(../images/icon/ico-vietnam.png) no-repeat;}
.ico-america {background: url(../images/icon/ico-america.png) no-repeat;}
.ico-america {background: url(../images/icon/ico-america.png) no-repeat;}
.ico-korea {background: url(../images/icon/ico-korea.png) no-repeat;}
.ico-close {background: url(../images/icon/ico-close.png) no-repeat;}
.ico-sell {background: url(../images/icon/ico-sell.png) no-repeat;}
.ico-create {background: url(../images/icon/ico-create.png) no-repeat;}
.ico-signup {background: url(../images/icon/ico-signup.png) no-repeat;}
.ico-money-back {background: url(../images/icon/ico-money-back.png) no-repeat;}
.ico-piggy-bank {background: url(../images/icon/ico-piggy-bank.png) no-repeat;}
.ico-phone2 {background: url(../images/icon/ico-phone2.png) no-repeat;}
.ico-mail2 {background: url(../images/icon/ico-mail2.png) no-repeat;}


/* icon on-off */
.on .ico32, .ico32.on {background-position: 0 -32px;}
.ico-checkout-shopping {background: url(../images/icon/ico-checkout-shopping.png) no-repeat;}
.ico-checkout-gift {background: url(../images/icon/ico-checkout-gift.png) no-repeat;}
.ico-checkout-delivery {background: url(../images/icon/ico-checkout-delivery.png) no-repeat;}
.ico-checkout-checked {background: url(../images/icon/ico-checkout-checked.png) no-repeat;}

/* tabs */
.tabs-cus {overflow: hidden;
	.tab-cus {border: 0; border-left: 1px solid @border-color; background: @base-color-dark; color: @title-color; font-weight: normal; text-transform: none; margin-right: 34px; padding: 0px 30px; height: 46px; line-height: 46px; float: left; display: block; font-size: 133.33%; margin: 0; cursor: pointer; position: relative;
		&:last-child {border-right: 1px solid @border-color !important;}
	}
	.tab-cus.on {font-weight: bold; border-color: @base-color; background-image: linear-gradient(to bottom,@base-color 90%, @base-color-dark 10px); border-left: 0;}
	.tab-cus.on + .tab-cus {border-left: 0;}
}
.tabs-cus-cnt {
	.tab-cus-cnt {display: none;}
	.tab-cus-cnt.on {display: block;}
}

/* checkbox */
.checkbox-cus {margin: 10px 0; display: inline-block;
	input {opacity: 0; width: 0; height: 0; margin: 0; padding: 0;}
	.show-checkbox-cus {display: inline-block; width: 14px; height: 14px; background: url(../images/icon/ico-checkbox.png) no-repeat;}
	input:checked + .show-checkbox-cus {background-position: 0 -14px;}
	label {cursor: pointer;}
	label.light-label {.text-color-light-30(@text-color);}
	label:hover {color: @base-color;}
}

/* radio */
.radio-cus {margin: 10px 0; display: inline-block;
	input {opacity: 0; width: 0; height: 0; margin: 0; padding: 0;}
	.show-radio-cus {display: inline-block; width: 14px; height: 14px; background: url(../images/icon/ico-radio.png) no-repeat;}
	input:checked + .show-radio-cus {background-position: 0 -14px;}
	label {cursor: pointer;}
	label.light-label {.text-color-light-30(@text-color);}
	label:hover {color: @base-color;}
}

/* dropdown menu + tooltip */
.dropdown-cus-title {padding-right: 13px; cursor: pointer;
	&:after {content: "\f0dd"; font-family: 'Font Awesome 5 Free'; font-weight: 900; color: @link-color; font-size: 15px; position: absolute; right: 0; top: -1px;}
}
.dropdown-cus {position: absolute; min-width: 120px; z-index: 10; display: none; right: 0; border: 1px solid #444; padding: 5px 10px; background: #fff;
	> li {background: #fff;
		> a {color: @link-color; display: block;}
		&:hover > a {color: @base-color;}
	}
	&:before {content: ""; width: 9px; height: 9px; background: #fff; position: absolute; top: -5px; right: 21px; transform: rotate(-47deg); border-top: 1px solid #444; border-right: 1px solid #444;}
}
.tooltip-cus {position: absolute; min-width: 120px; z-index: 10; display: none; right: 0; border: 1px solid #444; background: #fff;
	&:before {content: ""; width: 9px; height: 9px; background: #fff; position: absolute; top: -5px; right: 21px; transform: rotate(-47deg); border-top: 1px solid #444; border-right: 1px solid #444;}
}

/* collapse & expand */
.collapse-expands {
	.collapse-expands-title {background: url(../images/icon/ico-plus.png) @bg-content no-repeat center right 20px; padding: 18px 20px; margin-bottom: 0; border-bottom: 1px solid @border-color; cursor: pointer; position: relative;}
	.collapse-expands-title.active {background: url(../images/icon/ico-minus.png) @bg-content no-repeat center right 20px;}
	.collapse-expands-cnt {display: none;}
}


/* image slider */
.owl-carousel {
	.owl-nav {
		div {position: absolute; top: 50%; opacity: 0.8; transition: all 0.2s ease 0s; -webkit-transition: all 0.2s ease 0s; margin-top: -27px !important; width: 30px; height: 50px; margin: 0; background: @bg-black;
			&:before {font-size: 20px; line-height: 48px !important;}
		}
		div.owl-prev {left: 0;}
		div.owl-next {right: 0;}
	}
	.owl-dots {background: #c7c7c7; padding: 8px 0;
		.owl-dot {display: inline-block; margin: 0 5px;}
		.owl-dot span {height: 9px; width: 9px; background: #fff; border-radius: 50%; display: none !important;}
		.owl-dot.active span {background: @base-color;}
	}
	.owl-stage-outer .owl-item .item .item-inner .image-box-client .image {position: relative;
		button {position: absolute; left: 10px; top: 20px;}
	}
}

/******************** header *********************/
/* top banner */
.event-top {position: relative; display: none;
	button {position: absolute; right: 30px; top: 50%; transform: translate(0,-50%); background: none; font-size: 30px !important; padding: 0 !important;}
}
.cms-home-demo-02 .event-top {display: block;}

.header-style-1 .header-top {background-color: #475673;}

/* search box */
.header-style-1 .header-middle {background: @base-color-dark; padding: 18px 0px 18px; border-bottom: 2px solid #fff;
	.middle-right-content {display: block;
		.searchbox-header {width: 71%; display: block; float: left;
			.sm-searchbox-content .searchbox {
				.searchbox-cat {padding-left: 13px; background-color: @base-color; border-color: @base-color; color: @title-color; border-top-left-radius: 10px; border-bottom-left-radius: 10px; height: 37px;}
				.searchbox-cat option {background: #eee; color: @text-color;}
				.input-searchbox {border-radius: 10px; height: 37px !important;}
			}
		}
	}
	.sm-searchbox-content .actions button {border-top-right-radius: 10px; border-bottom-right-radius: 10px; width: 51px; height: 37px !important; background-color: @base-color !important;}
	.minicart-header {float: left; display: block !important; padding-left: 20px !important;
		.minicart-wrapper .showcart {padding-left: 0 !important; color: #fff;
			&:hover {color: @base-color;}
			&:hover .counter-label {background: @base-color; color: @link-color-hover !important;}
			&:before {display: none !important;}
			i {font-size: 25px; vertical-align: middle;}
			.counter.qty {display: inline-block; vertical-align: middle; font-size: 14px; width: 25px;
				.counter-label {background: #fff; width: 25px; height: 25px; line-height: 25px; border-radius: 100%; display: inline-block !important; margin-top: 10px; color: @link-color; font-weight: bold;}
			}

			&:hover .counter-label {background: @base-color !important;}

		}
	}

	.wishlist-header {margin: 0 20px; float: left; line-height: 36px;
		.wishlist-content .wish-list-header .wish-list-wrapper a {font-size: 14px; color: #fff;
			&:hover {color: @base-color;}
			&:hover .counter-label {background: @base-color; color: @link-color-hover;}
			i {font-size: 25px; vertical-align: middle;}
			.counter-label {background: #fff; width: 25px; height: 25px; border-radius: 100%; display: inline-block !important; color: @link-color; line-height: 25px; text-align: center; font-size: 14px; font-weight: bold; vertical-align: middle;
				.counter.qty {
					&:before {display: none !important;}
					&:after {display: none !important;}
				}
			}
		}
	}

	.login-header {float: left; line-height: 36px;
		.login-content .login-header-block .login-header-wrapper {position: relative; width: 100px;
			.signin-btn {font-size: 14px; color: #fff;
				&:hover {color: @base-color;}
				i {font-size: 25px; vertical-align: middle;}
			}
			.signout-btn {position: absolute; left: 29px; top: 4px; line-height: 18px; font-size: 14px; color: #fff;
				&:hover {color: @base-color;}
			}
			.customer-page {color: #fff;
				&:hover {color: @base-color;}
				i {font-size: 25px; vertical-align: middle;}
				span {font-size: 80%; position: relative; top: 10px; left: 1px; font-weight: bold; color: @base-color;}
			}
		}


	}
}

/* top links */
.toplinks-header-link-custom {height: 34px; line-height: 34px;
	> ul > li {display: inline-block; position: relative; margin: 0 15px;
		.dropdown-cus-title::after {color: @link-color-light;}
		> a, >button {color: @link-color-light !important; font-size: 13px !important; display: block; background: none; text-transform: none;
			&:hover {color: @base-color !important;}
		}
		i {margin-right: 5px;}
		.support-center {width: 202px; height: 131px;
			.scenter-title {background: @bg-grey; padding: 14px 0 12px 14px; position: absolute; width: 100%;
				p {line-height: 1.66; font-size: 16px; margin-bottom: 5px; font-weight: bold;}
				h3 {font-size: 32px; color: #000; font-weight: bold;}
			}
			a {width: 100%; padding-left: 14px; font-size: 14px; position: absolute; bottom: 0;}
		}
		.order-search {width: 330px; padding: 10px 14px 14px 14px;
			.osearch-title p {line-height: 1.66; margin-bottom: 13px; font-size: 15px; font-weight: bold;}
			form {overflow: hidden;
				input {margin-bottom: 10px; font-size: 114%;}
				button {float: right;}
			}
		}

		/* language */
		.switcher-language .switcher-options {
			.switcher-trigger strong, .switcher-option a {background-repeat: no-repeat; padding-left: 21px; background-position: left center; font-weight: normal;}
			.switcher-trigger strong {color: @link-color-light;}
		}


	}
}

/* horizontal menu header */
.header-style-1 .header-bottom {background-color: @base-color-dark;
	.main-megamenu .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu {
		.sm_megamenu_lv1 {
			&:hover a {color: @title-color !important;}
			.sm_megamenu_head {color: @link-color-light; font-weight: bold;}
		}
		.sm_megamenu_lv1.seller-btn-parent {float: right;
			.sm_megamenu_head {display: inline-block; background: @base-color; line-height: 30px; border-radius: 8px; margin-top: 9px; color: @title-color !important; font-weight: normal;}
		}
	}
}

/* vertical menu header */
.header-style-1 .header-bottom .sidebar-megamenu {
	.sm_megamenu_wrapper_vertical_menu {
		.sm_megamenu_menu {background: @bg-black; border: 0;
			.sm_megamenu_lv1 {
				&:hover a {color: @title-color !important;}
				.sm_megamenu_head {color: #d5d5d5 !important;}
				> div {background: #5f5f5f !important; padding: 10px 15px;
					> div {padding-left: 0;
						.sm_megamenu_title .sm_megamenu_nodrop:hover {color: @base-color !important;}
					}
				}
			}



		}
		.more-w .more-view {padding: 13px 12px 13px 20px;}
	}
	.megamenu-content-sidebar {
		.btn-megamenu a {background: @base-color; padding-left: 0px !important; line-height: 50px;
			&:before {vertical-align: top !important; height: 50px; width: 50px; background: url(../images/icon-image.png) @bg-black; background-position: -50px -85px !important; margin-right: 15px !important;}
			&:after {display: none !important;}
		}
		.menu-ver-content .navigation-megamenu-wrapper .sambar-inner {padding-top: 0;
			&:before {display: none !important;}
		}
	}
}

/* main slider on homepage */
.main-slider-row {background-image: linear-gradient(to top, @bg-grey 35px, #f7f7f7 0%);
	.image-slider-home {margin-bottom: 0; margin-top: 0;
		.sm-imageslider-inner .owl-carousel {
			.owl-stage-outer {padding-bottom: 35px;}
			.owl-dots {position: absolute; width: 100%; text-align: center; background: transparent; bottom: 1px;}
			.owl-nav div.owl-prev:before {content: '\f104';}
			.owl-nav div.owl-next:before {content: '\f105';}
			.owl-nav div.owl-prev:before, .owl-nav div.owl-next:before {display: inline-block; font-family: FontAwesome; position: absolute; left: 0; top: 0; display: inline-block; text-indent: 0; width: 100%; height: 100%; opacity: 0.5; color: #fff; text-align: center;}
		}
	}
}

/* minicart */
.cart-wrapper .mage-dropdown-dialog {width: 420px;
	.block-minicart .block-content .minicart-items-wrapper .minicart-items .item.product-item {border-bottom: 1px solid @border-color !important;
		&:last-child {border-bottom: 0 !important;}
		.product .product-item-details .product-item-name {padding-right: 100px;}
	}
}

/****************** footer ******************/
.page-footer .footer .footer-wrapper {background: @base-color-dark;
	.footer-introduce {margin-top: 40px; padding-bottom: 20px; border-bottom: 1px solid #636363;
		.intro-title {text-align: center; margin-bottom: 20px;
			img {display: block; margin: 0 auto;}
			h3 {color: @title-color;}
		}
		.intro-desc p {color: @title-color; text-align: center; font-size: 12px;}
	}

	.footer-top .footer-menu {
		.footer-menu-title {
			> i {color: @title-color; font-size: 22px;}
			h3 {color: @title-color; margin: 15px 0 22px 0;}
		}
		.footer-menu-content .links-footer > li {color: @title-color;
			a {color: @title-color;}
			a:hover {color: @base-color;}
			.newsletter-home .block-subscribe-home {background: none; padding: 0; margin-top: 19px; margin-bottom: 0;
				form .input-box {font-size: @big-font-size;}
			}
		}
	}

	.footer-location {margin: 40px 0 30px 0;
		ul {overflow: hidden;
			> li {width: 48%; overflow: hidden;
				&:first-child {float: left;}
				&:last-child {float: right;}
				> img {float: left; margin-top: 25px;}
				.location-desc {float: right; width: 87%;
					.location-title h3 {margin-bottom: 10px; color: @title-color; font-size: 16px; line-height: 22px;}
					.location-sub-desc p {color: @title-color;}
				}
			}
		}
	}
}

/****************** home page product_section ******************/
.home-style.home-page-2 .product_section {
	.row.bg-grey {padding-bottom: 30px;}
	.row {
		.row-title {text-transform: uppercase; font-size: 18px; margin: 20px 0; border-bottom: 0;
			&:before {display: none !important;}
		}
		.list-product-home {padding-top: 33px;}

		.wrap-content {overflow: hidden; background: #fff;}

		/* products-grid */
		.products-grid {padding: 21px 0;
			.block-content-products {overflow: hidden;
				.item .item-inner {margin-bottom: 0;
					.box-image {padding: 7px;}
					.box-info {padding: 10px 7px 15px;
						.bottom-action {
							.btn-action.btn-cart {padding-left: 11px !important; padding-right: 11px !important;}
							.actions-primary {
								.btn-action.btn-cart {margin-right: 2px; padding-left: 5px !important; padding-right: 5px !important;}
								a:last-child {margin-right: 0;}
							}
							.actions-secondary a {margin-right: 3px;
								&:last-child {margin-right: 0;}
							}
						}
					}
				}
			}
		}
	}
	.row.main-row {background: #fff;
		.row-title {margin-bottom: 10px; font-size: 24px; font-weight: bold;}
	}
}

/* body bottom category links */
.body-bottom .categories-bottom {font-size: 91.67%; padding: 30px 0; border-top: 1px solid @border-color;
	.cate-bot-links-w {
		ul li {padding-bottom: 8px;
			a:hover {color: @base-color; }
			h2 {font-size: 100%; display: inline-block; font-weight: 700; line-height: 18px; text-transform: uppercase; }
		}
		.label-link {font-weight: 700; margin-bottom: 13px; }
	}
}

/****************** breakcumbs ******************/
.breadcrumbs {padding-top: 0; background: @bg-light-black; clear: both; background: #fff;
	.items {
		.item {border: 0 !important; padding: 0 !important; height: 50px; line-height: 50px; display: inline-block;
			&:before,  &:after {display: none !important;}
			&:last-child {color: @link-color; font-size: 14px;}
			a {display: inline-block; color: @link-color; height: 100%; font-size: 14px;
				&:hover {color: @base-color;}
			}
			span {margin: 0 7px; font-weight: bold;}
		}
	}
}

/****************** product detail ******************/
.detail-1 {
	.info-box-detail .info-detail-container .product-info-main {position: relative; overflow: hidden;
		.page-title-wrapper.product {border-bottom: 1px solid @border-color; padding-bottom: 10px;}
		.product-info-price {border-bottom: 1px solid @border-color; padding: 10px 0;
			.price-box {margin: 0;
				.special-price {display: block; font-size: 120%; margin-bottom: 0;
					.price {color: @base-color; font-weight: bold;}
					.pro-detail {display: inline-block;}
				}
				.discount-percentage {display: block; font-size: 120%; margin-bottom: 0;
					.pro-detail {display: inline-block;}
				}
				.old-price {display: block; font-size: 120%; margin-bottom: 0;
					.pro-detail {display: inline-block;}
					.price {color: @text-color; font-size: 100%; text-decoration: none;}
				}
			}
		}
		.product-info-short-description {font-size: 120%; margin-bottom: 0;
			.product.attribute.overview {margin: 0; border-bottom: 1px solid @border-color; padding: 10px 0;}
			ul {list-style: disc; list-style-position: inside;}
		}
	}

	.info-detail-container {width: 100% !important;}

	.detail-bottom .resp-tabs-list {background: @base-color-dark;}
}


/* right side bar */
.services-detail {width: 100% !important;
	.sidebarFrame {padding: 11px; background: @bg-content; margin-bottom: 13px;
		.sidebar-section {border-bottom: 1px dashed @border-color; padding: 10px 0;
			&:last-child {border-bottom: 0;}
			.phone {color: @base-color; font-size: 133%; font-weight: bold;}
			> li {
				.sidebar-section-cnt {display: inline-block; padding-left: 10px; vertical-align: top; width: 57%;
					&:first-child {padding-left: 0;}
				}
				.right-part {width: 28%; float: right; clear: both; text-align: right;
					.regis-btn {width: 100%; padding: 0 !important; background-color: @base-color;
						&:hover {width: 100%; padding: 0 !important; background: @link-color;}
					}
				}
				.right-part.ico-part {width: 24px;}
			}
		}
		.sidebar-section.style2 {
			.sidebar-section-title {margin-bottom: 0; overflow: hidden;}
			.sidebar-section-cnt {margin-bottom: 0;
				.shop-name {color: @base-color; font-size: 200%;}
			}
			.hightlight-green {color: #48a702; font-weight: bold; font-size: 50px; vertical-align: top; position: relative; top: -16px; float: right; margin-bottom: -34px;}
			.hightlight-orange {color: #ff6000; font-weight: bold; font-size: 50px; vertical-align: top; position: relative; top: -16px; margin: 0 9px;}
			.graph {float: right; margin-right: 23px;}
			.one-btn {display: block; text-align: center; font-size: 16px; color: @base-color;
				&:hover {color: @link-color;}
			}
		}
	}
}

/* social bar */
.detail-1 .social-bar {background: #fff; border-bottom: 1px solid @border-color; padding: 0; height: 40px; padding: 0 15px;
	.action {
		span {margin-left: 5px;}
		&:hover {border-color: @base-color !important; background-color: transparent;}
		&:hover:before {color: @base-color !important; }
		&:before{color: #000; }
	}
	.action.towishlist:before{content: '\f004'; display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; font-variant: normal; font-synthesis: weight style; font-stretch: normal; font-size-adjust: none; font-language-override: normal; font-kerning: auto; font-feature-settings: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-align: center; font-size: 18px; line-height: 40px; .text-color-light-30(@text-color); }
	.favorite-btn {float: left;}
	.social-group {float: right; margin-top: 10px;
		#addthis_wrap {padding: 0;}
	}
}

/* SKU above product image */
.detail-1 .image-box-detail .product.media .sku-top-product-image .product.attribute.sku {background: @base-color-dark; color: @title-color; text-align: center;
	strong {font-size: 15px; font-weight: normal !important;
		&:after {content: ":";}
	}
	.value {display: inline-block; line-height: 33px; font-size: 15px;}
}

/* product options */
.product-add-form .product-options-wrapper {margin-bottom: 0 !important; border-bottom: 1px solid @border-color; padding-top: 0 !important; padding-bottom: 10px;
	.swatch-attribute {
		.swatch-attribute-label {color: @base-color; display: inline-block; margin-top: 10px;}
		.swatch-attribute-options {margin-left: 2px;
			.swatch-option {margin-left: 2px;}
			.swatch-option.text {padding: 4px 27px !important; border-radius: 6px; background: #fff; color: @text-color; outline: 0;
				&:hover {border-color: @base-color;}
			}
			.swatch-option.text.selected {background: @base-color !important; color: @title-color;}
		}
	}
}

/* product advanced delivery */
.product-advanced-delivery {margin: 10px 0;
	ul > li p {display: inline-block; margin-left: 16px;
		a {color: @base-color;}
	}
}

/* wholesale table */
.product-wholesales-table table {
	td {border: 1px solid @border-color;}
	thead {background: @base-color-dark;
		tr th {color: @title-color; text-align: center;
			&:first-child {text-align: right;}
		}
	}
	tbody tr td {
		&:first-child {text-align: right;}
		.login-get-price {color: @base-color;}
	}
}

/* input QTY file */
.product-social-links {position: absolute; right: 6px; bottom: 7px;
	.product-addto-links .action {border: 0 !important;
		&:before {font-size: 28px !important;}
	}
}
.product-add-form {overflow: hidden; float: left; width: 100%;
	.box-tocart {margin-top: 25px;
		.fieldset {background: #fff !important;
			.field.qty_cus {float: left; margin-bottom: 0 !important;
				.label {margin-bottom: 3px; font-size: 120% !important;}
				.control-qty-cart {position: relative; height: 35px; line-height: 35px; width: 100% !important;
					> input {width: 54px; text-align: center; margin: 0 35px !important; border: 1px solid @border-color; font-size: 18px;}
					.quantity-controls {position: absolute; border: 1px solid @border-color; height: 35px; width: 35px; text-align: center; cursor: pointer;
						&:hover {background: #d6d6d6;}
					}
					.quantity-controls.quantity-minus {left: 0; border-top-left-radius: 13px; border-bottom-left-radius: 13px;}
					.quantity-controls.quantity-plus {right: 0; border-top-right-radius: 13px; border-bottom-right-radius: 13px;}
				}
			}
			.actions .tocart {height: 57px !important; width: 293px; border-radius: 14px; font-size: 14px !important; font-weight: normal !important; margin-left: 16px;}
		}
	}
	.product-options-bottom .product-social-links {position: absolute; right: 6px; bottom: 26px;}
}

/* description tabs */
.detail-bottom-wrapper {padding: 0 !important; margin-bottom: 0 !important;
	.detail-bottom {
		.resp-tabs-list {background: @base-color-dark; overflow: hidden;
			> li.resp-tab-item {background: @base-color-dark; color: @title-color; font-weight: normal; text-transform: none; border: 0; border-left: 1px solid @border-color;
				&:first-child {border-left: 0;}
				&:last-child {border-right: 1px solid @border-color;}
				&:after {display: none !important}
				&:before {display: none !important}
			}
			> li.resp-tab-item.resp-tab-active {background-image: linear-gradient(to bottom,@base-color 90%, @base-color-dark 10px); border-left: 0;}
			> li.resp-tab-item.resp-tab-active + .resp-tab-item {border-left: 0;}
		}
		.resp-tab-content {padding: 18px;}
	}
}

/****************** category show products ******************/
.product-item-details .price-box {
	.special-price .pro-detail {display: none;}
	.discount-percentage {display: none;
		.pro-detail {display: none;}
	}
	.old-price .pro-detail {display: none;}
}

/* left sidebar */
.sidebar {
	.block {background: @bg-content;
		.block-title {border-bottom: 0; height: 38px; line-height: 39px; padding-left: 7px; background: @base-color-dark; margin-bottom: 0;
			&:before {display: none !important;}
			strong {color: @title-color; padding-bottom: 0; font-weight: normal;
				&:before {content: ""; background: @title-color; width: 10px; height: 10px; display: inline-block; border-radius: 100%; margin: 0 10px;}
			}
		}
		.block-content{background: @bg-content;
			.filter-options .filter-options-item {
				.filter-options-title {overflow: hidden;
					p {float: left; .text-color-light-30(@link-color); padding-bottom: 5px;
						&:after {content: ""; height: 3px; width: 100%; display: block; background: @base-color; margin-top: 2px;}
					}
				}
				.filter-options-content .items .item a {.text-color-light-30(@link-color);}
			}
		}
		.block-content.filter-content {background: @bg-content; border: 0;}
	}
	.block.products-sidebar .block-content .item .item-inner .box-info {padding-top: 10px;
		.product-reviews-summary {margin-bottom: 0;
			.reviews-actions {margin-top: 0;}
		}
	}
}
.sidebar.sidebar-main {
	.block-content {
		.block-detail-title {font-weight: bold; font-size: @big-font-size; background: #d6d6d6; padding: 5px 17px;}
		.block-detail-cnt {padding: 0px 17px 12px 17px;
			ul > li {margin: 7px 0;
				a.on {color: @base-color;}
			}
		}
	}
}

/* category product content */ /* search product */
#catalog-listing, .search.results {background: @bg-content;
	.category-product.products {padding: 15px;}

	/* toolbar-top */
	.toolbar-top {
		.toolbar.toolbar-products {text-align: right; padding: 10px;
			.field.limiter {margin-right: 30px; .text-color-light-30(@text-color);
				.label {.text-color-light-30(@text-color);}
			}
			.toolbar-sorter.sorter {.text-color-light-30(@text-color);}
			.modes {margin-right: 0;}
		}
		.pages {display: none;}
	}

	/* toolbar-bottom */
	.toolbar-bottom {
		.toolbar.toolbar-products {text-align: right; padding: 10px; margin-bottom: 0;
			.field.limiter {margin-right: 30px; .text-color-light-30(@text-color);
				.label {.text-color-light-30(@text-color);}
			}
			.toolbar-sorter.sorter {.text-color-light-30(@text-color);}
			.modes {margin-right: 0;}
		}
		.pages {text-align: right; padding: 10px; overflow: hidden;
			.pages-label {
				display: none;
			}
			.items {margin: 0; padding: 0; list-style: none none; float: right;
				.item {margin: 0 5px; background: @base-color-dark; color: @title-color; display: inline-block; vertical-align: top; min-width: 30px; height: 30px; border: 1px solid @bg-light-black; line-height: 28px; text-align: center;
					a {color: @title-color; display: block;
						.label {display: none;}
					}
					a.action:before {content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; font-stretch: normal; font-kerning: auto; font-feature-settings: normal; line-height: 1; -webkit-font-smoothing: antialiased; text-align: center; font-size: 16px; font-variant: normal;}
					a.action.previous:before {content: "\f0d9";}
					a.action.next:before {content: "\f0da";}
					a.action span {display: none;}
				}
				.item.current {background: #fff; color: @base-color;
					.label {display: none;}
				}
			}
		}
	}
}

/********************** Shopping cart **************************/
.processing-container {padding: 15px 0; margin-bottom: 15px; background: #fff;
	ul {overflow: hidden; width: 90%; margin: auto;
		> li {float: left; width: 25%; position: relative; height: 32px;
			i {position: absolute; z-index: 1;}
			p {text-align: center; font-size: 120%; margin-top: -6px; font-weight: bold; padding-left: 32px;}
			.border {background: @border-color; width: 100%; height: 2px; position: absolute; top: 16px;}
		}
		>li.on {
			p {color: @base-color;}
			.border {background: @base-color;}
		}
	}
}
.cart-container {
	.form-cart {
		.cart.table-wrapper {margin-bottom: 0;
			.cart.items.table {background: #fff; margin-bottom: 0;
				thead tr th {text-align: center;
					&:first-child {text-align: left;}
				}
				tbody, tbody tr td {border: 0;}
				.cart.item {border-bottom: 1px solid @border-color;
					.item-info {
						td {text-align: center; overflow: hidden;
							&:first-child {text-align: left;}
						}
						.col.item {width: 100%; padding: 10px 0 50px 0 !important;
							.product-item-photo img {border: 0;}
							.product-item-details {
								.product-item-name {font-weight: bold; margin-top: 0;}
								.actions-toolbar {position: absolute; bottom: 10px;
									.action {float: left; margin-bottom: 0;}
									.action.action-edit {display: none;}
									.action.action-delete {background: @base-color-dark; color: @title-color;}
									.action.action-towishlist {background: @base-color; color: @title-color; font-weight: normal;}
								}
							}
							.product-item-photo {display: block; float: left; margin-right: 3%; padding-right: 0; width: 32%;}
							.product-item-details {display: block; float: left; width: 64%;}
						}
						.col.subtotal {
							.price-excluding-tax {line-height: 35px;
								.cart-price {display: block; color: @base-color; font-size: @big-font-size;}
								.cart-origin-price {text-decoration: line-through; .text-color-light-30(@text-color); font-size: 85%;}
								.cart-discount-percentage {color: @base-color; font-weight: bold; font-size: 85%;}
							}
						}
						.col.qty {
							.control.qty {position: relative;
								> input {width: 54px; text-align: center; margin: 0 35px !important; border: 1px solid @border-color; font-size: 18px;}
								.quantity-controls {position: absolute; border: 1px solid @border-color; height: 35px; width: 35px; text-align: center; cursor: pointer; line-height: 34px;
									&:hover {background: #d6d6d6;}
								}
								.quantity-controls.quantity-minus {top: 0; left: 0; border-top-left-radius: 13px; border-bottom-left-radius: 13px;}
								.quantity-controls.quantity-plus {top: 0; right: 0; border-top-right-radius: 13px; border-bottom-right-radius: 13px;}
							}
						}
					}
				}
			}
		}
		.cart.main.actions {padding: 10px 10px; background: #fff; border: 1px solid @border-color;
			.action {margin-bottom: 0;}
		}
	}
	.cart-summary {background: #fff; padding: 0;
		.summary.title {height: 40px; line-height: 40px; background: @base-color-dark; color: #fff; padding: 0 20px; font-size: 120%; text-transform: none;}
		.block.shipping {padding: 0 20px;}
		.cart-totals {padding: 0 20px; margin-top: 10px;}
		.block.discount {padding: 0 20px; text-align: center;
			.title {border: 0; background: #ffaa19; color: #fff; font-size: 120%; display: inline-block; width: 60%; border-radius: 10px; padding: 7px; text-align: center;
				&:after {display: none !important;}
				strong {font-weight: bold !important;}
				&:hover {.bg-color-light-15(#ffaa19) !important;}
			}
			.fieldset.coupon .field {text-align: left; font-size: @big-font-size;}
		}
		.checkout-methods-items {background: #fff; border: 0; padding: 0; margin: 20px 0;
			.item .cart.sidebar.actions {
				.action.continue {background: @base-color-dark; margin-bottom: 1px; width: 100%; font-weight: bold;
					&:hover {.bg-color-light-15(@base-color-dark);}
				}
				.action.checkout {background: #ff0000; font-weight: bold;
					&:hover {.bg-color-light-15(#ff0000) !important;}
				}
			}
		}
		.payment-gateway-list {text-align: center; margin-bottom: 15px;
			ul {overflow: hidden; display: inline-block;
				> li {float: left; margin: 6px 7px;
					&:nth-child(3n+1) {clear: both;}
					img {min-height: 32px;}
				}
			}
		}
		.cart-totals .data.table.totals {
			.totals.sub {
				th {font-size: @big-font-size;}
			}
			.grand.totals {
				th {font-size: @big-font-size;}
				td {color: @base-color; font-size: 200%;}
			}
		}
	}
}

/********************** Checkout **************************/
#checkoutSteps {
	.checkout-shipping-address {
		.step-title {border-bottom: 0; font-weight: bold; font-size: 150%;}
		#checkout-step-shipping {
			.tabs-cus {background: @base-color-dark;}
			.tabs-cus-cnt .tab-cus-cnt .shipping-address-items {margin-top: 0;
				.shipping-address-item {border-color: @base-color-dark;
					.address-title {font-weight: bold; font-size: @big-font-size; border-bottom: 1px solid @link-color; display: inline-block; margin-bottom: 5px; line-height: 26px;}
					.action-select-shipping-item {background: @base-color-dark; border-radius: 7px;}
					.button-bottom {text-align: center;
						ul {overflow: hidden; display: inline-block;
							li {overflow: hidden; display: inline-block; margin: 0 5px;
								button {border-radius: 8px; background: @base-color; margin-top: 20px;
									&:hover {background: @bg-black;}
								}
							}
						}
					}
				}
				.shipping-address-item.selected-item {border-color: @base-color;
					.shipping-here-btn {display: none;}
				}
			}
			.action.action-show-popup {background: @base-color-dark; border-radius: 7px;}
		}
	}

	.checkout-shipping-method {
		.step-title {border-bottom: 0; font-weight: bold; font-size: 150%;}
		.step-content {
			.step-content-title {background: @base-color-dark; color: #fff; padding: 10px 20px; font-weight: bold;}
			.methods-shipping {
				.table-checkout-shipping-method {background: @bg-content; width: 100%; margin-bottom: 20px;
					tbody td {vertical-align: middle;
						&:first-child {padding-left: 20px;}
					}
				}
				.actions-toolbar {
					.primary {float: left;
						.action.continue {background: @base-color-dark; border-radius: 7px;}
					}
				}
			}
		}
	}
}


/********************** Order detail **************************/
.order-details-items .table-order-items {
	.ordered-detail {
		.title {color: @text-color;
			&:after {content: ': ';}
		}
		.item-sku {color: @base-color;}
		.items-qty {color: @base-color;}
		.item-total-price {color: @base-color;
			.price-excluding-tax {display: inline-block;}
		}
	}
	.col.name {
		.product-item-photo {float: left; margin-right: 5%; width: 25%;}
		.product-item-details {float: left; width: 70%;
			.item-options {overflow: hidden; margin-top: 10px;
				dt {float: left; clear: left; font-weight: normal;
					&:after {content: ': '; margin-left: 3px; margin-right: 3px;}
				}
				dd {float: left; margin-bottom: 3px;}
			}
		}
	}
}


/********************** popup **************************/
.popup-container .layer-popup {display: block;}
.layer-popup {position: fixed; top: 0; left: 0; height: 100%; width: 100%; background: rgba(0, 0, 0, 0.5); z-index: 10000; display: none;
	.popup {background: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); padding: 20px; min-width: 800px;
		.close-popup {float: right; background: none; padding: 0 !important; height: 17px; width: 16px; position: absolute; right: 0; top: 11px;
			i {display: block;}
		}
		.popup-btn {background: @base-color; width: 100%; border-radius: 10px; height: 47px; text-transform: none; font-size: 120% !important;
			&:hover {background: @btn-hover-color;}
		}
		.popup-btn.blue-btn {background: #1d67c3;}
		.popup-btn.red-btn {background: #f13900;}
		.popup-btn.blue-btn:hover, .popup-btn.red-btn:hover {background: @btn-hover-color;}
		.link-btn {color: #1d67c3;}

		.popup-title {overflow: hidden; position: relative; border-bottom: 1px solid @border-color; margin-bottom: 10px;
			.title {font-size: 30px; font-weight: bold; margin-bottom: 0px;}
		}

		.popup-cnt {
			/* coupon-popup */
			.list-coupons {
				.coupon-title p {font-weight: bold; font-size: 120%;}
				.coupon-cnt {
					.coupons {overflow: hidden; margin-bottom: 20px;
						> li {float: left; width: 42%; margin-right: 2%;
							.coupon {color: #fff; padding: 10px; background: #757575; cursor: pointer;}
						}
					}
					.coupons.coupons-style1 {
						> li:nth-child(1) .coupon {background: #013473;}
						> li:nth-child(2) .coupon {background: #f36523;}
					}
					.coupons.coupons-style2 {
						> li:nth-child(1) .coupon {background: #459eac;}
						> li:nth-child(2) .coupon {background: #f3a622;}
					}
					.coupons.coupons-style3 {
						> li .coupon {border: 3px solid #444;}
						> li:nth-child(1) .coupon {background: #f36523;}
					}
				}
			}
			.apply-coupon {
				.price-after-coupon {background: #f5f5f5; padding: 15px;
					.price-title {margin-bottom: 0;
						span {font-size: 160%; font-weight: bold;}
						.final-price {color: @base-color;}
					}
				}
				.use-coupon-btn {margin-top: 20px;
					button {border-radius: 10px; width: 40%;}
				}
			}
		}
	}

	/* wholesales register-popup */
	.popup.style1 {padding: 15px 50px 50px 50px;
		.popup-cnt {
			form {margin-bottom: 20px;
				label {width: 100%; margin-bottom: 15px;
					span {font-size: 120%; font-weight: bold;}
					input[type="text"] {font-size: @big-font-size;}
				}
			}
			.register-term {margin-top: 30px;
				.register-term-title {font-weight: bold; font-size: 137%; margin-bottom: 0;}
				ul {list-style: disc; list-style-position: inside;}
			}
		}
	}

	/* customer register-popup */
	.popup.style2 {
		.popup-title .tabs-cus {margin-bottom: 20px; border-bottom: 1px solid @border-color; margin-top: 15px; background: transparent;
			.tab-cus {background: transparent; color: @link-color; border-left: 0; border-right: 0; border-bottom: 2px solid transparent;}
			.tab-cus.on {border-color: @base-color;}
		}
		.alternative-btns {text-align: center; margin-top: 42px; border-top: 1px solid @border-color;
			.or {border: 1px solid @border-color; border-radius: 18px; margin-bottom: 20px; display: inline-block; height: 25px; line-height: 25px; width: 70px; position: relative; top: -12px; background: #fff; .text-color-light-30(@text-color);}
		}

		form {
			input[type="text"] {margin-bottom: 20px; font-size: @big-font-size;
				&:last-of-type {margin-bottom: 0;}
			}
		}
		.term-conditions {text-align: center; margin: 15px 0; .text-color-light-30(@text-color);}
	}
}

/********************** customer service **********************/
.sidebar-main-cs .cs-sidebar {
	.sidebar-top-img {padding-bottom: 10px; background: #ececec;}
}
.cs-page {
	.cs-page-top {padding: 10px; background: @bg-content; margin-bottom: 10px;
		.cs-page-top-title {border-bottom: 1px solid @border-color;
			.cs-top-title {font-weight: bold; font-size: 120%; margin-bottom: 0;}
			.cs-top-desc {}
		}
		.cs-page-top-menu {
			ul {overflow: hidden; margin-bottom: 40px;
				> li {width: 33.3333333%; float: left; text-align: center; margin-top: 70px;
					a {display: inline-block; font-weight: bold;}
					img {display: block; margin: auto; margin-bottom: 30px;}
				}
			}
		}
	}
	.cs-page-faq {
		.faq-search {background: @base-color-dark; overflow: hidden; line-height: 70px;
			.faq-search-title {float: left; color: #fff; font-size: 200%; margin: 0 0 0 10px; font-weight: bold;}
			.faq-search-desc {float: left; color: #fff; margin: 0 30px;}
			.faq-search-input {float: left; overflow: hidden; width: 53%; margin-top: 11px;
				input {float: left; width: 80%; margin-top: 6px;}
				.btn-searchbox {float: right; background: @base-color; border-radius: 50%; width: 45px; height: 45px; padding: 0 !important;}
			}
		}
		.faq-tabs {margin-top: 30px;
			.faq-tabs-title p {font-weight: bold; font-size: 150%;}
			.tabs-cus {
				> li {padding: 0; width: calc(100%/7); text-align: center; font-size: 100%;}
			}
			.tabs-cus-cnt {
				.tab-cus-cnt {
					.question:before {content: "Q"; background: #e1e1e1; border-radius: 50%; width: 34px; height: 34px; display: inline-block; line-height: 34px; text-align: center; color: #fff; font-size: 18px; margin-right: 30px; position: absolute;}
					.answer:before {content: "A"; background: @base-color; border-radius: 50%; width: 34px; height: 34px; display: inline-block; line-height: 34px; text-align: center; color: #fff; font-size: 18px; margin-right: 30px; position: absolute;}
					.collapse-expands {
						.collapse-expands-title {
							.collapse-expands-title-cnt {padding-top: 10px; margin-left: 68px;}
						}
						.collapse-expands-cnt {
							.question-cnt {
								.question-title {background: @bg-content; padding: 18px 20px; border-bottom: 1px solid @border-color;
									.question-title-cnt {padding-top: 10px; margin-left: 68px;}
								}
								.question:before {background: @base-color;}
								.question-answer {background: #f4f4f4; padding: 18px 20px; border-bottom: 1px solid @border-color;
									.question-answer-cnt {padding-top: 10px; margin-left: 68px;}
								}
							}
						}
					}
				}
			}
		}
	}
}

/********************** row of products **********************/
.items, .products-grid {overflow: hidden; margin: 0;
	.item:not(tbody):not(th) {float: left; padding: 0 !important;
		.item-inner {border: 1px solid transparent;
			&:hover {border: 1px solid @base-color;}
			.box-info {padding: 10px 10px 15px;
				.bottom-action {
					.btn-action {margin-right: 3px;}
					.btn-action.btn-cart {background: @base-color; border-color: @base-color; padding-left: 6px !important; padding-right: 6px !important;
						&:before {display: none !important;}
						span {color: @title-color;}
					}
					a:last-child {margin-right: 0;}
				}
			}
		}
	}
}


/********************** Marketplace **********************/
.marketplace-top-info {
	.ws-instruduce {background: @base-color-seller;
		ul {overflow: hidden;
			> li {color: #fff; width: 33.33333333%; float: left; text-align: center; overflow: hidden;
				.ws-instruduce-cnt-wrapper {overflow: hidden; display: inline-block; margin-top: 13px;
					i {float: left;}
					.ws-instruduce-cnt {float: left; text-align: left; margin: 13px 0 0 10px;
						.title {margin-bottom: 0; font-weight: bold; text-transform: uppercase;}
					}
				}

			}
		}
	}
	.ws-open-process {background: #fff;
		.ws-open-process-top {@text-title-desc();}
		.ws-open-process-body {
			.ws-open-process-cnt {text-align: center; overflow: hidden; padding-top: 60px;
				> li {width: 32%; float: left; border: 2px solid @border-color; padding: 0 35px;
					&:nth-child(2) {margin: 0 2%;}
					&:hover {border-color: @base-color;}
					img {margin-top: -60px;}
					.ws-open-process-cnt-title {margin: 10px 0; font-size: 150%; font-weight: bold; text-transform: uppercase;}
					.ws-open-process-cnt-desc {text-transform: uppercase; margin-bottom: 15px;}
				}
			}
			.btn-bottom {text-align: center; margin: 30px 0;
				button {border-radius: 5px;}
			}
		}
	}
	.ws-workflow {background: url(../images/bg-wisi-biz.jpg) no-repeat center; background-size: contain;
		.ws-workflow-top {@text-title-desc(); color: #fff;}
		.ws-workflow-cnt {padding-bottom: 60px;
			ul {overflow: hidden;
				> li {float: left; width: 15%; text-align: center; color: #fff;
					p {margin: 15px 0;}
				}
				>li.li-border {width: 6.25%; background: @base-color; margin: 80px -3px; height: 3px;}
			}
		}
	}
}
.marketplace-list-seller {margin-bottom: 30px;
	.list-sellers {overflow: hidden;
		.list-sellers-top {@text-title-desc();}
		.list-sellers-sidebar {
			.list-cate {margin-bottom: 20px;
				> li {border-bottom: 1px solid @border-color;
					&:last-child {border-bottom: 0;}
					p.list-cate-title {color: #fff; background: @base-color; line-height: 50px; padding-left: 15px; margin-bottom: 0;}
					a {line-height: 42px; background: @base-color-seller; display: block; padding-left: 15px; color: #fff;
						&:hover {background: @btn-hover-color;}
					}
				}
			}
		}
		.list-sellers-cnt {
			ul {overflow: hidden;
				> li {float: left; width: 32%; background: #fff; border: 1px solid @border-color; position: relative; height: 175px; margin-bottom: 15px;
					&:nth-child(3n+2) {margin: 0 2%;}
					.cover-seller {display: none; background: rgba(0, 0, 0, 0.8); position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1;}
					&:hover {border-color: @base-color;}
					a {display: block; text-align: center; line-height: 50px; margin: 0; padding-left: 15px;
						img {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
						.biz-type {position: absolute; left: 0; bottom: 0; width: 100%; color: #fff; background: @base-color-seller; text-transform: uppercase; display: none; font-size: @big-font-size; height: 40px; line-height: 40px; z-index: 1;}
					}
					&:hover .cover-seller, &:hover .biz-type {display: block;}
				}
			}
			.btn-bottom {text-align: center; margin: 30px 0;
				button {border-radius: 5px;}
			}
		}
	}
}
.marketplace-product {
	.product-banner {background: url(../images/bg-wisi-biz.jpg) no-repeat center; background-size: contain;
		ul {overflow: hidden; padding: 80px 0;
			> li {width: 32%; float: left; height: 260px;
				&:nth-child(3n+2) {margin: 0 2%;}
				a {display: block; margin-bottom: 18px;
					img {}
				}
			}
			> li.colspan2 {height: 538px;
				a {
					img {}
				}
			}
		}
	}
	.product_section {
		.row.full-wrapper.main-row {background: @bg-content;
			.row-title {margin-top: 20px;}
			.list-product-home {padding-top: 33px;}
		}

	}
}
.marketplace-store-index {
	.page-main {padding: 0;}
}

/********************** store homepage **********************/
.store-top-info {
	.store-banner {}
	.store-info {overflow: hidden; margin: 20px 0; position: relative;
		.store-img {float: left; width: 13%; position: absolute; top: 0; left: 0; height: 100%;
			img {position: absolute; top: 50%; left: 0; transform: translate(0, -50%);}
		}
		.store-info-cnt {float: left; width: 74%; padding: 0 2%; margin-left: 13%; border-right: 1px solid @border-color;
			.store-name {font-size: 200%; font-weight: bold;}
			.store-review {}
			.store-desc {}
		}
		.chat-to-store {position: absolute; right: 0; top: 0; height: 100%; width: 13%;
			button {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 7px;}
		}
	}
}

.store-list-seller .category-product.products-grid .product-items {
	.product-item {width: 20%;}
	.item:nth-child(4n+1) {clear: none;}
}



/********************** seller register **********************/
.customer-seller-index .page-title-wrapper {display: none;}
.block-seller-register {
	.block-title {border-bottom: 0; text-align: center;
		&:before {display: none;}
		.support-seller {overflow: hidden; background: #fff; width: 23%; margin: auto; position: relative; top: -55px; border-radius: 10px; padding: 20px; margin-bottom: -25px;
			.support-seller-desc {width: 49%; float: left; text-align: left;
				img {display: inline-block;}
				p {font-weight: bold; display: inline-block; vertical-align: middle; margin-left: 10px;}
			}
			.support-seller-contact {width: 49%; float: right;
				ul {
					> li {text-align: left; margin-bottom: 5px;
						p {display: inline-block; font-size: @big-font-size; margin-left: 13px; color: @base-color-dark; vertical-align: middle;
							a {font-weight: bold;}
							span {font-size: 80%;}
						}
					}
				}
			}
		}
		strong {border-radius: 10px; background: @base-color; padding: 5px 18px; color: #fff;}
	}
	.block-content {
		.reg-section {margin-bottom: 30px; border-bottom: 2px solid @base-color; background: @bg-content;
			.title-tab{padding: 10px 10px 10px 0; margin-left: 15px; border-bottom: 1px solid @border-color; font-weight: bold; font-size: @big-font-size; text-transform: uppercase;}
			.content-field{padding: 15px; padding-bottom: 30px;
				.row {margin-bottom: 20px;
					.field {
						label {margin-bottom: 10px; display: block;}
						.radio-cus {margin: 0;
							label {vertical-align: middle; display: inline-block; margin: 0;}
						}
					}
				}
			}
			.upload_folder {position: relative; margin-bottom: 30px;
				.actions-toolbar {position: absolute; right: 30px; bottom: 0px;
					button {border-radius: 10px;}
				}
				.field-wrapper {list-style: disc; list-style-position: inside;
					.field {margin: 10px 0; padding-left: 15px;
						.label-text {display: inline-block;}
						.control {display: inline-block; vertical-align: middle; margin-left: 30px;
							button {border-radius: 10px;}
							input[type="file"] {width: 0; height: 0; opacity: 0;}
						}
					}
				}
			}
			.fieldset > .content-field > .field.required >.label:after {content: '*'; color: #e02b27; font-size: 1.2rem; margin: 0 0 0 5px; }
		}
	}
}

/********************** order success **********************/
.checkout-success-wrapper {overflow: hidden; background: @bg-content; padding: 10px 0; border-top: 4px solid @bg-black; border-bottom: 1px solid @bg-black;
	.checkout-success-img {display: inline-block;}
	.checkout-success {display: inline-block;}
>>>>>>> origin/master
}
.product_section.related-product-success {margin-top: 1%; background: @bg-content;
	h3.row-title {padding: 20px 0 0px 16px;}
}


/********************** dashboard **********************/
/* Ves image slide - WYSUWYG Editor */
.overlay_magento {z-index: 901 !important; }
.popup-window.dialog {z-index: 901 !important;}



.sm-imageslider-inner .owl-theme .owl-controls .owl-nav div {
	width: 30px;
	height: 50px;
	margin: 0;
	background: #444444;
}