<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\Wishlist\Block\Link */
?>
<div class="wish-list-wrapper" data-bind="scope: 'wishlist'">
    <a <?php /* @escapeNotVerified */ echo $block->getLinkAttributes() ?>>
        <i class="fas fa-heart"></i>
        <!-- insert hide class -->
        <div class="hide">
            <?php echo $block->escapeHtml($block->getLabel()) ?>
        </div>
        <!-- End:insert hide class -->

        <span class="counter-label">
            <!-- ko if: wishlist().counter -->
            <span data-bind="text: wishlist().counter" class="counter qty"></span>
            <!-- /ko -->
            <!-- ko if: wishlist().counter == null -->
                <!-- ko i18n: '0' --><!-- /ko -->
            <!-- /ko -->
        </span>
    </a>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "wishlist": {
                        "component": "Magento_Wishlist/js/view/wishlist"
                    }
                }
            }
        }
    }

</script>
