<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login $block */
?>
<?php
/**
 * Customer login form template
 *
 * @see \Magento\Customer\Block\Form\Login
 * @var $block \Magento\Customer\Block\Form\Login
 */
?>
<div class="block block-customer-login">
    <div class="block-title">
        <strong id="block-customer-login-heading" role="heading" aria-level="2"><?php echo $block->escapeHtml(__('Registered Customers')) ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-customer-login-heading">
        <form class="form form-login"
              action="<?php echo $block->escapeUrl($block->getPostActionUrl()) ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
            <?php echo $block->getBlockHtml('formkey'); ?>
            <fieldset class="fieldset login" data-hasrequired="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('* Required Fields')) ?>">
                <div class="field note"><?php echo $block->escapeHtml(__('If you have an account, sign in with your email address.')) ?></div>
                <div class="field email required">
                    <label class="label" for="email"><span><?php echo $block->escapeHtml(__('Email')) ?></span></label>
                    <div class="control">
                        <input name="login[username]" value="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Email')) ?>" data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div>
                <div class="field password required">
                    <label for="pass" class="label"><span><?php echo $block->escapeHtml(__('Password')) ?></span></label>
                    <div class="control">
                        <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> class="input-text" id="pass" title="<?php echo $this->helper(\Magento\Framework\EscapeHelper::class)->escapeHtmlAttr(__('Password')) ?>" data-validate="{required:true}">
                    </div>
                </div>
                <?php echo $block->getChildHtml('form_additional_info'); ?>
                <div class="actions-toolbar">
                    <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span><?php echo $block->escapeHtml(__('Sign In')) ?></span></button></div>
                    <div class="secondary"><a class="action remind" href="<?php echo $block->escapeUrl($block->getForgotPasswordUrl()) ?>"><span><?php echo $block->escapeHtml(__('Forgot Your Password?')) ?></span></a></div>
                </div>
                <div class="clear"></div>
                <br/>
                <div class="actions-toolbar">
                    <div class="secondary"><a class="action remind" href="#"><span><?php echo $block->escapeHtml(__('Do you not yet member?')) ?></span></a></div>
                    <div class="primary"><button type="button" class="action login primary" name="join" id="join"><span><?php echo $block->escapeHtml(__('Join')) ?></span></button></div>
                </div>
            </fieldset>
        </form>
    </div>
    <div id="popup-modal_join" style="display: none">
        <div class="login-container">
            <div class="block block-customer-login">
                <div class="actions-toolbar">
                    <!--<div class="primary" style="width: 100%">
                        <button type="submit" class="action login primary" name="join_buyer" id="join_buyer" style="width: 100%">
                            <span><?php echo $block->escapeHtml(__('Join buyer')) ?></span>
                        </button>
                    </div>-->

                    <div class="secondary" style="width: 100%">
                        <button type="submit" style="width: 100%" class="action login secondary" name="join_seller" id="join_seller">
                            <span><?php echo $block->escapeHtml(__('Join seller')) ?></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="block block-new-customer">
                <?php
                $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                $helperLogin = $objectManager->get('\Mageplaza\SocialLogin\Helper\Data');
                $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
                $url = $storeManager->getStore()->getBaseUrl();
                $urlImage = $helperLogin->getAdvertisementUrl();
                ?>
                <img src="<?php echo $urlImage; ?>"/>
            </div>
        </div>
    </div>
    <script>
        require([
            'jquery',
            'Magento_Ui/js/modal/modal'
        ], function ( $,modal ) {
            $("#join_buyer").click(function(){
                top.location.href = '<?php echo $block->escapeUrl($block->getUrlJoinBuyer()) ?>';
            });
            $("#join_seller").click(function(){
                top.location.href = '<?php echo $block->escapeUrl($block->getUrlJoinSeller()) ?>';
            });
            $("#join").click(function(){
                $("#popup-modal_join").modal(options).modal('openModal');
            });
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: 'Join',
                buttons: [{
                    text: $.mage.__('Close'),
                    class: '',
                    click: function () {
                        this.closeModal();
                    }
                }]
            };

        });
    </script>
</div>

