<?php
$dataReturn = $block->getDataSeller();
//$url = $this->_backendUrl->getUrl("virtual/actions/save");
$url = $block->getAdminUrl();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$FormKey = $objectManager->get('Magento\Framework\Data\Form\FormKey');
$customer = $objectManager->create('\Magento\Customer\Model\Customer')->load($dataReturn["id_customer"]);
?>
<form name="save_statement" method="post" action="<?php echo $url;  ?>">
<input name="form_key" type="hidden" value="<?php echo $FormKey->getFormKey();?>">
    <input type="hidden" value="<?php echo $dataReturn["id_seller_company"]; ?>" name="id_seller" id="id_seller"/>
<div class="page-main-actions">
    <div class="page-actions-placeholder" style=""></div>
    <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
        <div class="page-actions-inner" data-title="Veronica Costello">
            <div class="page-actions-buttons">
                <button id="back" title="Back" type="button" class="action- scalable back" onclick="location.href = '<?php echo $block->getBackUrl(); ?>';" data-ui-id="back-button">
                    <span>Back</span>
                </button>
                <button id="approve" title="Save Customer" type="button" class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" data-form-role="save" data-ui-id="save-button" role="button" aria-disabled="false">
                    <span class="ui-button-text">
                        <span><?php echo __("Approve"); ?></span>
                    </span>
                </button>
                <button id="cancel" title="Cancel" type="button" class="action- scalable action-secondary" data-form-role="save" data-ui-id="save-button" role="button" aria-disabled="false">
                    <span class="ui-button-text">
                        <span><?php echo __("Cancel"); ?></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="container" class="main-col">
    <div class="admin__old">
        <div class="fieldset-wrapper"  data-index="customer">
            <div class="fieldset-wrapper-title" tabindex="-1">
                <strong class="title">
                    <span><?php echo __("Seller Info");  ?></span>
                </strong>
            </div>
            <div class="admin__fieldset-wrapper-content _hide">
                <fieldset class="admin__fieldset">
					<div class="admin__field" data-index="prefix">
                        <label class="admin__field-label" for="NEEHGU0">
                            <span>Name</span>
                        </label>
                        <div class="admin__field-control" >
                            <input class="admin__control-text" type="text"  name="email" value="<?php echo $customer->getData("firstname") ?> <?php echo $customer->getData("lastname") ?>" aria-describedby="notice-NEEHGU0" id="NEEHGU0">
                        </div>
                    </div>
					<div class="admin__field" data-index="prefix">
                        <label class="admin__field-label"  for="NEEHGU0">
                            <span>Email</span>
                        </label>
                        <div class="admin__field-control">
                            <input class="admin__control-text" type="text"  name="email" value="<?php echo $customer->getEmail() ?>" aria-describedby="notice-NEEHGU0" id="NEEHGU0">
                        </div>
                    </div>
                    <div class="admin__field"  data-index="prefix">
                        <label class="admin__field-label"  for="NEEHGU0">
                            <span>Company Name</span>
                        </label>
                        <div class="admin__field-control">
                            <input class="admin__control-text" type="text"  name="company" value="<?php echo $dataReturn["company"] ?>" aria-describedby="notice-NEEHGU0" id="NEEHGU0">
                        </div>
                    </div>
					<div class="admin__field"  data-index="prefix">
                        <label class="admin__field-label"  for="NEEHGU0">
                            <span>Agent Name</span>
                        </label>
                        <div class="admin__field-control">
                            <input class="admin__control-text" type="text"  name="agent_name" value="<?php echo $dataReturn["agent_name"] ?>" aria-describedby="notice-NEEHGU0" id="NEEHGU0">
                        </div>
                    </div>
					<?php 
						$upload_1 = $dataReturn["up_load_cer_1"];
						$upload_2 = $dataReturn["up_load_cer_2"];
						$upload_3 = $dataReturn["up_load_cer_3"];
						$arrayUpload_1 = explode(".",$upload_1);
						$arrayUpload_2 = explode(".",$upload_2);
						$arrayUpload_3 = explode(".",$upload_3);
						$extension_1 = $arrayUpload_1[count($arrayUpload_1) - 1];
						$extension_2 = $arrayUpload_2[count($arrayUpload_2) - 1];
						$extension_3 = $arrayUpload_3[count($arrayUpload_3) - 1];
					?>
					<div class="admin__field"  data-index="prefix">
                        <label class="admin__field-label"  for="NEEHGU0">
                            <span>Certification Upload 1</span>
                        </label>
                        <div class="admin__field-control">
							<?php if(count(explode("pdf",$extension_1)) > 1){ ?>
							<object data="<?php echo  $block->getBaseUrl()."/pub/media/"; ?><?php echo $upload_1; ?>" type="application/pdf" width="100%" height="400px"><p><b>Example fallback content</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="#">Download PDF</a>.</p></object>
							<?php }else{ ?>
							<img src="<?php echo $block->getBaseUrl()."/pub/media/"; ?><?php echo $upload_1; ?>" width="100%" height="auto"/>
							<?php } ?>
                        </div>
                    </div>
					<div class="admin__field"  data-index="prefix">
                        <label class="admin__field-label"  for="NEEHGU0">
                            <span>Certification Upload 2</span>
                        </label>
                        <div class="admin__field-control">
							<?php if(count(explode("pdf",$extension_2)) > 1){ ?>
							<object data="<?php echo $block->getBaseUrl()."/pub/media/"; ?><?php echo $upload_2; ?>" type="application/pdf" width="100%" height="400px"><p><b>Example fallback content</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="#">Download PDF</a>.</p></object>
							<?php }else{ ?>
							<img src="<?php echo $block->getBaseUrl()."/pub/media/"; ?><?php echo $upload_2; ?>" width="100%" height="auto"/>
							<?php } ?>
                        </div>
                    </div>
					<div class="admin__field" data-index="prefix">
                        <label class="admin__field-label"  for="NEEHGU0">
                            <span>Certification Upload 3</span>
                        </label>
                        <div class="admin__field-control">
							<?php if(count(explode("pdf",$extension_3)) > 1){ ?>
							<object data="<?php echo $block->getBaseUrl()."/pub/media/"; ?><?php echo $upload_3; ?>" type="application/pdf" width="100%" height="400px"><p><b>Example fallback content</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="#">Download PDF</a>.</p></object>
							<?php }else{ ?>
							<img src="<?php echo $block->getBaseUrl()."/pub/media/"; ?><?php echo $upload_3; ?>" width="100%" height="auto"/>
							<?php } ?>
                        </div>
                    </div>
                    <?php if($dataReturn["status"] == 2){ ?>
                    <div class="admin__field" data-index="prefix">
                        <label class="admin__field-label"  for="NEEHGU0">
                            <span>Reason Cancel</span>
                        </label>
                        <div class="admin__field-control">
                            <textarea style="width: 100%;height:300px;"><?php echo $dataReturn["message_denied"] ?></textarea>
                        </div>
                    </div>
                    <?php } ?>
                </fieldset>
            </div>
        </div>
    </div>
</div>
</form>
<div id="popup-modal_cancel" style="display: none">
    <div class="block block-dashboard-orders">
        <div class="block-content" style="margin-top: 10px">
            <div class="table-wrapper orders-recent" >
                <textarea id="message" style="width: 100%;height:150px;"></textarea>
            </div>
        </div>
    </div>
</div>
<script>
    require([
        'jquery',
        'Magento_Ui/js/modal/modal',
        'Magento_Ui/js/modal/alert'
    ], function ($,modal,alert ) {
        $("#cancel").click(function(){
            $("#popup-modal_cancel").modal(options).modal('openModal');
        });
        function cancelSeller(elem){
        }
        $("#approve").click(function () {
            $('body')
                .loader({
                    icon: $('#loading_mask_loader img').attr('src')
                })
                .loader('show');
            var id_seller = $("#id_seller").val();
            $.ajax({
                url: '<?php echo $block->getApproveUrl(); ?>',
                method: "POST",
                data: {"id_seller":id_seller},
                success: function (data) {
                    $('body').loader('hide');
                    top.location.reload();
                }
            });
        });
        var options = {
            type: 'popup',
            responsive: true,
            innerScroll: true,
            title: '<?php echo __("Reason Cancel") ?>',
            buttons: [{
                text: $.mage.__('Next Step'),
                class: '',
                click: function () {
                    $('body')
                        .loader({
                            icon: $('#loading_mask_loader img').attr('src')
                        })
                        .loader('show');
                    var message = $("#message").val();
                    var id_seller = $("#id_seller").val();
                    $.ajax({
                        url: '<?php echo $block->getCancelUrl(); ?>',
                        method: "POST",
                        data: {"message":message,"id_seller":id_seller},
                        success: function (data) {
                            $('body').loader('hide');
                            top.location.reload();
                        }
                    });
                }
            }]
        };

    });
</script>