<?php

?>
<div class="page-main-actions">
    <div class="page-actions-placeholder"></div>
    <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
        <div class="page-actions-inner" data-title="Import">
            <div class="page-actions-buttons">
                <button id="upload_button" title="Check Data" type="button" class="action-default scalable save primary" onclick="varienImport.postToFrame();" data-ui-id="import-form-container-upload-button-button">
                    <span><?php echo __("Save"); ?></span>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="messages">
    <div class="messages">
        <div class="message message-notice notice">
            <div data-ui-id="messages-message-notice"><?php echo __("Hãy chắc chắn rằng bạn chọn nhà vận chuyển giao hàng toàn quốc") ?></div>
        </div>
    </div>
</div>
<div id="page:main-container" class="page-columns">
    <div class="admin__old">
        <div id="container" class="main-col">
            <script>
                require([
                    'jquery',
                    'Magento_Ui/js/modal/alert',
                    'prototype',
                    'Magento_Ui/js/modal/alert'
                ], function(jQuery, alert){

                    //<![CDATA[
                    // Temporary Class will be replaced after refactoring of import/export functionality
                    varienImport = {
                        /**
                         * Name and ID for iframe for data POST-ing.
                         * @type {string}
                         */
                        ifrElemName: 'import_post_target_frame',

                        /**
                         * List of existing behavior sets
                         * @type {Array}
                         */
                        uniqueBehaviors: ["basic_behavior","custom_behavior"],

                        /**
                         * Behaviour codes for import entities
                         * @type {Array}
                         */
                        entityBehaviors: {"advanced_pricing":"basic_behavior","catalog_product":"basic_behavior","customer_composite":"basic_behavior","customer":"custom_behavior","customer_address":"custom_behavior"},

                        /**
                         * Behaviour notes for import entities
                         * @type {Array}
                         */
                        entityBehaviorsNotes: {"advanced_pricing":[],"catalog_product":{"replace":"Note: Product IDs will be regenerated."},"customer_composite":[],"customer":[],"customer_address":[]},

                        /**
                         * Base url
                         * @type {string}
                         */
                        sampleFilesBaseUrl: 'http://testdrive.medma.tv/medmaMarketplaceM2/admin/admin_marketplace/import/download/filename/entity-name/key/f937d5fe3eca5fdfd6ff5351ed3cc4ecaf10994b727f2e7abc9989dbadfc6115/',

                        /**
                         * Reset selected index
                         * @param {string} elementId
                         */
                        resetSelectIndex: function(elementId) {
                            var element = jQuery('#' + elementId);
                            if (element) {
                                element[0].selectedIndex = 0;
                            }
                        },

                        /**
                         * Show behavior selector
                         * @param {string|boolean} entity If false, then hide all behavior selectors
                         */
                        showBehavior: function(entity) {
                            var requiredBehavior = this.entityBehaviors[entity];
                            for (i = 0; i < this.uniqueBehaviors.length; i++) {
                                var currentBehavior = this.uniqueBehaviors[i];
                                this.showBehaviorFieldset(currentBehavior, requiredBehavior == currentBehavior);
                            }
                        },

                        /**
                         * Show/hide one behavior fieldset
                         * @param {string} behaviorId
                         * @param {boolean} isShow
                         */
                        showBehaviorFieldset: function(behaviorId, isShow) {
                            var behaviorFieldset = jQuery('#' + behaviorId + '_fieldset'),
                                behaviorFields = jQuery('.' + behaviorId);
                            if (isShow) {
                                behaviorFieldset.show();
                            } else {
                                behaviorFieldset.hide();
                                this.resetSelectIndex(behaviorId);
                            }
                            behaviorFields.each(function(k, behaviorField){
                                behaviorField = jQuery(behaviorField);
                                if (isShow) {
                                    behaviorField.prop('disabled', false);
                                    behaviorField.addClass('required-entry');
                                } else {
                                    behaviorField.prop('disabled', 'disabled');
                                    behaviorField.removeClass('required-entry');
                                }
                            });
                        },

                        /**
                         * Show upload file field
                         * @param {boolean} isShow
                         */
                        showUploadFile: function(isShow) {

                        },

                        /**
                         * Show/hide sample file link
                         * @param {string} entityId
                         */
                        showSampleFile: function(entityId) {
                            var sampleFileSpan = jQuery('#vendor-sample-file-span');

                            if (entityId) {
                                var sampleFileLink = this.sampleFilesBaseUrl.replace('entity-name', entityId);
                                jQuery('#vendor-sample-file-link').attr('href', sampleFileLink);
                                if (sampleFileSpan.is(':hidden')) {
                                    sampleFileSpan.show();
                                }
                            } else {
                                sampleFileSpan.hide();
                            }
                        },

                        /**
                         * Handle value change in entity type selector
                         */
                        handleEntityTypeSelector: function() {

                        },

                        /**
                         * Handle value change in behavior selector
                         */
                        handleImportBehaviorSelector: function() {
                            var entity = jQuery('#entity');
                            if (entity && entity.val()) {
                                var notes = this.entityBehaviorsNotes[entity.val()];
                                var requiredBehavior = this.entityBehaviors[entity.val()];
                                var behaviorInput = jQuery('#' + requiredBehavior);
                                var behavior = behaviorInput && behaviorInput.val();
                                if (behavior && notes[behavior]) {
                                    jQuery('#' + requiredBehavior + '-note').html(notes[behavior]);
                                } else {
                                    jQuery('#' + requiredBehavior + '-note').html('');
                                }
                            }
                        },

                        /**
                         * Post form data to dynamic iframe.
                         * @param {string} newActionUrl OPTIONAL Change form action to this if specified
                         */
                        postToFrame: function(newActionUrl) {
                            if (!jQuery('[name="' + this.ifrElemName + '"]').length) {
                                jQuery('body').append('<iframe name="' + this.ifrElemName + '" id="' + this.ifrElemName
                                    + '" style="display:none;"/>');
                            }
                            jQuery('body')
                                .loader({
                                    icon: jQuery('#loading_mask_loader img').attr('src')
                                })
                                .loader('show');
                            var form = jQuery('#edit_form')
                                .one('invalid-form.validate', function(e){jQuery('body').loader('hide')});
                            newActionUrl = (newActionUrl ? newActionUrl : form.attr('action')) +
                                (form.attr('action').lastIndexOf('?') != -1 ? '&' : '?')+
                                'form_key=' + encodeURIComponent(form.find('[name="form_key"]').val());
                            $valueName = jQuery( "#entity option:selected" ).val();
                            jQuery.ajax({
                                url: '<?php echo $block->getSaveUrl(); ?>',
                                method: "POST",
                                data: {"valueName":$valueName},
                                success: function (data) {
                                    if(data.mess){
                                        alert({
                                            title: 'Warning',
                                            content: '<?php echo __("This shipping method was existed") ?>',
                                            actions: {
                                                always: function(){}
                                            }
                                        });
                                        jQuery('body').loader('hide');
                                        jQuery('#' + this.ifrElemName).remove();
                                    }else {
                                        var htmlRet = jQuery(data).find("#wrap-cache").html();
                                        jQuery("#wrap-cache").html(htmlRet);
                                        jQuery('body').loader('hide');
                                        jQuery('#' + this.ifrElemName).remove();
                                    }
                                }
                            });
                            /*form.trigger('save', [{
                                action: newActionUrl,
                                target: this.ifrElemName
                            }]);*/
                        },

                        /**
                         * Actions after data post complete. Hide load mask, remove iframe, run response processing method.
                         * @param {Object} response
                         */
                        postToFrameComplete: function(response) {
                            jQuery('body').loader('hide');
                            jQuery('#' + this.ifrElemName).remove();
                            this.postToFrameProcessResponse(response);
                        },

                        /**
                         * Process response JSON.
                         * @param {Object} response
                         */
                        postToFrameProcessResponse: function(response) {
                            if ('object' != typeof(response)) {
                                alert({
                                    content: 'Invalid response'
                                });

                                return false;
                            }
                            $H(response).each(function(pair) {
                                switch (pair.key) {
                                    case 'show':
                                    case 'clear':
                                    case 'hide':
                                        $H(pair.value).each(function(val) {
                                            if ($(val.value)) {
                                                $(val.value)[pair.key]();
                                            }
                                        });
                                        break;
                                    case 'innerHTML':
                                    case 'value':
                                        $H(pair.value).each(function(val) {
                                            var el = $(val.key);
                                            if (el) {
                                                el[pair.key] = val.value;
                                                // if element does not visible
                                                el.offsetWidth || el.up('div.entry-edit').show();
                                            }
                                        });
                                        break;
                                    case 'removeClassName':
                                    case 'addClassName':
                                        $H(pair.value).each(function(val) {
                                            if ($(val.key)) $(val.key)[pair.key](val.value);
                                        });
                                        break;
                                    default:
                                        alert({
                                            content: pair.key + ': ' + pair.value
                                        });
                                        break;
                                }
                            });
                        },

                        /**
                         * Send form data to Start action when file is validated.
                         * @param {string} newActionUrl
                         * @param {string} sourceFileField
                         */
                        startImport: function(newActionUrl, sourceFileField) {
                            jQuery('#' + sourceFileField).removeClass('required-entry');
                            this.postToFrame(newActionUrl);
                            jQuery('#' + sourceFileField).addClass('required-entry');
                        }
                    };
                    //]]>

                });
            </script>
            <?php
            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
            $formKey = $objectManager->get('Magento\Framework\Data\Form\FormKey');
            ?>
            <div class="entry-edit form-inline">
                <form id="edit_form" action="<?php echo $block->getSaveUrl(); ?>" method="post" enctype="multipart/form-data" novalidate="novalidate">
                    <div><input name="form_key" type="hidden" value="<?php echo $formKey->getFormKey();?>"></div>
                    <fieldset class="fieldset admin__fieldset " id="base_fieldset">
                        <legend class="admin__legend legend">
                            <span>Shipping Management</span>
                        </legend>
                        <br>
                        <div class="messages">
                        </div>
                        <div class="admin__field field field-entity  with-addon required _required" data-ui-id="import-form-container-form-fieldset-element-form-field-entity">
                            <label class="label admin__field-label" for="entity" data-ui-id="import-form-container-form-fieldset-element-select-entity-label"><span>Delivery Company</span></label>
                            <div class="admin__field-control control">
                                <div class="admin__field">
                                    <select id="entity" name="entity" title="Entity Type" onchange="varienImport.handleEntityTypeSelector();" class=" required-entry _required select admin__control-select" data-ui-id="import-form-container-form-fieldset-element-select-entity" aria-required="true">
                                        <option value="" selected="selected">-- Please Select --</option>
                                        <option value="Viettel Post">VIETTEL POST</option>
                                        <option value="Giao Hàng Tiết Kiệm">Giao Hàng Tiết Kiệm</option>
                                        <option value="DPEX">DPEX</option>
                                        <option value="UPS">UPS</option>
                                        <option value="SF">SF</option>
                                        <option value="Gold Times">Gold Times</option>
                                        <option value="DHL">DHL</option>
                                        <option value="EMS">EMS</option>
                                        <option value="Kerry Express">KERRY EXPRESS</option>
                                        <option value="Ninjavan">NINJA VAN</option>
                                    </select>
                                    <label class="addafter" for="entity">
                                        <span id="vendor-sample-file-span" class=""><a id="vendor-sample-file-link" href="#"><?php echo __("Chọn Lựa công ty shipping cho bạn.") ?></a></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="fieldset admin__fieldset" id="upload_file_fieldset">
                        <legend class="admin__legend legend">
                            <span><?php echo __("Danh sách nhà các nhà vận chuyển"); ?></span>
                        </legend>
                        <br>
                        <div class="messages">
                        </div>
                        <div class="admin__data-grid-header admin__data-grid-toolbar">
                            <div class="admin__data-grid-header-row">

                            </div>
                            <div class="_massaction admin__data-grid-header-row">
                                <div id="cache_grid_massaction" class="admin__grid-massaction">

                                    <form action="" id="cache_grid_massaction-form" method="post" novalidate="novalidate">
                                        <div class="admin__grid-massaction-form">
                                            <div><input name="form_key" type="hidden" value="TLLQwd7iM3RhNfz6"></div>
                                            <select id="cache_grid_massaction-select" class="required-entry local-validation admin__control-select _selected" data-ui-id="adminhtml-cache-massaction-select">
                                                <option class="admin__control-select-placeholder" value="" selected="">Actions</option>
                                                <option value="enable" selected="selected">Enable</option>
                                                <option value="disable">Disable</option>
                                            </select>
                                            <span class="outer-span" id="cache_grid_massaction-form-hiddens"></span>
                                            <span class="outer-span" id="cache_grid_massaction-form-additional"></span>
                                            <button id="submit-enable" title="Submit" type="button" class="action-default scalable" data-ui-id="widget-button-2">
                                                <span>Submit</span>
                                            </button>
                                        </div>
                                    </form>
                                    <div class="no-display">
                                        <div id="cache_grid_massaction-item-enable-block">
                                        </div>
                                        <div id="cache_grid_massaction-item-disable-block">
                                        </div>
                                        <div id="cache_grid_massaction-item-refresh-block">
                                        </div>
                                    </div>

                                    <div class="mass-select-wrap">
                                        <select id="cache_grid_massaction-mass-select" class="action-select-multiselect _checked" data-menu="grid-mass-select">
                                            <optgroup label="Mass Actions">
                                                <option disabled="" selected=""></option>
                                                <option value="selectAll">
                                                    Select All                    </option>
                                                <option value="unselectAll">
                                                    Unselect All                    </option>
                                            </optgroup>
                                        </select>
                                        <label for="cache_grid_massaction-mass-select"></label>
                                    </div>

                                    <script>
                                        require(['jquery','Magento_Ui/js/modal/alert'], function($,alert){
                                            'use strict';
                                            $(document).ready(function(){
                                                $("#cache_grid_massaction-mass-select").change(function(){
                                                    var $selected  = jQuery( "#cache_grid_massaction-mass-select option:selected" ).val();
                                                    console.log($selected);
                                                    switch ($selected){
                                                        case "selectAll":
                                                            var $boxes = $('input[name="types"]:checked');
                                                            if($boxes.length > 0) {
                                                                $boxes.each(function(e){
                                                                    var $value = $(this).click();
                                                                });
                                                            }
                                                            jQuery(".admin__control-checkbox").click();
                                                            break;
                                                        case "unselectAll":
                                                            var $boxes = $('input[name="types"]:checked');
                                                            console.log($boxes.length);
                                                            if($boxes.length > 0){
                                                                $boxes.each(function(e){
                                                                    var $value = $(this).click();
                                                                });
                                                            }
                                                            break;
                                                    }
                                                });
                                                $("#submit-enable").click(function(){
                                                    var $boxes = $('input[name="types"]:checked');
                                                    console.log($boxes.length);
                                                    if($boxes.length < 1){
                                                        alert({
                                                            title: 'Warning',
                                                            content: '<?php echo __("Please select shipping to mass") ?>',
                                                            actions: {
                                                                always: function(){}
                                                            }
                                                        });
                                                        return false;
                                                    }
                                                    jQuery('body')
                                                        .loader({
                                                            icon: jQuery('#loading_mask_loader img').attr('src')
                                                        })
                                                        .loader('show');
                                                    
                                                    var $boxChecked = "";
                                                    $boxes.each(function(e){
                                                        var $value = $(this).val();
                                                        $boxChecked += $value+"|";
                                                    });
                                                    $boxChecked = $boxChecked.substring(0,$boxChecked.length - 1);
                                                    console.log($boxChecked);
                                                    var $type  = jQuery( "#cache_grid_massaction-select option:selected" ).val();
                                                    jQuery.ajax({
                                                        url: '<?php echo $block->getMassActionUrl(); ?>',
                                                        method: "POST",
                                                        data: {"type-mass":$type,"checked-box":$boxChecked},
                                                        success: function (data) {
                                                            var htmlRet = jQuery(data).find("#wrap-cache").html();
                                                            jQuery("#wrap-cache").html(htmlRet);
                                                            jQuery('body').loader('hide');
                                                            jQuery('#' + this.ifrElemName).remove();
                                                        }
                                                    });
                                                });
                                            });

                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="admin__data-grid-wrap admin__data-grid-wrap-static" id="wrap-cache">

                            <table class="data-grid" id="cache_grid_table">
                                <!-- Rendering column set -->
                                <thead>
                                <tr>
                                    <th class="data-grid-th" data-column="massaction">&nbsp;</th>
                                    <th class="data-grid-th  no-link col-cache_type"><span><?php echo __("Nhà Vận Chuyển") ?></span></th>
                                    <th class="data-grid-th  no-link col-description"><span><?php echo __("Mô Tả") ?></span></th>
                                    <th data-sort="status" data-direction="asc" class="data-grid-th _sortable not-sort last col-status"><span><?php echo __("Tình Trạng") ?></span></th>                                                    </tr>
                                </thead>

                                <tbody>
                                <?php
                                $shippingData = $block->getShippingData();
                                foreach($shippingData as $_shipping){
                                    $status = $_shipping->getData("status_shipping_method");
                                ?>
                                <tr data-role="row" title="#" class="even _clickable">
                                    <td data-column="massaction" class=" col-select col-massaction data-grid-checkbox-cell ">
                                        <label class="data-grid-checkbox-cell-inner" for="id_<?php echo $_shipping->getData("id_shipping_method"); ?>">
                                            <input type="checkbox" name="types" id="id_<?php echo $_shipping->getData("id_shipping_method"); ?>" data-role="select-row" value="<?php echo $_shipping->getData("id_shipping_method"); ?>" class="admin__control-checkbox"><label for="id_<?php echo $_shipping->getData("id_shipping_method"); ?>"></label></label></td>
                                    <td data-column="cache_type" class="a-left col-cache_type  "><?php echo $_shipping->getData("title_shipping_method") ?></td>
                                    <td data-column="description" class="a-left col-description  "><?php echo $_shipping->getData("title_shipping_method") ?></td>
                                    <?php if($status == 1){ ?>
                                    <td data-column="status" class="a-left col-status  last"><span class="grid-severity-notice"><span><?php echo __("Enabled"); ?></span></span></td>
                                    <?php }else{ ?>
                                    <td data-column="status" class="a-left col-status  last"><span class="grid-severity-critical"><span><?php echo __("Disabled"); ?></span></span></td>
                                    <?php } ?>
                                </tr>
                                <?php } ?>
                                </tbody>

                            </table>
                        </div>
                    </fieldset>
                </form>
            </div>
            <script>
                require([
                    'jquery',
                    'mage/backend/form',
                    'mage/backend/validation'
                ], function($){

                    $('#edit_form').form()
                        .validation({
                            validationUrl: '',
                            highlight: function(element) {
                                var detailsElement = $(element).closest('details');
                                if (detailsElement.length && detailsElement.is('.details')) {
                                    var summaryElement = detailsElement.find('summary');
                                    if (summaryElement.length && summaryElement.attr('aria-expanded') === "false") {
                                        summaryElement.trigger('click');
                                    }
                                }
                                $(element).trigger('highlight.validate');
                            }
                        });

                });
            </script>
            <div class="entry-edit fieldset" id="import_validation_container" style="display:none;">
                <div class="entry-edit-head legend">
                    <span class="icon-head head-edit-form fieldset-legend" id="import_validation_container_header">Validation Results</span>
                </div>
                <br>
                <div id="import_validation_messages" class="fieldset">
                    <!-- -->
                </div>
            </div>
            <script>
                require(['jquery', 'Magento_Ui/js/modal/alert', 'prototype'], function(jQuery){
                    //<![CDATA[
                    varienImport.resetSelectIndex('entity'); // forced resetting entity selector after page refresh
                    //]]>

                });
            </script>
        </div>
    </div>
</div>