<?php 
/** @var \Magento\Framework\View\Element\Template $block */
?>

<div class="list-sellers">
    <div class="list-sellers-top">
        <h3 class="text-title">DANH SÁCH NHÀ BÁN HÀNG (backend)</h3>
        <p class="text-desc">Uy tín + Chất lượng + Giao hàng nhanh</p>
    </div>
	<div class="list-sellers-sidebar col-lg-3 col-sm-3 col-xs-3 pl0">
		<ul class="list-cate">
			<li><p class="list-cate-title">DANH MỤC NGÀNH NGHỀ</p></li>
			<li><a href="#">Thời trang và phụ kiện</a></li>
			<li><a href="#">Mẹ và Bé</a></li>
			<li><a href="#">Nhà cửa - Đời sống</a></li>
			<li><a href="#">Thể thao & Dã ngoại</a></li>
			<li><a href="#">Văn phòng phẩm & Quà tặng</a></li>
			<li><a href="#">Phụ kiện công nghệ</a></li>
			<li><a href="#">Sản phẩm từ Hàn Quốc</a></li>
			<li><a href="#">Sản phẩm khác</a></li>
		</ul>
		<img src="<?php echo $block->getUrl('pub/media/wysiwyg/'); ?>banner\seller-banner.png" alt="">
	</div>
	<div class="list-sellers-cnt col-lg-9 col-sm-9 col-xs-9" id="region-seller-store" data-bind="scope:'seller_store'">
        <!-- ko template: getTemplate() --><!-- /ko -->
        <script type="text/x-magento-init">
           {
               "#region-seller-store": {
                    "Magento_Ui/js/core/app": {
                        "components": {
                            "seller_store": {
                                "component": "Libero_Marketplace/js/view/seller_store"
                            }
                        }
                    }
               }
           }
        </script>
        <script>
            require([
                'mage/url',
                'Magento_Ui/js/block-loader'
            ], function(url, blockLoader) {
                blockLoader("<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>");
                return url.setBaseUrl('<?php /* @escapeNotVerified */ echo $block->getBaseUrl();?>');
            })
        </script>
	</div>
</div>