<?php 
/** @var Magento\Framework\View\Element\Template $block */
?>

<div class="product-banner full-wrapper">
	<div class="container">
		<ul>
			<li>
				<a href="#"><img src="<?php echo $block->getUrl('pub/media/wysiwyg/'); ?>product-seller1.jpg" alt=""></a>
				<a href="#"><img src="<?php echo $block->getUrl('pub/media/wysiwyg/'); ?>product-seller2.jpg" alt=""></a>
			</li>
			<li class="colspan2">
				<a href="#"><img src="<?php echo $block->getUrl('pub/media/wysiwyg/'); ?>product-seller3.jpg" alt=""></a>	
			</li>
			<li>
				<a href="#"><img src="<?php echo $block->getUrl('pub/media/wysiwyg/'); ?>product-seller4.jpg" alt=""></a>
				<a href="#"><img src="<?php echo $block->getUrl('pub/media/wysiwyg/'); ?>product-seller5.jpg" alt=""></a>
			</li>
		</ul>
	</div>
</div>

<div class="product_section">
	<div class="row full-wrapper main-row">
		<div class="container">
			<h3 class="row-title">Sản phẩm</h3>
			<div class="col-lg-12 col-md-12 left-main">
				<div class="list-product-home">
					<?php echo $block->getLayout()->createBlock("Magento\Cms\Block\Block")->setBlockId("category-product-list")->toHtml(); ?>
				</div>
			</div>
		</div>
	</div>
</div>
