<?php
/** @var \Magento\Framework\View\Element\Template $block */
?>

<div class="row full-wrapper fullwidth main-slider-row">
    <div class="container">
        <div class="image-slider-home fullwidth-cnt">
            <?php /*echo $block->getLayout()->createBlock("Magento\Cms\Block\Block")->setBlockId("main-seller-slider")->toHtml(); */?>
            <img src="<?php echo $block->getUrl('pub/media/wysiwyg/') ?>imageslider\seller-main\seller-banner1.jpg" alt=""/>
        </div>
    </div>
</div>

<div class="ws-instruduce full-wrapper">
    <div class="container">
        <ul>
            <li>
                <div class="ws-instruduce-cnt-wrapper">
                    <i class="ico64 ico-truck2"></i>
                    <div class="ws-instruduce-cnt">
                        <p class="title">Free shipping</p>
                        <p class="desc">On orders over $99</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ws-instruduce-cnt-wrapper">
                    <i class="ico64 ico-money-back"></i>
                    <div class="ws-instruduce-cnt">
                        <p class="title">30 days return</p>
                        <p class="desc">money back</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ws-instruduce-cnt-wrapper">
                    <i class="ico64 ico-piggy-bank"></i>
                    <div class="ws-instruduce-cnt">
                        <p class="title">Save 15%</p>
                        <p class="desc">On orders over $399</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="ws-open-process full-wrapper">
    <div class="container">
        <div class="ws-open-process-top">
            <h3 class="text-title">BÁN HÀNG CÙNG WISI.VN</h3>
            <p class="text-desc">Dễ dàng + Không tốn chi phí + 100% Không có rủi ro</p>
        </div>
        <div class="ws-open-process-body">
            <ul class="ws-open-process-cnt">
                <li>
                    <img src="<?php echo $block->getUrl('pub/media/wysiwyg/'); ?>icon\img-signup.png" alt=""/>
                    <p class="ws-open-process-cnt-title">ĐĂNG KÝ</p>
                    <p class="ws-open-process-cnt-desc">Explore the history of the classic Lorem Ipsum passage and generate your own text using any number of characters, words</p>
                </li>
                <li>
                    <img src="<?php echo $block->getUrl('pub/media/wysiwyg/'); ?>icon\img-create.png" alt=""/>
                    <p class="ws-open-process-cnt-title">ĐĂNG KÝ</p>
                    <p class="ws-open-process-cnt-desc">Explore the history of the classic Lorem Ipsum passage and generate your own text using any number of characters, words</p>
                </li>
                <li>
                    <img src="<?php echo $block->getUrl('pub/media/wysiwyg/'); ?>icon\img-sell.png" alt=""/>
                    <p class="ws-open-process-cnt-title">ĐĂNG KÝ</p>
                    <p class="ws-open-process-cnt-desc">Explore the history of the classic Lorem Ipsum passage and generate your own text using any number of characters, words</p>
                </li>
            </ul>
            <div class="btn-bottom">
                <button type="button" class="base-color-btn">BẮT ĐẦU NGAY</button>
            </div>
        </div>
    </div>
</div>

<div class="ws-workflow full-wrapper">
    <div class="container">
        <div class="ws-workflow-top">
            <h3 class="text-title">HOẠT ĐỘNG CỦA WISI.VN</h3>
            <p class="text-desc">Dễ dàng + Nhanh chóng + Quản lý dễ dàng</p>
        </div>
        <div class="ws-workflow-cnt">
            <ul>
                <li>
                    <img src="<?php echo $block->getUrl('pub/media/wysiwyg/'); ?>icon\img-signin.png" alt=""/>
                    <p>ĐĂNG NHẬP</p>
                </li>
                <li class="li-border"></li>
                <li>
                    <img src="<?php echo $block->getUrl('pub/media/wysiwyg/'); ?>icon\img-create-product.png" alt=""/>
                    <p>TẠO SẢN PHẨM</p>
                </li>
                <li class="li-border"></li>
                <li>
                    <img src="<?php echo $block->getUrl('pub/media/wysiwyg/'); ?>icon\img-share.png" alt=""/>
                    <p>CHIA SẺ</p>
                </li>
                <li class="li-border"></li>
                <li>
                    <img src="<?php echo $block->getUrl('pub/media/wysiwyg/'); ?>icon\img-shopping.png" alt=""/>
                    <p>BÁN HÀNG</p>
                </li>
                <li class="li-border"></li>
                <li>
                    <img src="<?php echo $block->getUrl('pub/media/wysiwyg/'); ?>icon\img-profit.png" alt=""/>
                    <p>LỢI NHUẬN</p>
                </li>
            </ul>
        </div>
    </div>
</div>