<?php
$isLogin = $block->getCustomerIfLogin();
$dataCustomer = $block->getCustomer();
?>
<div id="checkout" data-bind="scope:'checkout'" class="checkout-container">

    <!-- ko template: getTemplate() -->
    <!-- ko foreach: getRegion('authentication') -->
    <!-- ko template: getTemplate() -->
    <div class="authentication-wrapper" data-block="authentication" data-bind="visible: isActive()" style="display: none;">
        <button type="button" class="action action-auth-toggle" data-trigger="authentication">
            <span data-bind="i18n: 'Sign In'">Đăng nhập</span>
        </button>
        <aside class="modal-custom authentication-dropdown
       custom-slide
       " data-role="modal" data-type="custom" tabindex="0">
            <div data-role="focusable-start" tabindex="0"></div>
            <div class="modal-inner-wrap" data-role="focusable-scope">
                <header class="modal-header">

                    <button class="action-close" data-role="closeBtn" type="button">
                        <span>Close</span>
                    </button>
                </header>
                <div class="modal-content" data-role="content"><div class="block-authentication" style="" data-bind="mageInit: {
            'Magento_Ui/js/modal/modal':{
                'type': 'custom',
                'modalClass': 'authentication-dropdown',
                'trigger': '[data-trigger=authentication]',
                'wrapperClass': 'authentication-wrapper',
                'parentModalClass': '_has-modal-custom _has-auth-shown',
                'responsive': true,
                'responsiveClass': 'custom-slide',
                'overlayClass': 'dropdown-overlay modal-custom-overlay',
                'buttons': []
            }}">
                        <!-- ko foreach: getRegion('before') --><!-- /ko -->
                        <div class="block block-customer-login" data-bind="attr: {'data-label': $t('or')}" data-label="or">
                            <div class="block-title">
                                <strong id="block-customer-login-heading" role="heading" aria-level="2" data-bind="i18n: 'Sign In'">Đăng nhập</strong>
                            </div>
                            <!-- ko foreach: getRegion('messages') -->
                            <!-- ko template: getTemplate() -->
                            <div data-role="checkout-messages" class="messages" data-bind="visible: isVisible(), click: removeAll">
                                <!-- ko foreach: messageContainer.getErrorMessages() --><!--/ko-->
                                <!-- ko foreach: messageContainer.getSuccessMessages() --><!--/ko-->
                            </div>
                            <!-- /ko -->
                            <!--/ko-->
                            <div class="block-content" aria-labelledby="block-customer-login-heading">
                                <form data-role="login" data-bind="submit:login" method="post">
                                    <div class="fieldset" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}" data-hasrequired="* Required Fields">
                                        <div class="field field-email required">
                                            <label class="label" for="login-email"><span data-bind="i18n: 'Email Address'">Email Address</span></label>
                                            <div class="control">
                                                <input type="email" class="input-text" id="login-email" name="username" data-bind="attr: {autocomplete: autocomplete}" data-validate="{required:true, 'validate-email':true}" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="field field-password required">
                                            <label for="login-password" class="label"><span data-bind="i18n: 'Password'">Mật khẩu</span></label>
                                            <div class="control">
                                                <input type="password" class="input-text" id="login-password" name="password" data-bind="attr: {autocomplete: autocomplete}" data-validate="{required:true}" autocomplete="off">
                                            </div>
                                        </div>
                                        <!-- ko foreach: getRegion('additional-login-form-fields') -->
                                        <!-- ko template: getTemplate() -->
                                        <!-- ko if: (isRequired() && getIsVisible())--><!-- /ko -->
                                        <!-- /ko -->
                                        <!-- /ko -->
                                    </div>
                                    <div class="actions-toolbar">
                                        <input name="context" type="hidden" value="checkout">
                                        <div class="primary">
                                            <button type="submit" class="action action-login secondary"><span data-bind="i18n: 'Sign In'">Đăng nhập</span></button>
                                        </div>
                                        <div class="secondary">
                                            <a class="action action-remind" data-bind="attr: { href: forgotPasswordUrl }" href="http://www.devlibero.com/customer/account/forgotpassword/">
                                                <span data-bind="i18n: 'Forgot Your Password?'">Quên mật khẩu?</span>
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div></div>

            </div>
            <div data-role="focusable-end" tabindex="0"></div>
        </aside>
    </div>
    <!-- /ko -->
    <!--/ko-->
    
    <!-- ko foreach: getRegion('progressBar')
    ko template: getTemplate()
    <ul class="opc-progress-bar">
        ko foreach: { data: steps().sort(sortItems), as: 'item' }
        <li class="opc-progress-bar-item _active" id="shipping_process" data-bind="css: item.isVisible() ? '_active' : ($parent.isProcessed(item) ? '_complete' : '')">
            <span data-bind="i18n: item.title, click: $parent.navigateTo"><?php echo __("Shipping"); ?></span>
        </li>
    
        <li class="opc-progress-bar-item" id="payment_process" data-bind="css: item.isVisible() ? '_active' : ($parent.isProcessed(item) ? '_complete' : '')">
            <span data-bind="i18n: item.title, click: $parent.navigateTo"><?php echo __("Review & Payments"); ?></span>
        </li>
        /ko
    </ul>
    /ko
    /ko -->

    <div class="processing-container">
        <ul>
            <li class="on"><i class="ico32 ico-checkout-shopping"></i><p>Purchase</p><div class="border"></div></li>
            <li><i class="ico32 ico-checkout-gift"></i><p>Product prepare</p><div class="border"></div></li>
            <li><i class="ico32 ico-checkout-delivery"></i><p>On delivery</p><div class="border"></div></li>
            <li><i class="ico32 ico-checkout-checked"></i><p>Complete</p><div class="border"></div></li>
        </ul>
    </div>

    <!-- ko foreach: getRegion('estimation') -->
    <!-- ko template: getTemplate() -->
    <div class="opc-estimated-wrapper" data-bind="blockLoader: isLoading">
        <div class="estimated-block">
            <span class="estimated-label" data-bind="i18n: 'Estimated Total'">Estimated Total</span>
            <span class="estimated-price" data-bind="text: getValue()">138,00&nbsp;₫</span>
        </div>
        <div class="minicart-wrapper">
            <button type="button" class="action showcart" data-bind="click: showSidebar" data-toggle="opc-summary">
            <span class="counter qty">
                <span class="counter-number" data-bind="text: getQuantity()">2</span>
            </span>
            </button>
        </div>
    </div>
    <!-- /ko -->
    <!--/ko-->

    <!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() -->
    <div data-role="checkout-messages" class="messages" data-bind="visible: isVisible(), click: removeAll">
        <!-- ko foreach: messageContainer.getErrorMessages() --><!--/ko-->
        <!-- ko foreach: messageContainer.getSuccessMessages() --><!--/ko-->
    </div>
    <!-- /ko -->
    <!--/ko-->
    <div class="opc-wrapper">
        <ol class="opc" id="checkoutSteps">
            <!-- ko foreach: getRegion('steps') -->
            <!-- ko template: getTemplate() -->
            <!-- ko foreach: {data: elems, as: 'element'} -->
            <!-- ko if: hasTemplate() --><!-- ko template: getTemplate() -->
            <!-- ko foreach: {data: elems, as: 'element'} -->
            <!-- ko if: hasTemplate() --><!-- ko template: getTemplate() -->
            <!-- ko foreach: {data: elems, as: 'element'} --><!-- /ko -->
            <!-- /ko --><!-- /ko -->

            <!-- ko if: hasTemplate() --><!-- ko template: getTemplate() -->
            <li id="shipping" class="checkout-shipping-address" data-bind="fadeVisible: visible()">
                <?php echo $block->getChildHtml("onestepcheckout_index_address"); ?>
            </li>

            <!--Shipping method template-->
            <li id="opc-shipping_method" class="checkout-shipping-method" data-bind="fadeVisible: visible(), blockLoader: isLoading" role="presentation">
                <?php echo $block->getChildHtml("onestepcheckout_index_shipping"); ?>
            </li>
            <!-- /ko --><!-- /ko -->
            <!-- /ko -->
            <!-- /ko --><!-- /ko -->

            <!-- ko if: hasTemplate() --><!-- ko template: getTemplate() -->
            <!-- ko foreach: {data: elems, as: 'element'} -->
            <!-- ko if: hasTemplate() --><!-- ko template: getTemplate() -->
            <li id="payment" role="presentation" class="checkout-payment-method" data-bind="fadeVisible: isVisible" style="display: none;">
                <?php echo $block->getChildHtml("onestepcheckout_index_payment"); ?>
            </li>
            <!-- /ko --><!-- /ko -->
            <!-- /ko -->
            <!-- /ko --><!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
            <!--/ko-->
        </ol>
    </div>
    <!-- ko foreach: getRegion('sidebar') -->
    <!-- ko template: getTemplate() -->
    <!-- /ko -->
    <!--/ko-->
    <!-- /ko -->
    <script>
        require([
            'mage/url',
            'Magento_Ui/js/block-loader'
        ], function(url, blockLoader) {
            blockLoader("http://www.devlibero.com/pub/static/version1519187074/frontend/Sm/market/vi_VN/images/loader-1.gif");
            return url.setBaseUrl('http://www.devlibero.com/');
        })
    </script>
    <aside class="modal-custom opc-sidebar opc-summary-wrapper custom-slide" id="right-sider" data-role="modal" data-type="custom" tabindex="0">
        <div data-role="focusable-start" tabindex="0"></div>
        <div class="modal-inner-wrap" data-role="focusable-scope">
            <header class="modal-header">

                <button class="action-close" data-role="closeBtn" type="button">
                    <span>Close</span>
                </button>
            </header>
            <div class="modal-content" data-role="content">
                <div id="opc-sidebar">
                    <?php echo $block->getChildHtml("onestepcheckout_index_cart"); ?>
                </div>
            </div>
        </div>
        <div data-role="focusable-end" tabindex="0"></div>
    </aside>
</div>