<?php 
/** @var \Magento\Theme\Block\Html\Header\Logo $block */
?>

<div class="store-banner">
	<?php echo $block->getLayout()->createBlock("\Magento\Cms\Block\Block")->setBlockId("store-banner-img")->toHtml(); ?>
</div>
<div class="store-info">
	<div class="store-img">
		<img src="<?php /* @escapeNotVerified */ echo $block->getLogoSrc() ?>"alt="<?php /* @escapeNotVerified */ echo $block->getLogoAlt() ?>"<?php echo $block->getLogoWidth() ? 'width="' . $block->getLogoWidth() . '"' : '' ?> <?php echo $block->getLogoHeight() ? 'height="' . $block->getLogoHeight() . '"' : '' ?> />
	</div>
	<div class="store-info-cnt">
		<div class="store-name">SOSOBIN SHOP</div>
		<div class="store-review">
			<div class="product-reviews-summary" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
		        <div class="rating-summary">
		        	<span class="label"><span>Xếp hạng:</span></span>
		        	<div class="rating-result" title="67%">
		        	    <span style="width:67%"><span><span itemprop="ratingValue">67</span>% of <span itemprop="bestRating">100</span></span></span>
		        	</div>
		    	</div>
		        <div class="reviews-actions">
			        <a class="action view" href="#"><span itemprop="reviewCount">3</span>&nbsp;<span>Các đánh giá</span></a>
			        <a class="action add" href="#">Thêm nhận xét của bạn</a>
			    </div>
			</div>
		</div>
		<div class="store-desc">
			<p>Labore proident sint cillum in sit ut ad tempor aliqua sunt culpa quis nisi officia non velit pariatur exercitation ea magna fugiat est duis ut sunt. Lorem ipsum consectetur laborum elit exercitation voluptate velit in sint reprehenderit quis ex sunt tempor dolor tempor voluptate exercitation sunt laboris fugiat irure. Incididunt deserunt eiusmod pariatur nulla reprehenderit aliqua ut adipisicing ut voluptate velit deserunt in laborum deserunt do consequat do elit aliqua eu aliquip magna id aute sunt consequat irure consectetur dolor ea tempor aliquip eu amet.</p>
		</div>
	</div>
	<div class="chat-to-store">
		<button type="button" class="base-color-btn">CHAT VỚI SHOP</button>
	</div>
</div>