<ul data-bind="foreach: stores">
    <li>
        <a data-bind="attr: {href: link}">
            <div class="cover-seller"></div>
            <img data-bind="attr: { src: link_image}"/>
            <span class="biz-type" data-bind="text: biz_type"></span>
        </a>
    </li>
</ul>
<div class="btn-bottom">
    <button type="button" data-bind="click: getStoreSellers" class="base-color-btn">XEM TẤT CẢ</button>
</div>