<?php
$data = $block->getDataRequestProduct();
$urlSave = $block->getAdminUrl();
//Gọi model ra ngoài nay luôn
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$order_id = $data["order_id"];
$id_reason = $data["reason"];
$id_packaged = $data["package"];
$formKey = $objectManager->get('Magento\Framework\Data\Form\FormKey');
$order = $objectManager->create('\Magento\Sales\Model\Order')->load($order_id);
$modelReason = $objectManager->create('Libero\RMA\Model\RequestReason')->load($id_reason);
$modelPackage = $objectManager->create('Libero\RMA\Model\RequestPackage')->load($id_packaged);
$modelResolution = $objectManager->create('Libero\RMA\Model\RequestResolution');
$modelStatus = $objectManager->create('Libero\RMA\Model\RequestStatus');
$collectionResolution = $modelResolution->getCollection();
$collectionStatus = $modelStatus->getCollection();
$final_price = $order["total_due"];
$customer_name = $order["customer_firstname"]."".$order["customer_lastname"];
$labelReason = $modelReason->getData("reason_label");
$labelPackage = $modelPackage->getData("package_label");
$productName = "";
$updated_at = $data["update_at"];
$created_at = $data["create_at"];
$checked_resolution = $data["resolution"];
$checked_status = $data["status"];
$items = $order->getAllItems();
foreach($items as $i):
    $_product = $objectManager->create('Magento\Catalog\Model\Product')->load($i->getProductId())->getName();
    $productName.=$_product."<br/>";
endforeach;
?>
<div class="admin__data-grid-wrap admin__data-grid-wrap-static">
    <table class="data-grid" id="id_08f6399c86daf4e45213cdd571efba1f_table">
        <thead>
            <tr>
                <th data-sort="id_request" data-direction="asc" class="data-grid-th _sortable not-sort  col-id_request"><span>ID</span></th>
                <th data-sort="customer_name" data-direction="asc" class="data-grid-th _sortable not-sort  col-customer_name"><span>Customer Name</span></th>
                <th data-sort="customer_email" data-direction="asc" class="data-grid-th _sortable not-sort  col-customer_email"><span>Reason</span></th>
                <th data-sort="product_id" data-direction="asc" class="data-grid-th _sortable not-sort  col-product_id"><span>Product</span></th>
                <th data-sort="reason" data-direction="asc" class="data-grid-th _sortable not-sort  col-reason"><span>Price</span></th>
                <th data-sort="resolution" data-direction="asc" class="data-grid-th _sortable not-sort  col-resolution"><span>Package</span></th>
                <th data-sort="status" data-direction="asc" class="data-grid-th _sortable not-sort  col-status"><span>Updated At</span></th>
                <th data-sort="created_at" data-direction="asc" class="data-grid-th _sortable not-sort  col-created_at"><span>Created At</span></th>
            </tr>
        </thead>
        <tbody>
        <tr title="#" class="even _clickable">
            <td class=" col-id_request"><?php echo $data["id_request"]; ?></td>
            <td class=" col-customer_name"><?php echo $customer_name; ?></td>
            <td class=" col-customer_email"><span class="grid-severity-notice"><?php echo $labelReason; ?></span></td>
            <td class=" col-product_id"><?php echo $productName; ?></td>
            <td class=" col-reason"><?php echo $final_price ?></span></td>
            <td class=" col-resolution"><span class="grid-severity-notice"><?php echo $labelPackage ?></span></td>
            <td class=" col-status"><?php echo $updated_at; ?></span></td>
            <td class=" col-created_at"><?php echo $created_at ?></td>
        </tr>
        </tbody>
    </table>
    <style>
        .admin__field-label{
            display: inline-block !important;
        }
        .admin__field-control{
            display: inline-block !important;
        }
        .admin__field+.admin__field{
            text-align: right;
        }
    </style>
    <form action="<?php echo $urlSave; ?>" name="form_save_request" id="form_save_request" method="post">
        <input name="form_key" type="hidden" value="<?php echo $formKey->getFormKey();?>">
        <input  type="hidden" name="id_request" value="<?php echo $data["id_request"]; ?>">
        <section class="admin__page-section">
            <div class="admin__page-section-title">
                <span class="title"></span>
            </div>
            <div class="admin__page-section-content">
                <div class="admin__page-section-item order-comments-history" style="float: right;width: auto">
                    <div id="order_history_block" class="edit-order-comments">
                        <div class="order-history-block" id="history_form">
                            <label for="history_status" style="font-weight:bold" class="admin__field-label">Message</label>
                            <div class="admin__field">
                                <div class="admin__field-control">
                                    <textarea name="message_note" style="width: 750px;height:165px"><?php echo $data["message"]; ?></textarea>
                                </div>
                            </div>
                            <div class="admin__field">
                                <label for="history_status" class="admin__field-label">Resolution</label>
                                <div class="admin__field-control">
                                    <select name="resolution" id="resolution" class="admin__control-select">
                                        <?php foreach ($collectionResolution as $_resolution): ?>
                                            <option value="<?php echo $_resolution->getData("id_resolution") ?>" <?php echo $checked_resolution==$_resolution->getData("id_resolution")?  'selected="selected"' :  '' ?> ><?php echo $_resolution->getData("resolution_label") ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="admin__field">
                                <label for="status" class="admin__field-label">Status</label>
                                <div class="admin__field-control">
                                    <select name="status" id="status" class="admin__control-select">
                                        <?php foreach ($collectionStatus as $_status): ?>
                                            <option value="<?php echo $_status->getData("id_workflow") ?>" <?php echo $checked_status==$_status->getData("id_workflow")? 'selected="selected"' : '' ?> ><?php echo $_status->getData("status_label") ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="admin__field">
                                <div class="order-history-comments-actions">
                                    <button id="" title="Submit Comment" type="submit" class="action-default scalable action-save action-secondary" data-ui-id="widget-button-0">
                                        <span><?php echo __("Approve"); ?></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>
